<footer class="bg-custom-dark-blue text-light py-4">
    <div class="container-fluid">
        <div class="row">
            <!-- Columna de imagen y nombre -->
            <div class="col-12 col-md-3 mb-4 mb-md-0 d-flex align-items-center justify-content-center">
                <img src="https://tecsum.edu.mx/Images/Iconos/Logos/Tecsum_Logo.webp" alt="Tecsum" class="img-fluid mb-2" loading="lazy" style="max-width: 150px;">
            </div>
            <!-- Columna de información de contacto -->
            <div class="col-12 col-md-4 mb-4 mb-md-0 footer-social">
                <h5>Información de Contacto</h5>
                <p class="m-0"><strong>Plantel Naucalpan:</strong></p>
                <p class="m-0">Hidalgo 1, Naucalpan Centro, 53000 Naucalpan de Juárez, Méx.</p>
                <p class="m-0">Teléfono: 55-55-76 32-42</p>
                <br>
                <p class="m-0"><strong>Plantel Tlalnepantla:</strong></p>
                <p class="m-0">Calle Cuitláhuac 220, Hab la Romana, 54030 Tlalnepantla, Méx.</p>
                <p class="m-0">Teléfono: 55-70-95-38-99</p>
                <br>
                {# <p class="m-0"><strong>Plantel Nicolás Romero:</strong></p>
                <p class="m-0">C. Prol. Aldama 16, Hidalgo, 54434 Cdad. Nicolás Romero, Méx.</p>
                <p class="m-0">Teléfono: 55-16-60-60-16</p>
                <br> #}
                <p class="m-0">Correo: tecsum.contacto@gmail.com</p>
            </div>
            <!-- Columna de enlaces rápidos -->
            <div class="col-12 col-md-3 mb-4 mb-md-0">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light">Inicio</a></li>
                    <li><a href="/acerca" class="text-light">Acerca de Nosotros</a></li>
                    <li><a href="/comunidad-tecsum" class="text-light">Comunidad Tecsum</a></li>
                    {# <li><a href="/Contacto" class="text-light">Contacto</a></li> #}
                    <li><a href="/Inscribete" class="text-light">Inscríbete</a></li>
                </ul>
            </div>
            <!-- Columna de redes sociales -->
            <div class="col-12 col-md-2 text-center">
                <h5>Síguenos</h5>
                <a href="https://www.facebook.com/profile.php?id=100064128123845" class="text-light me-2"><img src="https://tecsum.edu.mx/Images/Iconos/Redes_Sociales/Facebook.webp" alt="Facebook" loading="lazy" style="width: 32px;"></a>
                <a href="https://www.instagram.com/gcecovam/" class="text-light"><img src="https://tecsum.edu.mx/Images/Iconos/Redes_Sociales/Instagram.webp" alt="Instagram" loading="lazy" style="width: 32px;"></a>
            </div>
        </div>
    </div>
</footer>
