<footer class="bg-custom-dark-blue text-light py-4">
    <div class="container-fluid">
        <div class="row">
            <!-- Columna de imagen y nombre -->
            <div class="col-12 col-md-3 mb-4 mb-md-0 text-center">
                <img src="/img/Tecsum-Img.webp" alt="Tecsum" class="img-fluid mb-2" style="max-width: 150px;">
                <p class="m-0">Tecsum</p>
            </div>
            <!-- Columna de información de contacto -->
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <h5>Información de Contacto</h5>
                <p class="m-0"><strong>Plantel Naucalpan:</strong></p>
                <p class="m-0">Dirección: Av. Ejemplo 1, Naucalpan, Estado de México</p>
                <p class="m-0">Teléfono: +52 123 456 7891</p>
                <br>
                <p class="m-0"><strong>Plantel Tlalnepantla:</strong></p>
                <p class="m-0">Dirección: Av. Ejemplo 2, Tlalnepantla, Estado de México</p>
                <p class="m-0">Teléfono: +52 123 456 7892</p>
                <br>
                <p class="m-0"><strong>Plantel Nicolás Romero:</strong></p>
                <p class="m-0">Dirección: Av. Ejemplo 3, Nicolás Romero, Estado de México</p>
                <p class="m-0">Teléfono: +52 123 456 7893</p>
                <br>
                <p class="m-0">Correo: contacto@tecsum.edu.mx</p>
            </div>
            <!-- Columna de enlaces rápidos -->
            <div class="col-12 col-md-3 mb-4 mb-md-0">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light">Inicio</a></li>
                    <li><a href="/acerca-de-nosotros" class="text-light">Acerca de Nosotros</a></li>
                    <li><a href="/planteles" class="text-light">Planteles</a></li>
                    <li><a href="/comunidad-tecsum" class="text-light">Comunidad Tecsum</a></li>
                    <li><a href="/contacto" class="text-light">Contacto</a></li>
                    <li><a href="/inscribete" class="text-light">Inscríbete</a></li>
                </ul>
            </div>
            <!-- Columna de redes sociales -->
            <div class="col-12 col-md-2 text-center">
                <h5>Síguenos</h5>
                <a href="https://www.facebook.com/profile.php?id=100064128123845" class="text-light me-2"><img src="/img/Facebook-Icon.png" alt="Facebook" style="width: 32px;"></a>
                <a href="https://www.instagram.com/gcecovam/" class="text-light"><img src="/img/Instagram-Icon.png" alt="Instagram" style="width: 32px;"></a>
            </div>
        </div>
    </div>
</footer>
