<nav class="navbar  navbar-expand-lg bg-custom-dark-blue" data-bs-theme="custom-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
         <img src="https://tecsum.edu.mx/Images/Iconos/Logos/Tecsum_Logo.webp" alt="Tecsum" width="100" height="100">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {# Names Buttons #}

    <div class="collapse navbar-collapse" id="navbarNavDropdown" >
      <ul class="navbar-nav mx-auto ul-header" >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/acerca">Acerca de Tecsum</a>
        </li>

    {# Dropdowns #}

    {# Inicio- Drop- Bachilleratos #}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bachilleratos
          </a>
          <ul class="dropdown-menu">

            <li><a class="dropdown-item disabled">Tecnológico</a></li>
             <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/Bachilleratos/Tecnologicos/Enfermeria">Enfermeria General</a></li>
            <li><a class="dropdown-item" href="/Bachilleratos/Tecnologicos/Programacion">Programación</a></li>
            <li><a class="dropdown-item" href="/Bachilleratos/Tecnologicos/Contabilidad">Contabilidad</a></li>
            <li><a class="dropdown-item" href="/Bachilleratos/Tecnologicos/Diseno-Publicitario">Diseño Publicitario</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item disabled">Con Diplomado</a></li>
             <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/Bachilleratos/Con-Diplomado/Gastronomia">Gastronomía</a></li>
            <li><a class="dropdown-item" href="/Bachilleratos/Con-Diplomado/Belleza">Belleza</a></li>
            <li><a class="dropdown-item" href="/Bachilleratos/Con-Diplomado/Asistente-Educativo">Asistente Educativo</a></li>
          </ul>
        </li>

    {# Final- Drop- Bachilleratos #}

    {# Inicio- Drop- Especialidades #}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Especialidades / Diplomados
          </a>
          <ul class="dropdown-menu w-100">
            {# <li><a class="dropdown-item disabled">Formacion para el trabajo</a></li> #}
            {# <li><hr class="dropdown-divider"></li>             #}
            <li><a class="dropdown-item" href="/Especialidades/Belleza-Esp">Cultora de Belleza</a></li>
            <li><a class="dropdown-item" href="/Especialidades/Dibujo-Publicitario-Esp">Dibujo Publicitario</a></li>
            <li><a class="dropdown-item" href="/Especialidades/Asistente-Educativo-Esp">Asistente Educativo</a></li>
            <li><a class="dropdown-item" href="/Especialidades/Gastronomia-Esp">Gastronomía</a></li>
            <li><a class="dropdown-item" href="/Especialidades/Mtto-Computadoras-Esp">Mtto. De Computadoras</a></li>
            <li><a class="dropdown-item" href="/Especialidades/Programacion-Esp">Programación</a></li>
            <li><a class="dropdown-item" href="/Especialidades/Contabilidad-Esp">Contabilidad</a></li>
            <li><a class="dropdown-item" href="/Especialidades/Ingles-Esp">Inglés</a></li>
          </ul>
        </li>
    {# Final- Drop- Especialidades #}

    {# Inicio- Drop- Cursos #}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cursos
          </a>
          <ul class="dropdown-menu">
          {# <li><a class="dropdown-item disabled">Cursos</a></li>
          <li><hr class="dropdown-divider"></li> #}
          <li><a class="dropdown-item" href="/Cursos/Pasta-Hojaldre">Pasta Hojaldre</a></li>
          <li><a class="dropdown-item" href="/Cursos/Excel-Intermedio-Curso">Pestañas 2do Nivel</a></li>
          <li><a class="dropdown-item" href="/Cursos/Uñas-1er-Nivel-Curso">Uñas 1er Nivel</a></li>
          <li><a class="dropdown-item" href="/Cursos/Reposteria-Curso">Automaquillaje y Maquillaje</a></li>
          <li><a class="dropdown-item" href="/Cursos/Pasteles-Curso">Caracterizacion Basica</a></li>
          <li><a class="dropdown-item" href="/Cursos/Pasteles-Curso">Masaje Pindas y Auriculoterapia</a></li>
          <li><a class="dropdown-item" href="/Cursos/Barberia-Curso">Barberia</a></li>
          <li><a class="dropdown-item" href="/Cursos/Barberia-Curso">Pasteles</a></li>
          {# <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item disabled">Diplomados</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/Diplomados/Asistente-Educativo-Diplomado">Asistente Educativo</a></li>
          <li><a class="dropdown-item" href="/Diplomados/Ingles-Diplomado">Inglés</a></li>
          <li><a class="dropdown-item" href="/Diplomados/Gastronomia-Diplomado">Gastronomía</a></li>
          <li><a class="dropdown-item" href="/Diplomados/Dibujo-Publicitario-Diplomado">Dibujo Publicitario</a></li>
          <li><a class="dropdown-item" href="/Especialidades/Belleza-Esp">Cultora de Belleza</a></li>
          <li><a class="dropdown-item" href="/Especialidades/Programacion-Esp">Programación</a></li>
          <li><a class="dropdown-item" href="/Especialidades/Contabilidad-Esp">Contabilidad</a></li>
          <li><a class="dropdown-item" href="/Especialidades/Mtto-Computadoras-Esp">Mtto. De Computadoras</a></li> #}

          
          </ul>
        </li>
    {# Final- Drop- Cursos #}

        {# Inicio- Drop- Planteles #}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Planteles
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Planteles/Naucalpan">Naucalpan</a></li>
            <li><a class="dropdown-item" href="/Planteles/Tlalnepantla">Tlalnepantla</a></li>
            {# <li><a class="dropdown-item" href="/Planteles/Nicolas-Romero">Nicolás Romero</a></li> #}
          </ul>
        </li>
    {# Final- Drop- Planteles #}

    {# Comunidad #}
        <li class="nav-item">
          <a class="nav-link" href="/comunidad-tecsum">Comunidad</a>
        </li>
    {# Contacto #}
        {# <li class="nav-item">
          <a class="nav-link" href="/Contacto">Contacto</a>
        </li> #}
      </ul>
    {# Inscribete #}
    <div class="pe-2 py-md-2">
        <a class="btn btn-custom-blue" type="button" href="/Inscribete">INSCRIBETE</a>
    </div>
    </div>
  </div>
</nav>