<nav class="navbar  navbar-expand-xl bg-custom-dark-blue" data-bs-theme="custom-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/img/Iconos/Logos/Tecsum_Logo.webp" alt="Tecsum"  width="100" height="100">
      <img src="/img/Iconos/Logos/Cecovam-Logo.webp" alt="Tecsum" class="ms-3" width="90" height="90">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {# Names Buttons #}
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto ul-header">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/acerca">Acerca de Tecsum</a>
        </li>
        {# Dropdowns #}
        {# Inicio- Drop- Bachilleratos #}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bachilleratos
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item disabled">Tecnológico</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="/Bachilleratos/Tecnologicos/Enfermeria">Enfermeria General</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Bachilleratos/Tecnologicos/Programacion">Programación</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Bachilleratos/Tecnologicos/Contabilidad">Contabilidad</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Bachilleratos/Tecnologicos/Diseno-Publicitario">Diseño Publicitario</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item disabled">Con Diplomado</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="/Bachilleratos/Con-Diplomado/Gastronomia">Gastronomía</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Bachilleratos/Con-Diplomado/Belleza">Belleza</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Bachilleratos/Con-Diplomado/Asistente-educativo">Asistente Educativo</a>
            </li>
          </ul>
        </li>
        {# Final- Drop- Bachilleratos #}
        {# Inicio- Drop- Especialidades #}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Especialidades / Diplomados
          </a>
          <ul class="dropdown-menu w-100">
            <li>
              <a class="dropdown-item disabled">Diplomados</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Especialidades/Belleza-Esp">Cultora de Belleza</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Especialidades/Dibujo-Publicitario-Esp">Dibujo Publicitario</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Especialidades/Asistente-Educativo-Esp">Asistente Educativo</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Especialidades/Gastronomia-Esp">Gastronomía</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Especialidades/Mtto-Computadoras-Esp">Mtto. De Computadoras</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Especialidades/Programacion-Esp">Programación</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Especialidades/Contabilidad-Esp">Contabilidad</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Especialidades/Ingles-Esp">Inglés</a>
            </li>
          </ul>
        </li>
        {# Final- Drop- Especialidades #}
        {# Inicio- Drop- LICENCIATURAS #}
        {# <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Licenciaturas / Ingenierias
                          </a>
                          <ul class="dropdown-menu w-100">
                            <li><a class="dropdown-item disabled">Ingenierias</a></li>
                            <li><a class="dropdown-item" href="/Licenciaturas/INGENIERIAS/MECATRONICA">Mecatronica</a></li>
                            <li><a class="dropdown-item" href="/Licenciaturas/INGENIERIAS/SISTEMAS">Sistemas Computacionales</a></li>
                            <li><a class="dropdown-item" href="/Licenciaturas/INGENIERIAS/ARQUITECTURA">Arquitectura</a></li>
                            <li><a class="dropdown-item disabled">Licenciaturas</a></li>
                            <li><a class="dropdown-item" href="/Licenciaturas/LICENCIATURAS-HUMANISTICAS/ADMINISTRACION">Administracion de empresas</a></li>
                            <li><a class="dropdown-item" href="/Licenciaturas/LICENCIATURAS-HUMANISTICAS/CONTADURIA">Contaduría</a></li>
                            <li><a class="dropdown-item" href="/Licenciaturas/LICENCIATURAS-HUMANISTICAS/CRIMINALISTICA">Criminalistica</a></li>
                            <li><a class="dropdown-item" href="/Licenciaturas/LICENCIATURAS-HUMANISTICAS/MERCADOTECNIA">Mercadotecnia</a></li>
                            <li><a class="dropdown-item" href="/Licenciaturas/LICENCIATURAS-HUMANISTICAS/negocios"> Negocios Internacionales</a></li>
                            <li><a class="dropdown-item" href="/Licenciaturas/LICENCIATURAS-HUMANISTICAS/PSICOPEDAGOGIA">Psicopedagogia</a></li>
                          </ul>
                        </li> #}
          <li class="nav-item"> <a class="nav-link" href="/Licenciaturas/Licenciaturas_Listado">Licenciaturas</a>
        </li>
        {# Final- Drop- Especialidades #}
        {# Inicio- Drop- Cursos #}
        {# <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Cursos
                          </a>
                          <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/Cursos/Pasta-Hojaldre">Pasta Hojaldre</a></li>
                          <li><a class="dropdown-item" href="/Cursos/Pestañas-2do-Nivel">Pestañas 2do Nivel</a></li>
                          <li><a class="dropdown-item" href="/Cursos/Uñas-1er-Nivel">Uñas 1er Nivel</a></li>
                          <li><a class="dropdown-item" href="/Cursos/Auto-Maquillaje">Automaquillaje y Maquillaje</a></li>
                          <li><a class="dropdown-item" href="/Cursos/Caracterizacion-Basica">Caracterizacion Basica</a></li>
                          <li><a class="dropdown-item" href="/Cursos/Masaje-Pindas">Masaje Pindas y Auriculoterapia</a></li>          
                          </ul>
                        </li> #}
        {# Final- Drop- Cursos #}
        {# Inicio- Drop- Planteles #}
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Planteles
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/Planteles/Naucalpan">Naucalpan</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Planteles/Tlalnepantla">Tlalnepantla</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Planteles/Nicolas-Romero">Nicolás Romero</a>
            </li>
          </ul>
        </li>
        {# Final- Drop- Planteles #}
        {# Comunidad #}
        <li class="nav-item">
          <a class="nav-link" href="/comunidad-tecsum">Comunidad</a>
        </li>
        {# Contacto #}
        {# <li class="nav-item">
                          <a class="nav-link" href="/Contacto">Contacto</a>
                        </li> #}
      </ul>
      {# Inscribete #}
      <div class="pe-2 py-md-2">
        <a class="btn btn-custom-blue" type="button" href="/Inscribete">INSCRIBETE</a>
      </div>
    </div>
  </div>
</nav>