<!-- Popup de la Galería de Imágenes -->
<div class="popup-image">
  <span class="close">&times;</span>
  <span class="prev">&#10094;</span> <!-- Flecha anterior -->
  <img src="" alt="Imagen en Popup">
  <span class="next">&#10095;</span> <!-- Flecha siguiente -->
</div>
