<!-- Botón de WhatsApp -->
<div class="whatsapp-button">
    <img src="/img/whatsapp-icon2.png" alt="WhatsApp">
</div>
<!-- Popup de WhatsApp -->
<div class="whatsapp-popup">
    <!-- Encabezado con el logo de WhatsApp -->
    <div class="whatsapp-header">
        <img src="/img/whatsapp-icon2.png" alt="WhatsApp">
        <p>Contáctanos por WhatsApp</p>
    </div>
    
    <div class="mt-4">
        <!-- Botones para cada plantel -->
        <a href="#" class="Horizontal-card" data-phone="525514699897">
            <img src="/img/whatsapp-icon2.png" alt="Imagen">
            <div class="Horizontal-card-content">
                <h3>Plantel Naucalpan</h3>
            </div>
        </a>

        <a href="#" class="Horizontal-card" data-phone="525545206552">
            <img src="/img/whatsapp-icon2.png" alt="Imagen">
            <div class="Horizontal-card-content">
                <h3>Plantel Tlalnepantla</h3>
            </div>
        </a>

        <a href="#" class="Horizontal-card" data-phone="525545206553">
            <img src="/img/whatsapp-icon2.png" alt="Imagen">
            <div class="Horizontal-card-content">
                <h3>Plantel Nicolás Romero</h3>
            </div>
        </a>
    </div>
</div>
