 <!-- Floating Action Button y Menú -->
    <div class="flab">
        <button class="flab-button">
            <img src="/img/Iconos/Redes_Sociales/Whatsapp.webp" alt="Menú" class="flab-icon">
        </button>
        <div class="flab-menu">
            <div class="flab-menu-item-container">
                <span class="flab-menu-text">Plantel Naucalpan</span>
                <button class="flab-menu-item" data-phone="525543074271">
                    <img src="/img/Iconos/Redes_Sociales/Whatsapp.webp" alt="Plantel Naucalpan" class="flab-icon">
                </button>
            </div>
            <div class="flab-menu-item-container">
                <span class="flab-menu-text">Plantel Tlalnepantla</span>
                <button class="flab-menu-item" data-phone="525521862525">
                    <img src="/img/Iconos/Redes_Sociales/Whatsapp.webp" alt="Plantel Tlalnepantla" class="flab-icon">
                </button>
            </div>
             <div class="flab-menu-item-container">
                <span class="flab-menu-text">Plantel Nicolás Romero</span>
                <button class="flab-menu-item" data-phone="525522188593">
                    <img src="/img/Iconos/Redes_Sociales/Whatsapp.webp" alt="Plantel Nicolas Romero" class="flab-icon">
                </button>
            </div>
            
        </div>
    </div>