 <!-- Floating Action Button y Menú -->
    <div class="fab">
        <button class="fab-button">
            <img src="https://tecsum.edu.mx/Images/Iconos/Redes_Sociales/Whatsapp.webp" alt="Menú" class="fab-icon">
        </button>
        <div class="fab-menu">
            <div class="fab-menu-item-container">
                <span class="fab-menu-text">Plantel Naucalpan</span>
                <button class="fab-menu-item" data-phone="525543074271">
                    <img src="https://tecsum.edu.mx/Images/Iconos/Redes_Sociales/Whatsapp.webp" alt="Plantel Naucalpan" class="fab-icon">
                </button>
            </div>
            <div class="fab-menu-item-container">
                <span class="fab-menu-text">Plantel Tlalnepantla</span>
                <button class="fab-menu-item" data-phone="525521862525">
                    <img src="https://tecsum.edu.mx/Images/Iconos/Redes_Sociales/Whatsapp.webp" alt="Plantel Tlalnepantla" class="fab-icon">
                </button>
            </div>
            
        </div>
    </div>