---
layout: layout-page.njk
title: Pagina de inicio
description: Pagina de inicio
---

<div class="img-fit-container">
    <img src="/img/School-Acerca.webp" class="img-fluid img-fit" alt="...">
</div>
<h2 class="py-5 text-center titleFont">Acerca de Nosotros</h2>

{# Inicio- Acerca de Nosotros #}
<div class="container">
    <p class="p-3 text-justify">
        El grupo CECOVAM tiene sus inicios en los años 80s en el municipio de Tlalnepantla de Baz, edo. de México, con la razón social de escuela de computación técnica y comercial “ECOTEC”.
        En 1983 inicia su década de crecimiento, por ser una institución preocupada por la educación integral de los jóvenes, abriendo sucursales en el estado de México, ciudad de México, hidalgo y Veracruz.
        <br><br>
        Este crecimiento dio apertura a que en el año 2000 se consolidara como grupo CECOVAM.
        Hasta este momento el grupo impartía sólo carreras cortas de formación para el trabajo y sistema abierto en secundaria y preparatoria,
        En 2001 grupo CECOVAM amplía su oferta educativa a bachillerato escolarizado a 3 años, incorporado a la s. E. P con las carreras de programador, enfermería general, contabilidad y dibujo publicitario. Seguimos promoviendo nuestro crecimiento, asentando valores formativos siendo una institución de vanguardia.
    </p>
</div>
{# Fin- Acerca de Nosotros #}

{# Inicio- Mision #}
<div class="container">
    <div class="row py-3 ">
        <div class="col-12 col-lg-4 text-center">
            <img src="/img/Test2-img.png" class="img-fluid img-form" alt="Acerca">
        </div>
        <div class="py-3 col-12 col-lg-8">
            <div class="row py-2">
                <div class="col-12">
                    <h2 class="text-center">Mision</h2>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-12">
                    <p class="text-justify">
                       Formamos profesionales con sólidos conocimientos y principios éticos, capaces de integrarse a empresas competitivas o a otros niveles educativos para contribuir con el desarrollo socio-económico regional, nacional e internacional, a partir del conocimiento científico y tecnológico que permite diseñar, aplicar e instalar sistemas integrales de producción de bienes y/o servicios en el ámbito de la globalización y el desarrollo sustentable.
                        <br><br>
                        Además de esa formación, GRUPO CECOVAM busca que sus estudiantes se desarrollen como personas dotadas de valores y actitudes éticas, capaces de tomar decisiones, de ejercer liderazgo con responsabilidad y honradez, de incorporarse al trabajo con creatividad, para que sean al mismo tiempo, ciudadanos habituados al respeto, diálogo y solidaridad en la solución de problemas sociales y ambientales.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{# Fin- Mision #}

{# Inicio- Vision #}
<div class="container">
    <div class="row py-5">
        <div class="col-12 col-lg-4 text-center">
            <img src="/img/Test2-img.png" class="img-fluid img-form" alt="Acerca">
        </div>
        <div class="py-3 col-12 col-lg-8">
            <div class="row py-2">
                <div class="col-12">
                    <h2 class="text-center">Vision</h2>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-12">
                    <p class="text-justify">
                       Aseguramos un ambiente educativo de calidad para todos nuestros estudiantes, que atienda a la diversidad y respeta los ritmos y estilos de aprendizaje de cada uno de ellos, con un equipo docente comprometido con el modelo educativo y en constante perfeccionamiento, materializando los ideales de equidad, facilitando el aprendizaje significativo y alejando la deserción escolar.
                        <br><br>
                        Pretendemos ser un centro educativo de reconocido prestigio, apreciado por su equilibrado desarrollo de la persona, por una excelente formación académica y porque capacita a sus alumnos para garantizar su integración eficaz en los ámbitos laboral y social.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{# Fin- Vision #}

{# Inicio- Valores #}
<div class="container">
    <div class="row py-5">
        <div class="col-12 col-lg-4 text-center">
            <img src="/img/Test2-img.png" class="img-fluid img-form" alt="Acerca">
        </div>
        <div class="py-3 col-12 col-lg-8">
            <div class="row py-2">
                <div class="col-12">
                    <h2 class="text-center">Valores</h2>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-12">
                    <p class="text-justify">
                        La creatividad nunca ha sido sensata, es ese impulso vital que ha hecho al ser humano evolucionar. Desde tiempos inmemoriales, la creatividad nos ha llevado a explorar, reconocer, descubrir y crear.
                        El ser humano en su constante afán por el saber, explora diferentes maneras de llegar a resultados exitosos, estos resultados siempre se logran en conjunto.
                        Desde el interior de nuestra casa educativa se siembra la equidad de género, porque tener los mismos derechos y obligaciones nos lleva a cuidar de manera natural al prójimo.
                        <br>
                        Cuando encontramos el respeto hacia las opiniones o prácticas de los demás, logramos el respeto hacia nosotros mismos.
                        Muchas veces creemos que soportar a una persona o manera de pensar es ser tolerante, sin embargo, la tolerancia va más hacia una negociación entre el respeto hacia las libertades de acción de una persona y nuestro propio derecho de libertad.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{# Fin- Valores #}
