---
layout: layout-page.njk
title: Pagina de inicio
description: Pagina de inicio
---

    <div class=" img-fit-container">
        <img src="/img/School-Acerca.webp" class="img-fluid img-fit" alt="...">
    </div>
    <h2 class="py-5 text-center titleFont">Acerca de Nosotros</h2>

{# Inicio- Acerca de Nosotros #}
    <div class="container">
        <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum diam erat, ut feugiat purus tempus
            elementum. Aliquam non purus nec nibh commodo porta. Pellentesque vel convallis erat, et dapibus tellus. Maecenas
            faucibus feugiat nunc in pretium. Nullam volutpat placerat egestas. Nunc aliquet erat a tellus egestas mattis. Proin vel
            viverra justo, in cursus tortor. Proin iaculis tortor dolor, a sagittis libero aliquet vitae. Vestibulum ante ipsum
            primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut faucibus non nibh in mollis. Proin commodo faucibus
            leo ut elementum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras ornare
            suscipit nisi non varius. Vestibulum fringilla finibus nisl, eget semper erat consectetur vel. Vestibulum ornare quam ac
            ultrices ullamcorper. Vestibulum mattis aliquet ex ac ornare. Donec eu justo tempus, dictum nibh sed, condimentum leo.
            Nam sit amet auctor tortor. Pellentesque ultrices ex urna, sit amet feugiat diam euismod sed. Quisque cursus porttitor
            orci non ultricies. Sed malesuada pretium tortor ac hendrerit. Pellentesque posuere sed lectus quis hendrerit. Fusce
            scelerisque eget nunc a efficitur. Maecenas sit amet dui augue. Mauris suscipit in felis et faucibus. Suspendisse
            pellentesque vehicula diam, at mollis tortor tempor nec.</p>
    </div>
{# Fin- Acerca de Nosotros #}
{# Inicio- Mision #}
    <div class="container">
        <div class="row py-3">
            <div class="col-12 col-lg-4 text-center">
                <img src="/img/Test2-img.png" class="img-fluid" alt="Acerca">
            </div>
            <div class="py-3 col-12 col-lg-8">
                <div class="row py-2">
                    <div class="col-12">
                        <h2 class="text-center">Mision</h2>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum diam erat, ut feugiat purus tempus elementum.
                            Aliquam non purus nec nibh commodo porta. Pellentesque vel convallis erat, et dapibus tellus. Maecenas faucibus feugiat
                            nunc in pretium. Nullam volutpat placerat egestas. Nunc aliquet erat a tellus egestas mattis. Proin vel viverra justo,
                            in cursus tortor. Proin iaculis tortor dolor, a sagittis libero aliquet vitae. Vestibulum ante ipsum primis in faucibus
                            orci luctus et ultrices posuere cubilia curae; Ut faucibus non nibh in mollis. Proin commodo faucibus leo ut elementum.
                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras ornare suscipit nisi non
                            varius. Vestibulum fringilla finibus nisl, eget semper erat consectetur vel</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{# Inicio- Mision #}
{# Inicio- Mision #}
    <div class="container">
        <div class="row py-5">
            <div class="col-12 col-lg-4 text-center">
                <img src="/img/Test2-img.png" class="img-fluid" alt="Acerca">
            </div>
            <div class="py-3 col-12 col-lg-8">
                <div class="row py-2">
                    <div class="col-12">
                        <h2 class="text-center">Vision</h2>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum diam erat, ut feugiat purus tempus elementum.
                            Aliquam non purus nec nibh commodo porta. Pellentesque vel convallis erat, et dapibus tellus. Maecenas faucibus feugiat
                            nunc in pretium. Nullam volutpat placerat egestas. Nunc aliquet erat a tellus egestas mattis. Proin vel viverra justo,
                            in cursus tortor. Proin iaculis tortor dolor, a sagittis libero aliquet vitae. Vestibulum ante ipsum primis in faucibus
                            orci luctus et ultrices posuere cubilia curae; Ut faucibus non nibh in mollis. Proin commodo faucibus leo ut elementum.
                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras ornare suscipit nisi non
                            varius. Vestibulum fringilla finibus nisl, eget semper erat consectetur vel</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{# Inicio- Mision #}