---
layout: layout-page.njk
title: Pagina de comunidad
description: Pagina de comunidad
---

<div class="container">
    <div class="row py-5">
        <div class="col-12">
            <h2 class="text-center titleFont">Eventos de la Comunidad</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        {% for post in collections.eventos %}
        <div class="col-12 col-md-6 col-lg-4 mb-3 d-flex justify-content-center">
            <div class="card">
                <div class="circle">
                    <img src="{{ post.data.featured_image }}" class="card-img-top" alt="{{ post.data.title }}">
                </div>
                <div class="content">
                    <h5 class="card-title">{{ post.data.title }}</h5>
                    <p class="card-text">{{ post.data.description }}</p>
                    <p class="card-text"><small class="text-muted">{{ post.data.date }}</small></p>
                    <div class="text-center">
                        <a href="{{ post.url }}" class="btn">Leer Más</a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <p>No hay publicaciones disponibles en la colección de eventos.</p>
        {% endfor %}
    </div>
</div>
