---
layout: layout-page.njk
title: Pagina de inicio
description: Pagina de inicio
---

<h1 class="text-center my-5">Contacto</h1>
<div class="container">
    <div class="text-center pt-3">
        <div
            class="row d-flex align-items-center justify-content-center">
            <!-- Primera columna: Imagen principal -->
            <div class="col-12 col-md-6 mb-3">
                <img src="/img/Contact.webp" class="img-fluid" alt="Imagen principal">
            </div>
            <!-- Segunda columna: Tres filas con dos columnas cada una -->
            <div class="col-12 col-md-6 ">
                <div class="row ">
                    <div class="col-12 d-flex align-items-center justify-content-center my-3">
                        <h3>Numeros de Telefono</h3>
                    </div>
                </div>
                <div class="row mt-3 ">
                    <div class="col-3 ">
                        <img src="/img/Iconos/Whatsapp-icon2.png" class="img-fluid whatsapp-icon" alt="Imagen 1">
                    </div>
                    <div class="col-9 d-flex align-items-center">
                        <h3>55-55-76-32-42</h3>
                    </div>
                </div>
                <div class="row my-4 ">
                    <div class="col-3">
                        <img src="/img/Iconos/Whatsapp-icon2.png" class="img-fluid whatsapp-icon" alt="Imagen 2">
                    </div>
                    <div class="col-9 d-flex align-items-center">
                        <h3>55-55-76-32-42</h3>
                    </div>
                </div>
                <div class="row mb-3 ">
                    <div class="col-3">
                        <img src="/img/Iconos/Whatsapp-icon2.png" class="img-fluid whatsapp-icon" alt="Imagen 3">
                    </div>
                    <div class="col-9 d-flex align-items-center">
                        <h3>55-55-76-32-42</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="text-center pt-3">
        <div
            class="row d-flex align-items-center justify-content-center">
            <!-- Primera columna: Imagen principal -->
            <div class="col-12 col-md-6 mb-3">
                <img src="/img/Contact.webp" class="img-fluid" alt="Imagen principal">
            </div>
            <!-- Segunda columna: Tres filas con dos columnas cada una -->
            <div class="col-12 col-md-6 ">
                <div class="row ">
                    <div class="col-12 d-flex align-items-center justify-content-center my-3">
                        <h3>Numeros de Telefono</h3>
                    </div>
                </div>
                <div class="row mt-3 ">
                    <div class="col-3 ">
                        <img src="/img/Iconos/Whatsapp-icon2.png" class="img-fluid whatsapp-icon" alt="Imagen 1">
                    </div>
                    <div class="col-9 d-flex align-items-center">
                        <h3>55-55-76-32-42</h3>
                    </div>
                </div>
                <div class="row my-4 ">
                    <div class="col-3">
                        <img src="/img/Iconos/Whatsapp-icon2.png" class="img-fluid whatsapp-icon" alt="Imagen 2">
                    </div>
                    <div class="col-9 d-flex align-items-center">
                        <h3>55-55-76-32-42</h3>
                    </div>
                </div>
                <div class="row mb-3 ">
                    <div class="col-3">
                        <img src="/img/Iconos/Whatsapp-icon2.png" class="img-fluid whatsapp-icon" alt="Imagen 3">
                    </div>
                    <div class="col-9 d-flex align-items-center">
                        <h3>55-55-76-32-42</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="text-center pt-3">
        <div
            class="row d-flex align-items-center justify-content-center">
            <!-- Primera columna: Imagen principal -->
            <div class="col-12 col-md-6 mb-3">
                <img src="/img/Contact.webp" class="img-fluid" alt="Imagen principal">
            </div>
            <!-- Segunda columna: Tres filas con dos columnas cada una -->
            <div class="col-12 col-md-6 ">
                <div class="row ">
                    <div class="col-12 d-flex align-items-center justify-content-center my-3">
                        <h3>Numeros de Telefono</h3>
                    </div>
                </div>
                <div class="row mt-3 ">
                    <div class="col-3 ">
                        <img src="/img/Iconos/Whatsapp-icon2.png" class="img-fluid whatsapp-icon" alt="Imagen 1">
                    </div>
                    <div class="col-9 d-flex align-items-center">
                        <h3>55-55-76-32-42</h3>
                    </div>
                </div>
                <div class="row my-4 ">
                    <div class="col-3">
                        <img src="/img/Iconos/Whatsapp-icon2.png" class="img-fluid whatsapp-icon" alt="Imagen 2">
                    </div>
                    <div class="col-9 d-flex align-items-center">
                        <h3>55-55-76-32-42</h3>
                    </div>
                </div>
                <div class="row mb-3 ">
                    <div class="col-3">
                        <img src="/img/Iconos/Whatsapp-icon2.png" class="img-fluid whatsapp-icon" alt="Imagen 3">
                    </div>
                    <div class="col-9 d-flex align-items-center">
                        <h3>55-55-76-32-42</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>