---
layout: layout-page.njk
title: TECSUM | Bachilleratos Tecnologicos y Diplomados
description: En TECSUM, nuestra oferta educativa en bachilleratos tecnológicos y diplomados está orientada a formar líderes competentes para el futuro.
---

{# Inicio- Carrousel #}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://tecsum.edu.mx/Images/Banners/Banner-Carrousel-1.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://tecsum.edu.mx/Images/Banners/Banner-Carrousel-2.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://tecsum.edu.mx/Images/Banners/Banner-Carrousel-3.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://tecsum.edu.mx/Images/Banners/Banner-Carrousel-4.webp" class="d-block w-100" alt="...">
        </div>
        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{# Final- Carrousel #}
{# Inicio- Ventajas #}
<h1 class="py-5 text-center titleFont">Ventajas de estudiar con nosotros</h1>
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-6 col-md-4 col-lg-3 mb-3">
            <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Ventaja-1.webp" class="img-fluid icon" loading="lazy" alt="Ventajas 1">
            <p class="text-center pt-3 subtitle">Incorporación a la <br> SEP - DGETI</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-3">
            <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Ventaja-2.webp" class="img-fluid icon" loading="lazy" alt="Ventajas 2">
            <p class="text-center pt-3 subtitle">Prácticas profesionales en gobierno y la iniciativa privada</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-3">
            <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Ventaja-3.webp" class="img-fluid icon" loading="lazy" alt="Ventajas 3">
            <p class="text-center pt-3 subtitle">Excelente profesorado</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-3">
            <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Ventaja-4.webp" class="img-fluid icon" loading="lazy" alt="Ventajas 4">
            <p class="text-center pt-3 subtitle">Certificación y una profesión técnica al mismo tiempo</p>
        </div>
    </div>
</div>


{# Final- Ventajas #}
{# Inicio- Acerca de Nosotros #}
    <div class="container py-3 ">
        <div class="row py-5 ">
            <div class="col-12 col-lg-4 text-center d-flex align-items-center">
                <img src="https://tecsum.edu.mx/Images/Acerca/Img-Acerca.webp" class="img-fluid img-form" loading="lazy" alt="Acerca">
            </div>
            <div class="py-3 col-12 col-lg-8">
                <div class="row py-2">
                    <div class="col-12">
                        <h2 class="text-center ">Acerca de nosotros</h2>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12">
                        <p>El Grupo CECOVAM tiene sus inicios en los años 80 en el municipio de Tlalnepantla de Baz, Estado de México, con la razón social de Instituto de Computación y Comercio de Tlalnepantla, "ICC de Tlalnepantla", en Sor Juana Inés de la Cruz #14, 2do piso. En 1983 cambia de......
                        </p>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-6">
                        <a href="/acerca" class="btn btn-custom-navy-blue w-100">Saber Más</a>
                    </div>
                    <div class="col-6">
                        <a href="/Inscribete" class="btn btn-custom-blue w-100">Solicita Información</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{# Final- Acerca de Nosotros #}
{# Inicio- Planteles #}
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <h2 class="text-center titleFont">Planteles</h2>
            </div>
        </div>
        <div class="row py-3 text-center my-4">
            <div class="col-12 col-lg-6 mb-3">
                <a href="/Planteles/Naucalpan">
                    <img src="{{ site.Naucalpan }}" class="img-fluid img-Select-Plantel" loading="lazy" alt="Plantel Naucalpan">
                </a>
                <p class="mt-2 subtitle">Naucalpan</p>
            </div>
            <div class="col-12 col-lg-6 mb-3">
                <a href="/Planteles/Tlalnepantla">
                <img src="{{ site.Tlalnepantla }}" class="img-fluid img-Select-Plantel" loading="lazy" alt="Plantel Tlalnepantla">
                </a>
                <p class="mt-2 subtitle">Tlalnepantla</p>
            </div>
            {# <div class="col-12 col-lg-4 mb-3">
                <a href="/Planteles/Nicolas-Romero">
                    <img src="/img/Plantel-3.webp" class="img-fluid img-Select" loading="lazy" alt="Plantel 3">
                </a>
                <p class="mt-2 subtitle">Nicolás Romero</p>
            </div> #}
        </div>
    </div>
{# Final- Planteles #}
{# Inicio- Oferta Educativa #}
    <div class="text-center py-5">
        <h1 class="titleFont">Nuestra Oferta Académica</h1>
    </div>
    {# Inicio- Bachilleratos #}
    <div class="container">
        <div class="row py-3">
            <div class="col-12">
                <h2 class="text-center">Bachilleratos Tecnológicos</h2>
            </div>
        </div>
        <div class="row py-3 text-center">
            <div class="col-6 col-lg-3 mb-3">
                <a href="/Bachilleratos/Tecnologicos/Enfermeria">                
                    <img src="https://tecsum.edu.mx/Images/Bachilleratos/Enfermeria-General/Img-Principal.webp" class="img-fluid img-Select" loading="lazy" alt="Bachillerato 1">
                </a>
                <p class="mt-2 subtitle">Enfermería General</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="/Bachilleratos/Tecnologicos/Contabilidad">
                <img src="https://tecsum.edu.mx/Images/Bachilleratos/Contabilidad/Img-Principal.webp" class="img-fluid img-Select" loading="lazy" alt="Bachillerato 2">
                </a>
                <p class="mt-2 subtitle">Contabilidad</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="/Bachilleratos/Tecnologicos/Programacion">
                <img src="https://tecsum.edu.mx/Images/Bachilleratos/Programacion/Img-Principal.webp" class="img-fluid img-Select" loading="lazy" alt="Bachillerato 3">
                </a>
                <p class="mt-2 subtitle">Programación</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="/Bachilleratos/Tecnologicos/Diseno-Publicitario">
                <img src="https://tecsum.edu.mx/Images/Bachilleratos/Diseño-Publicitario/Img-Principal.webp" class="img-fluid img-Select" loading="lazy" alt="Bachillerato 4">
                </a>
                <p class="mt-2 subtitle">Diseño Publicitario</p>
            </div>
        </div>
    {# Fin- Bachilleratos #}
    {# Inicio- Diplomados #}
    <div class="container">
        <div class="row py-3">
            <div class="col-12">
                <h2 class="text-center">Bachilleratos con Diplomado</h2>
            </div>
        </div>
        <div class="row py-3 text-center">
            <div class="col-6 col-lg-4 mb-3">
                <a href="/Bachilleratos/Con-Diplomado/Asistente-educativo">
                <img src="https://tecsum.edu.mx/Images/Bachilleratos/Asistente-Educativo/Img-Principal.webp" class="img-fluid img-Select" loading="lazy" alt="Bachillerato-con-diplomado 1">
                </a>
                <p class="mt-2 subtitle">Asistente Educativo</p>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <a href="/Bachilleratos/Con-Diplomado/Gastronomia">
                <img src="https://tecsum.edu.mx/Images/Bachilleratos/Gastronomia/Img-Principal.webp" class="img-fluid img-Select" loading="lazy" alt="Bachillerato-con-diplomado 2">
                </a>
                <p class="mt-2 subtitle">Gastronomía</p>
            </div>
            <div class="col-12 col-lg-4 mb-3">
                <a href="/Bachilleratos/Con-Diplomado/Belleza">
                <img src="https://tecsum.edu.mx/Images/Bachilleratos/Belleza/Img-Principal.webp" class="img-fluid img-Select" loading="lazy" alt="Bachillerato-con-diplomado 3">
                </a>
                <p class="mt-2 subtitle">Belleza</p>
            </div>
        </div>
    </div>
    {# Fin- Diplomados #}
</div>
{# Final- Oferta Educativa #}
{# Inicio- Cursos #}
    <div class="container">
        <div class="row py-3">
            <div class="col-12">
                <h1 class="py-5 text-center titleFont">Especialidades y Diplomados con valor curricular</h1>
            </div>
        </div>

         
        <div class="row py-3 text-center">
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Asistente-Educativo-Esp">
                <img src="https://tecsum.edu.mx/Images/Especialidades/Asistente-Educativo/Img-Esp-Principal.webp" class="img-fluid img-Select" loading="lazy" alt="Especialidad 1">
                </a>
                <p class="mt-2 subtitle">Asistente Educativo</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Ingles-Esp">
                <img src="https://tecsum.edu.mx/Images/Especialidades/Ingles/Img-Esp-Principal.webp" class="img-fluid img-Select" loading="lazy" alt="Especialidad 2">
                </a>
                <p class="mt-2 subtitle">Inglés</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Gastronomia-Esp">
                <img src="https://tecsum.edu.mx/Images/Especialidades/Gastronomia/Img-Esp-Principal.webp" class="img-fluid img-Select" loading="lazy" alt="Especialidad 3">
                </a>
                <p class="mt-2 subtitle">Gastronomía</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Dibujo-Publicitario-Esp">
                <img src="https://tecsum.edu.mx/Images/Especialidades/Dibujo-Publicitario/Img-Esp-Principal.webp" class="img-fluid img-Select" loading="lazy" alt="Especialidad 4">
                </a>
                <p class="mt-2 subtitle">Dibujo Publicitario</p>
            </div>
            
        </div>
        <div class="row py-3 text-center">
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Belleza-Esp">
                <img src="https://tecsum.edu.mx/Images/Especialidades/Cultora-Belleza/Img-Esp-Principal.webp" class="img-fluid img-Select" loading="lazy" alt="Especialidad 5">
                </a>
                <p class="mt-2 subtitle">Cultora de Belleza</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Contabilidad-Esp">
                <img src="https://tecsum.edu.mx/Images/Especialidades/Contabilidad/Img-Esp-Principal.webp" class="img-fluid img-Select" loading="lazy" alt="Especialidad 6">
                </a>
                <p class="mt-2 subtitle">Contabilidad</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Programacion-Esp">
                <img src="https://tecsum.edu.mx/Images/Especialidades/Programacion/Img-Esp-Principal.webp" class="img-fluid img-Select" loading="lazy" alt="Especialidad 7">
                </a>
                <p class="mt-2 subtitle">Programación</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Mtto-Computadoras-Esp">
                <img src="https://tecsum.edu.mx/Images/Especialidades/Mtto-Computadoras/Img-Esp-Principal.webp" class="img-fluid img-Select" loading="lazy" alt="Especialidad 8">
                </a>
                <p class="mt-2 subtitle">Mantenimiento de Computadoras</p>
            </div>
        </div>

        {# Cursos #}
        {# <h2 class="text-center">CURSOS</h2>
        <div class="row py-3 text-center">
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Asistente-Educativo-Esp">
                <img src="https://images.pexels.com/photos/4968646/pexels-photo-4968646.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid img-Select" loading="lazy" alt="Formacion 1">
                </a>
                <p class="mt-2 subtitle">Pasta Hojaldre</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Ingles-Esp">
                <img src="https://images.pexels.com/photos/4968646/pexels-photo-4968646.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid img-Select" loading="lazy" alt="Formacion 2">
                </a>
                <p class="mt-2 subtitle">Pestañas 2do Nivel</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Gastronomia-Esp">
                <img src="https://images.pexels.com/photos/4968646/pexels-photo-4968646.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid img-Select" loading="lazy" alt="Formacion 3">
                </a>
                <p class="mt-2 subtitle">Uñas 1er Nivel</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Dibujo-Publicitario-Esp">
                <img src="https://images.pexels.com/photos/4968646/pexels-photo-4968646.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid img-Select" loading="lazy" alt="Formacion 4">
                </a>
                <p class="mt-2 subtitle">Automaquillaje y Maquillaje</p>
            </div>
            
        </div>
        <div class="row py-3 text-center">
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Belleza-Esp">
                <img src="https://images.pexels.com/photos/4968646/pexels-photo-4968646.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid img-Select" loading="lazy" alt="Formacion 5">
                </a>
                <p class="mt-2 subtitle">Caracterización Basica</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Contabilidad-Esp">
                <img src="https://images.pexels.com/photos/4968646/pexels-photo-4968646.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid img-Select" loading="lazy" alt="Formacion 6">
                </a>
                <p class="mt-2 subtitle">Masaje Pindas y Auriculoterapia</p>
            </div>

        </div> #}
    </div>
{# Final- Cursos #}
{# Inicio- Comunidad #}
    <div class="container">
        <div class="row py-3">
            <div class="col-12">
                <h2 class="text-center titleFont">Comunidad Tecsum</h2>
            </div>
        </div>
        <div class="card-container py-3">
            {% for post in collections.noticias %}
            <div class="card">
                <div class="circle">
                <img src="{{ post.data.featured_image }}" class="card-img-top" loading="lazy" alt="{{ post.data.title }}">
                </div>
                <div class="content">
                <h5 class="card-title">{{ post.data.title }}</h5>
                <p class="card-text">{{ post.data.description }}</p>
                <p class="card-text"><small class="text-muted">{{ post.data.date}}</small></p>
                <div class="container-fluid text-center">
                    <a href="{{ post.url }}" class="btn">Leer Más</a>
                </div>
                </div>
            </div>
            {% else %}
                <p>No hay publicaciones disponibles en la colección de noticias.</p>
            {% endfor %}
        </div>
    </div>
{# Final- Comunidad #}

{# Inicio- Contacto #}
{%include "forms.njk"%}
{# Final- Contacto #}





{# <h1>{{ title }}</h1> #}