---
layout: layout-page.njk
title: TECSUM
description: Tecnologico de estudios superiores del valle mexico
---

{# Inicio- Carrousel #}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/Banner.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/img/Banner.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/img/Banner.webp" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{# Final- Carrousel #}
{# Inicio- Ventajas #}
<h1 class="py-5 text-center titleFont">Ventajas de estudiar con nosotros</h1>
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-6 col-md-4 col-lg-3 mb-3">
            <img src="/img/Iconos/Ventaja1.webp" class="img-fluid icon" alt="Ventajas 1">
            <p class="text-center pt-3 subtitle">Texto de la ventaja 1</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-3">
            <img src="/img/Iconos/Ventaja2.webp" class="img-fluid icon" alt="Ventajas 2">
            <p class="text-center pt-3 subtitle">Texto de la ventaja 2</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-3">
            <img src="/img/Iconos/Ventaja3.webp" class="img-fluid icon" alt="Ventajas 3">
            <p class="text-center pt-3 subtitle">Texto de la ventaja 3</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-3">
            <img src="/img/Iconos/Ventaja4.webp" class="img-fluid icon" alt="Ventajas 4">
            <p class="text-center pt-3 subtitle">Texto de la ventaja 4</p>
        </div>
    </div>
</div>


{# Final- Ventajas #}
{# Inicio- Acerca de Nosotros #}
    <div class="container py-3 ">
        <div class="row py-5 ">
            <div class="col-12 col-lg-4 text-center d-flex align-items-center">
                <img src="/img/acerca-de.webp" class="img-fluid img-form" alt="Acerca">
            </div>
            <div class="py-3 col-12 col-lg-8">
                <div class="row py-2">
                    <div class="col-12">
                        <h2 class="text-center ">Acerca de nosotros</h2>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12">
                        <p>En Grupo CECOVAM, desde nuestros inicios en los años 80, nos hemos comprometido con la educación de calidad y la formación integral de nuestros estudiantes. Con una oferta educativa que abarca desde carreras técnicas hasta licenciaturas, y una presencia consolidada en varios estados, seguimos innovando y creciendo para brindar las mejores oportunidades académicas......
                        </p>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-6">
                        <a href="/acerca" class="btn btn-custom-navy-blue w-100">Saber Mas</a>
                    </div>
                    <div class="col-6">
                        <a href="/Inscribete" class="btn btn-custom-blue w-100">Solicita Información</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{# Final- Acerca de Nosotros #}
{# Inicio- Planteles #}
    <div class="container-fluid">
        <div class="row ">
            <div class="col-12">
                <h2 class="text-center titleFont">Planteles</h2>
            </div>
        </div>
        <div class="row py-3 text-center my-4">
            <div class="col-12 col-lg-6 mb-3">
                <a href="https://tecsum.edu.mx/Images/Planteles/Naucalpan/Plantel-Naucalpan.webp">
                    <img src="/img/Plantel-1.webp" class="img-fluid img-Select" alt="Plantel 1">
                </a>
                <p class="mt-2 subtitle">Naucalpan</p>
            </div>
            <div class="col-12 col-lg-6 mb-3">
                <a href="/Planteles/Tlalnepantla">
                <img src="/img/Plantel-2.webp" class="img-fluid img-Select" alt="Plantel 2">
                </a>
                <p class="mt-2 subtitle">Tlalnepantla</p>
            </div>
            {# <div class="col-12 col-lg-4 mb-3">
                <a href="/Planteles/Nicolas-Romero">
                    <img src="/img/Plantel-3.webp" class="img-fluid img-Select" alt="Plantel 3">
                </a>
                <p class="mt-2 subtitle">Nicolás Romero</p>
            </div> #}
        </div>

    </div>
{# Final- Planteles #}
{# Inicio- Oferta Educativa #}
    <div class="text-center py-5">
        <h1 class="titleFont">Nuestra Oferta Academica</h1>
    </div>
    {# Inicio- Bachilleratos #}
    <div class="container">
        <div class="row py-3">
            <div class="col-12">
                <h2 class="text-center">Bachilleratos Tecnológicos</h2>
            </div>
        </div>
        <div class="row py-3 text-center">
            <div class="col-6 col-lg-3 mb-3">
                <a href="/Bachilleratos/Tecnologicos/Enfermeria">                
                    <img src="/img/enfermeria.webp" class="img-fluid img-Select" alt="Bachillerato 1">
                </a>
                <p class="mt-2 subtitle">Enfermeria General</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="/Bachilleratos/Tecnologicos/Contabilidad">
                <img src="/img/contabilidad.webp" class="img-fluid img-Select" alt="Bachillerato 2">
                </a>
                <p class="mt-2 subtitle">Contabilidad</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="/Bachilleratos/Tecnologicos/Programacion">
                <img src="/img/programacion.webp" class="img-fluid img-Select" alt="Bachillerato 3">
                </a>
                <p class="mt-2 subtitle">Programación</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="/Bachilleratos/Tecnologicos/Diseno-Publicitario">
                <img src="/img/publicitario.webp" class="img-fluid img-Select" alt="Bachillerato 4">
                </a>
                <p class="mt-2 subtitle">Diseño Publicitario</p>
            </div>
        </div>
    {# Fin- Bachilleratos #}
    {# Inicio- Diplomados #}
    <div class="container">
        <div class="row py-3">
            <div class="col-12">
                <h2 class="text-center">Bachilleratos con Diplomado</h2>
            </div>
        </div>
        <div class="row py-3 text-center">
            <div class="col-6 col-lg-4 mb-3">
                <a href="/Bachilleratos/Con-Diplomado/Asistente-educativo">
                <img src="/img/asistente.webp" class="img-fluid img-Select" alt="Bachillerato-con-diplomado 1">
                </a>
                <p class="mt-2 subtitle">Asistente Educativo</p>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <a href="/Bachilleratos/Con-Diplomado/Gastronomia">
                <img src="/img/gastronomia.webp" class="img-fluid img-Select" alt="Bachillerato-con-diplomado 2">
                </a>
                <p class="mt-2 subtitle">Gastronomía</p>
            </div>
            <div class="col-12 col-lg-4 mb-3">
                <a href="/Bachilleratos/Con-Diplomado/Belleza">
                <img src="/img/belleza.webp" class="img-fluid img-Select" alt="Bachillerato-con-diplomado 3">
                </a>
                <p class="mt-2 subtitle">Belleza</p>
            </div>
        </div>
    </div>
    {# Fin- Diplomados #}
    {# Inicio- Especialidades de Formacion para el trabajo #}
    {# <div class="container">
        <div class="row py-3">
            <div class="col-12">
                <h2 class="text-center">Especialidades de Formacion para el trabajo</h2>
            </div>
        </div>
        <div class="row py-3 text-center">
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Asistente-Educativo-Esp">
                <img src="/img/asistente.webp" class="img-fluid img-Select" alt="Formacion 1">
                </a>
                <p class="mt-2 subtitle">Asistente Educativo</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Ingles-Esp">
                <img src="/img/ingles.webp" class="img-fluid img-Select" alt="Formacion 2">
                </a>
                <p class="mt-2 subtitle">Inglés</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Gastronomia-Esp">
                <img src="/img/gastronomia.webp" class="img-fluid img-Select" alt="Formacion 3">
                </a>
                <p class="mt-2 subtitle">Gastronomía</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Dibujo-Publicitario-Esp">
                <img src="/img/dibujo.webp" class="img-fluid img-Select" alt="Formacion 4">
                </a>
                <p class="mt-2 subtitle">Dibujo Publicitario</p>
            </div>
        </div>
        <div class="row py-3 text-center">
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Belleza-Esp">
                <img src="/img/belleza.webp" class="img-fluid img-Select" alt="Formacion 5">
                </a>
                <p class="mt-2 subtitle">Cultora de Belleza</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Contabilidad-Esp">
                <img src="/img/contabilidad.webp" class="img-fluid img-Select" alt="Formacion 6">
                </a>
                <p class="mt-2 subtitle">Contabilidad</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Programacion-Esp">
                <img src="/img/programacion.webp" class="img-fluid img-Select" alt="Formacion 7">
                </a>
                <p class="mt-2 subtitle">Programación</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Mtto-Computadoras-Esp">
                <img src="/img/pc.webp" class="img-fluid img-Select" alt="Formacion 8">
                </a>
                <p class="mt-2 subtitle">Reparacion de Computadoras</p>
            </div>
        </div>
    </div> #}
    {# Fin- Especialidades de Formacion para el trabajo #}
</div>
{# Final- Oferta Educativa #}
{# Inicio- Cursos #}
    <div class="container">
        <div class="row py-3">
            <div class="col-12">
                <h1 class="py-5 text-center titleFont">Cursos y Diplomados con valor curricular</h1>
            </div>
        </div>

        <h2 class="text-center">DIPLOMADOS</h2>
         
        <div class="row py-3 text-center">
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Asistente-Educativo-Esp">
                <img src="/img/asistente.webp" class="img-fluid img-Select" alt="Formacion 1">
                </a>
                <p class="mt-2 subtitle">Asistente Educativo</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Ingles-Esp">
                <img src="/img/ingles.webp" class="img-fluid img-Select" alt="Formacion 2">
                </a>
                <p class="mt-2 subtitle">Inglés</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Gastronomia-Esp">
                <img src="/img/gastronomia.webp" class="img-fluid img-Select" alt="Formacion 3">
                </a>
                <p class="mt-2 subtitle">Gastronomía</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Dibujo-Publicitario-Esp">
                <img src="/img/dibujo.webp" class="img-fluid img-Select" alt="Formacion 4">
                </a>
                <p class="mt-2 subtitle">Dibujo Publicitario</p>
            </div>
            
        </div>
        <div class="row py-3 text-center">
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Belleza-Esp">
                <img src="/img/belleza.webp" class="img-fluid img-Select" alt="Formacion 5">
                </a>
                <p class="mt-2 subtitle">Cultora de Belleza</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Contabilidad-Esp">
                <img src="/img/contabilidad.webp" class="img-fluid img-Select" alt="Formacion 6">
                </a>
                <p class="mt-2 subtitle">Contabilidad</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Programacion-Esp">
                <img src="/img/programacion.webp" class="img-fluid img-Select" alt="Formacion 7">
                </a>
                <p class="mt-2 subtitle">Programación</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Mtto-Computadoras-Esp">
                <img src="/img/pc.webp" class="img-fluid img-Select" alt="Formacion 8">
                </a>
                <p class="mt-2 subtitle">Reparacion de Computadoras</p>
            </div>
        </div>

        <h2 class="text-center">CURSOS</h2>
        <div class="row py-3 text-center">
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Asistente-Educativo-Esp">
                <img src="/img/asistente.webp" class="img-fluid img-Select" alt="Formacion 1">
                </a>
                <p class="mt-2 subtitle">Pasta Hojaldre</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Ingles-Esp">
                <img src="/img/ingles.webp" class="img-fluid img-Select" alt="Formacion 2">
                </a>
                <p class="mt-2 subtitle">Pestañas 2do Nivel</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Gastronomia-Esp">
                <img src="/img/gastronomia.webp" class="img-fluid img-Select" alt="Formacion 3">
                </a>
                <p class="mt-2 subtitle">Uñas 1er Nivel</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Dibujo-Publicitario-Esp">
                <img src="/img/dibujo.webp" class="img-fluid img-Select" alt="Formacion 4">
                </a>
                <p class="mt-2 subtitle">Automaquillaje y Maquillaje</p>
            </div>
            
        </div>
        <div class="row py-3 text-center">
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Belleza-Esp">
                <img src="/img/belleza.webp" class="img-fluid img-Select" alt="Formacion 5">
                </a>
                <p class="mt-2 subtitle">Caracterización Basica</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Contabilidad-Esp">
                <img src="/img/contabilidad.webp" class="img-fluid img-Select" alt="Formacion 6">
                </a>
                <p class="mt-2 subtitle">Masaje Pindas y Auriculoterapia</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Programacion-Esp">
                <img src="/img/programacion.webp" class="img-fluid img-Select" alt="Formacion 7">
                </a>
                <p class="mt-2 subtitle">Barberia</p>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <a href="Especialidades/Mtto-Computadoras-Esp">
                <img src="/img/pc.webp" class="img-fluid img-Select" alt="Formacion 8">
                </a>
                <p class="mt-2 subtitle">Pasteles</p>
            </div>
        </div>
    </div>
{# Final- Cursos #}
{# Inicio- Comunidad #}
    <div class="container">
        <div class="row py-3">
            <div class="col-12">
                <h2 class="text-center titleFont">Comunidad Tecsum</h2>
            </div>
        </div>
        <div class="card-container py-3">
            {% for post in collections.noticias %}
            <div class="card">
                <div class="circle">
                <img src="{{ post.data.featured_image }}" class="card-img-top" alt="{{ post.data.title }}">
                </div>
                <div class="content">
                <h5 class="card-title">{{ post.data.title }}</h5>
                <p class="card-text">{{ post.data.description }}</p>
                <p class="card-text"><small class="text-muted">{{ post.data.date}}</small></p>
                <div class="container-fluid text-center">
                    <a href="{{ post.url }}" class="btn">Leer Más</a>
                </div>
                </div>
            </div>
            {% else %}
                <p>No hay publicaciones disponibles en la colección de noticias.</p>
            {% endfor %}
        </div>
    </div>
{# Final- Comunidad #}

{# Inicio- Contacto #}
{%include "forms.njk"%}
{# Final- Contacto #}





{# <h1>{{ title }}</h1> #}