---
layout: layout-page.njk
title: Inscribete
description: Pagina de inicio
---

<div class="container PY-5">
    <h1 class="text-center titleFont">{{ title }}</h1>
    <p class="py-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor eius quia qui laborum, eveniet odit expedita,
        deleniti dolorum quam illum animi aliquid mollitia earum possimus culpa aspernatur molestiae labore doloremque. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Quam, cum mollitia fugit nobis tempora ipsum fugiat recusandae
        dolorem officia, necessitatibus, dolores corrupti architecto doloremque animi eligendi voluptate pariatur. Autem, ipsam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quia nesciunt quaerat consequatur, suscipit sint culpa
        nisi enim rem saepe nihil soluta quasi cum cupiditate quibusdam ut maiores reprehenderit. Inventore?</p>
        
    {% include "forms.njk" %}
</div>