---
layout: layout-page.njk
title: "¡Inscríbete y Crece con Nosotros!"
description: "Completa el formulario para comenzar tu educación en Tecsum y abre las puertas a nuevas oportunidades. ¡Te esperamos con los brazos abiertos!"
---

<div class="container PY-5">
    <h1 class="text-center titleFont">Solicitar Información</h1>

        
    {% include "forms.njk" %}
</div>