---
layout: layout-Especialidades.njk
title: "Asistente Educativo"
name_carrera: "Asistente Educativo"

text_PCarrera: "Es un programa que te permitirá trabajar con niños y otorgarles atención integral desde la lactancia hasta los 6 años de edad. Además te permitirá adquirir el dominio de competencias para participar en la elaboración de planes de asistencia a lactantes, maternales y preescolar."

banner_image: "https://www.ceupe.com/images/easyblog_articles/4605/b2ap3_large_asistencia-educativa.jpg"
banner_text: "Asistente Educativo"

img_egreso: "https://tecsum.edu.mx/Images/Banners/B_AE.webp"
duration: "4 semestres"
modality: "Presencial"
course_start: "Septiembre 2024"
study_plan_url: "/PDF/Asistente_Educativo.pdf"

list_egreso:
  - name: "Diseñar y organizar estrategias y actividades didácticas para el desarrollo infantil de 45 días a 6 años."
  - name: "Apoyar a los profesores en la comprensión de las lecciones y la organización del aula."
  - name: "Prestar asistencia a alumnos con necesidades especiales, proporcionando apoyo personalizado."
  - name: "Ayudar en tareas administrativas y servir como enlace educativo entre la escuela y los padres."
  - name: "Implementar actividades que fomenten el desarrollo integral de los niños en el entorno educativo."
  - name: "Colaborar en la planificación y ejecución de proyectos educativos y eventos escolares."

list_campo:
  - name: "Asistente Educativo en Escuelas Infantiles"
  - name: "Apoyo en Educación Especial"
  - name: "Coordinador de Actividades Didácticas"
  - name: "Auxiliar Administrativo Escolar"
  - name: "Enlace Educativo con Padres"
  - name: "Facilitador de Entornos de Aprendizaje"

text_Beneficios: "El campo de la Asistencia Educativa ofrece numerosas oportunidades para contribuir significativamente al desarrollo infantil y a la gestión de entornos educativos. Al formarte en nuestra institución, disfrutarás de beneficios exclusivos que te prepararán para una carrera exitosa en este ámbito:"
list_Beneficios:
  - name: "Acceso a..."
  - name: "Oportunidades... "
  - name: "Acceso a..."


planteles:
  - image: "https://tecsum.edu.mx/Images/Planteles/Naucalpan/Plantel-Naucalpan.webp"
    name: Naucalpan




---


