---
layout: layout-Especialidades.njk
title: "Especialidad en Asistente Educativo | TECSUM"
description: "Prepárate para apoyar en el desarrollo infantil con nuestra Especialidad en Asistente Educativo. Adquiere habilidades prácticas para colaborar en entornos educativos y contribuir al bienestar de los niños."
name_carrera: "Asistente Educativo"

text_PCarrera: "Es un programa que te permitirá trabajar con niños y otorgarles atención integral desde la lactancia hasta los 6 años de edad. Además, te permitirá adquirir el dominio de competencias para participar en la elaboración de planes de asistencia a lactantes, maternales y preescolar."

banner_image: "/img/Especialidades/Asistente-Educativo/Banner-Esp.webp"
banner_text: "Asistente Educativo"

img_egreso: "/img/Especialidades/Asistente-Educativo/Img-Esp-Secundaria.webp"
duration: "4 semestres"
modality: "Presencial"
course_start: "Septiembre 2024"
study_plan_url: "/PDF/Asistente_Educativo.pdf"

list_egreso:
  - name: "Diseñar y organizar estrategias y actividades didácticas para el desarrollo infantil de 45 días a 6 años."
  - name: "Apoyar a los profesores en la comprensión de las lecciones y la organización del aula."
  - name: "Prestar asistencia a alumnos con necesidades especiales, proporcionando apoyo personalizado."
  - name: "Ayudar en tareas administrativas y servir como enlace educativo entre la escuela y los padres."
  - name: "Implementar actividades que fomenten el desarrollo integral de los niños en el entorno educativo."
  - name: "Colaborar en la planificación y ejecución de proyectos educativos y eventos escolares."

list_campo:
  - name: "Asistente Educativo en Escuelas Infantiles"
  - name: "Apoyo en Educación Especial"
  - name: "Coordinador de Actividades Didácticas"
  - name: "Auxiliar Administrativo Escolar"
  - name: "Enlace Educativo con Padres"
  - name: "Facilitador de Entornos de Aprendizaje"

text_Beneficios: "El campo de la Asistencia Educativa ofrece numerosas oportunidades para contribuir significativamente al desarrollo infantil y a la gestión de entornos educativos. Al formarte en nuestra institución, disfrutarás de beneficios exclusivos que te prepararán para una carrera exitosa en este ámbito:"
list_Beneficios:
  - name: "Capacidad para Trabajar con Niños de 45 Días a 6 Años:
Prepárate para ser una parte integral en la formación y desarrollo de niños en la primera infancia, desde los 45 días hasta los 6 años."
  - name: "Conocimiento de Estrategias para Favorecer Habilidades y Competencias:
Adquiere estrategias efectivas para promover habilidades y competencias esenciales para la vida, preparando a los niños para su futuro académico y personal."
  - name: "Desarrollo de Habilidades Emocionales para una Mejor Inserción Laboral:
Fortalece tus habilidades emocionales para gestionar eficazmente el entorno laboral y crear un ambiente educativo positivo como asistente educativo."
  - name: "Dominio en la Elaboración de Planes Educativos Adaptados:
Aprende a diseñar y desarrollar planes educativos que atiendan las necesidades individuales de los niños, promoviendo un aprendizaje personalizado y efectivo."

planteles:
   - name: Naucalpan
---
