---

layout: layout-Especialidades.njk
title: "Especialidad en Contabilidad | TECSUM"
description: "Especialízate en contabilidad y adquiere conocimientos avanzados en análisis financiero, auditoría y gestión contable con nuestro programa práctico y actualizado."

name_carrera: "Contabilidad"

text_PCarrera: "La especialidad de Contabilidad es un programa técnico orientado a desarrollar las habilidades necesarias para gestionar planes financieros y realizar un análisis detallado de los recursos de una entidad económica."

banner_image: "https://tecsum.edu.mx/Images/Especialidades/Contabilidad/Banner-Esp.webp"
banner_text: "Contabilidad"

img_egreso: "https://tecsum.edu.mx/Images/Especialidades/Contabilidad/Img-Esp-Secundaria.webp"
duration: "4 semestres"
modality: "Presencial"
course_start: "Septiembre 2024"
study_plan_url: "/PDF/Contabilidad.pdf"

list_egreso:
  - name: "Gestionar áreas contables, auditoría, costos, finanzas y fiscalidad, aplicando normativas vigentes."
  - name: "Realizar trámites administrativos para la constitución de empresas y cumplir con las leyes y normas vigentes."
  - name: "Elaborar y revisar documentación administrativa, mercantil y contable, siguiendo las políticas establecidas."
  - name: "Identificar, analizar e interpretar la información financiera para tomar decisiones informadas."
  - name: "Registrar información contable de manera electrónica, incluyendo recursos materiales y financieros."
  - name: "Optimizar recursos organizacionales y resolver problemas contables, financieros y fiscales, cumpliendo con derechos y obligaciones."

list_campo:
  - name: "Contador Público"
  - name: "Auditor Interno"
  - name: "Especialista en Costos"
  - name: "Analista Financiero"
  - name: "Consultor Fiscal"
  - name: "Encargado de Nómina y Beneficios"

text_Beneficios: "Estudiar Contabilidad te brinda acceso a una amplia gama de oportunidades en el ámbito financiero y administrativo. Al formar parte de nuestra institución, disfrutarás de beneficios exclusivos que te prepararán para una exitosa carrera en contabilidad y finanzas:"

list_Beneficios:
  - name: "Enseñanza Basada en el Desarrollo Empresarial:
Nuestra formación está enfocada en el desarrollo del ámbito empresarial, proporcionando una base sólida en las prácticas contables dentro de un contexto empresarial."
  - name: "Contabilidad para Personas Físicas y Morales:
Adquiere habilidades para llevar la contabilidad de individuos y entidades jurídicas, preparándote para gestionar diversas necesidades contables."
  - name: "Desarrollo de un Despacho Contable y Manejo de Negocios:
Aprende a establecer y gestionar tu propio despacho contable, así como a manejar diversos aspectos de los negocios con eficacia."

planteles:
   - name: Naucalpan

---

