---
layout: layout-Especialidades.njk
title: "Dibujo Publicitario"
name_carrera: "Dibujo Publicitario"


text_PCarrera: "El dibujo publicitario es la especialidad que tiene como objetivo crear y transmitir mensajes a través de la imagen (publicidad) También es considerado como una disciplina creativa que combina elementos visuales y textuales para comunicar mensajes o información de manera efectiva y atractiva."

banner_image: "https://tecsum.edu.mx/Images/Especialidades/Dibujo-Publicitario/Banner-Esp.webp"
banner_text: "Dibujo Publicitario"


img_egreso: "https://tecsum.edu.mx/Images/Especialidades/Dibujo-Publicitario/Img-Esp-Secundaria.webp"
duration: "4 semestres"
modality: "Presencial"
course_start: "Septiembre 2024"
study_plan_url: "/PDF/CV_ELLIOT_REYES.pdf"

list_egreso:
  - name: "Diseñar material impreso y digital, incluyendo pósters, folletos, logotipos y tarjetas de presentación." 
  - name: "Realizar estampados en diversos productos mediante serigrafía, sublimación y DTF."
  - name: "Desarrollar el branding de una marca, trabajando con logotipos, colores y otros elementos gráficos."
  - name: "Producir material audiovisual, como videos y podcasts."
  - name: "Crear material para exposiciones y presentaciones visuales."
  - name: "Implementar estrategias creativas para la promoción de productos y servicios."
list_campo:
  - name: "Diseñador Gráfico"
  - name: "Ilustrador"
  - name: "Especialista en Branding"
  - name: "Docente Educativo en Dibujo Publicitario"
  - name: "Diseñador de Material Impreso y Estampado"
  - name: "Community Manager con Enfoque Visual (Redes Sociales)"
  
text_Beneficios: "El campo del Dibujo Publicitario abre las puertas a un mundo creativo y multifacético, donde los egresados en la especialidad de dibujo publicitario pueden desarrollar su talento y habilidades en diversas áreas del diseño y la comunicación visual. Al elegir nuestra institución para tu formación, obtendrás beneficios únicos:"
list_Beneficios:
  - name: "Acceso a Laboratorio para el Manejo de Software Digital:
Utiliza nuestro laboratorio equipado con software de diseño líder, como Adobe Illustrator y Photoshop, para perfeccionar tus habilidades digitales y técnicas."
  - name: "Preparación para el Campo Laboral y Proyectos Freelance:
Desarrolla habilidades en rotulación, creación de logos corporativos y manuales corporativos, y prepárate para trabajar en el campo laboral o emprender proyectos freelance en el ámbito del diseño publicitario."
  - name: "Formación en Técnicas Teórico-Prácticas y Digitales:
Benefíciate de una educación integral que combina técnicas tradicionales de dibujo con herramientas digitales avanzadas, preparándote para diversas aplicaciones en el diseño."
planteles:
   - name: Naucalpan



---


