---
layout: layout-Especialidades.njk
title: "Dibujo Publicitario"
name_carrera: "Dibujo Publicitario"


text_PCarrera: "El dibujo publicitario es la especialidad que tiene como objetivo crear y transmitir mensajes a través de la imagen (publicidad) También es considerado como una disciplina creativa que combina elementos visuales y textuales para comunicar mensajes o información de manera efectiva y atractiva."

banner_image: "https://previews.123rf.com/images/ganpanjaneedesign/ganpanjaneedesign1704/ganpanjaneedesign170400063/76576791-roll-up-banner-plantilla-soporte-de-dise%C3%B1o-publicidad-pantalla-folleto-de-negocios-ilustraci%C3%B3n.jpg"
banner_text: "Dibujo Publicitario"


img_egreso: "https://tecsum.edu.mx/Images/Banners/B_DP.webp"
duration: "4 semestres"
modality: "Presencial"
course_start: "Septiembre 2024"
study_plan_url: "/PDF/CV_ELLIOT_REYES.pdf"

list_egreso:
  - name: "Diseñar material impreso y digital, incluyendo pósters, folletos, logotipos y tarjetas de presentación." 
  - name: "Realizar estampados en diversos productos mediante serigrafía, sublimación y DTF."
  - name: "Desarrollar el branding de una marca, trabajando con logotipos, colores y otros elementos gráficos."
  - name: "Producir material audiovisual, como videos y podcasts."
  - name: "Crear material para exposiciones y presentaciones visuales."
  - name: "Implementar estrategias creativas para la promoción de productos y servicios."
list_campo:
  - name: "Diseñador Gráfico"
  - name: "Ilustrador"
  - name: "Especialista en Branding"
  - name: "Docente Educativo en Dibujo Publicitario"
  - name: "Diseñador de Material Impreso y Estampado"
  - name: "Community Manager con Enfoque Visual (Redes Sociales)"
  
text_Beneficios: "El campo del Dibujo Publicitario abre las puertas a un mundo creativo y multifacético, donde los egresados en la especialidad de dibujo publicitario pueden desarrollar su talento y habilidades en diversas áreas del diseño y la comunicación visual. Al elegir nuestra institución para tu formación, obtendrás beneficios únicos:"
list_Beneficios:
  - name: "Acceso a..."
  - name: "Oportunidades... "
  - name: "Acceso a..."
planteles:
  - image: "https://tecsum.edu.mx/Images/Planteles/Naucalpan/Plantel-Naucalpan.webp"
    name: Naucalpan



---


