---
layout: layout-Especialidades.njk
title: "Gastronomía"
name_carrera: "Gastronomía"

text_PCarrera: "Es un programa diseñado para formar profesionales en el arte culinario, los estudiantes aprenderán a realizar diversas recetas y aplicarán diferentes técnicas culinarias, preparándose para desempeñarse como chefs competentes y creativos en la industria gastronómica."

banner_image: "https://www.peru.travel/Contenido/General/Imagen/es/950/1.1/gastronomia-peruana-platos-tipicos.desktop.jpg"
banner_text: "Gastronomía"

img_egreso: "https://tecsum.edu.mx/Images/Banners/B_Gastronomia.webp"
duration: "4 semestres"
modality: "Presencial"
course_start: "Septiembre 2024"
study_plan_url: "/PDF/Gastronomia.pdf"

list_egreso:
  - name: "Dominar técnicas culinarias nacionales e internacionales, incluyendo la preparación de platos tradicionales y modernos."
  - name: "Realizar panadería y repostería, creando productos horneados con técnicas especializadas."
  - name: "Aplicar técnicas de coctelería para elaborar bebidas innovadoras y clásicas."
  - name: "Ofrecer servicios gastronómicos con un enfoque en la creatividad y la presentación."
  - name: "Gestionar y organizar eventos gastronómicos, desde cenas hasta grandes banquetes."
  - name: "Mantener altos estándares de calidad en la cocina, incluyendo la higiene y la seguridad alimentaria."

list_campo:
  - name: "Chef en Restaurantes"
  - name: "Panadero y Repostero"
  - name: "Coctelero"
  - name: "Catering y Eventos"
  - name: "Consultor Gastronómico"
  - name: "Docente en Gastronomía"

text_Beneficios: "La especialidad en Gastronomía ofrece amplias oportunidades para desarrollar una carrera culinaria exitosa. Al formarte en nuestra institución, disfrutarás de beneficios exclusivos que te prepararán para destacar en el mundo gastronómico:"
list_Beneficios:
  - name: "Acceso a..."
  - name: "Oportunidades... "
  - name: "Acceso a..."

planteles:
  - image: "https://tecsum.edu.mx/Images/Planteles/Naucalpan/Plantel-Naucalpan.webp"
    name: Naucalpan



---
