---
layout: layout-Especialidades.njk
title: "Especialidad en Gastronomía | TECSUM"
description: "Nuestra Especialidad en Gastronomía te ofrece formación integral para convertirte en chef experto. Domina técnicas culinarias y gestión de cocina en un entorno profesional."

name_carrera: "Gastronomía"

text_PCarrera: "Es un programa diseñado para formar profesionales en el arte culinario. Los estudiantes aprenderán a realizar diversas recetas y aplicarán diferentes técnicas culinarias, preparándose para desempeñarse como chefs competentes y creativos en la industria gastronómica."

banner_image: "https://tecsum.edu.mx/Images/Especialidades/Gastronomia/Banner-Esp.webp"
banner_text: "Gastronomía"

img_egreso: "https://tecsum.edu.mx/Images/Especialidades/Gastronomia/Img-Esp-Secundaria.webp"
duration: "4 semestres"
modality: "Presencial"
course_start: "Septiembre 2024"
study_plan_url: "/PDF/Gastronomia.pdf"

list_egreso:
  - name: "Dominar técnicas culinarias nacionales e internacionales, incluyendo la preparación de platos tradicionales y modernos."
  - name: "Realizar panadería y repostería, creando productos horneados con técnicas especializadas."
  - name: "Aplicar técnicas de coctelería para elaborar bebidas innovadoras y clásicas."
  - name: "Ofrecer servicios gastronómicos con un enfoque en la creatividad y la presentación."
  - name: "Gestionar y organizar eventos gastronómicos, desde cenas hasta grandes banquetes."
  - name: "Mantener altos estándares de calidad en la cocina, incluyendo la higiene y la seguridad alimentaria."

list_campo:
  - name: "Chef en Restaurantes"
  - name: "Panadero y Repostero"
  - name: "Coctelero"
  - name: "Catering y Eventos"
  - name: "Consultor Gastronómico"
  - name: "Docente en Gastronomía"

text_Beneficios: "La especialidad en Gastronomía ofrece amplias oportunidades para desarrollar una carrera culinaria exitosa. Al formarte en nuestra institución, disfrutarás de beneficios exclusivos que te prepararán para destacar en el mundo gastronómico:"
list_Beneficios:
  - name: "Herramientas Necesarias para Desarrollar Platillos:
Accede a los equipos y recursos fundamentales para crear una amplia variedad de platos."
  - name: "Complemento de Especialidad con Cursos Profesionales:
Aprovecha cursos impartidos por expertos en el área de alimentos y bebidas para enriquecer tu formación."
  - name: "Visitas Guiadas para Ampliar tu Cultura Gastronómica:
Participa en visitas a lugares clave para expandir tu conocimiento y apreciación de la gastronomía."
  - name: "Participación en Eventos Culinarios:
Involúcrate en eventos culinarios para ganar experiencia práctica."

planteles:
   - name: Naucalpan
---
