---

layout: layout-Especialidades.njk
title: "Inglés"
name_carrera: "Inglés"

text_PCarrera: "La especialidad en Inglés te prepara para traducir y comunicar eficazmente en el idioma inglés en diversos contextos. Aprenderás inglés británico desde el nivel A1 hasta C1, manejando textos en áreas como ciencia, arte, literatura y tecnología, brindando servicios de traducción precisa y profesional."

banner_image: "https://tecsum.edu.mx/Images/Especialidades/Ingles/Banner-Esp.webp"
banner_text: "Inglés"

img_egreso: "https://tecsum.edu.mx/Images/Especialidades/Ingles/Img-Esp-Secundaria.webp"
duration: "4 semestres"
modality: "Presencial"
course_start: "Septiembre 2024"
study_plan_url: "/PDF/Ingles.pdf"

list_egreso:
  - name: "Traducir textos del inglés al español y viceversa en áreas como ciencia, arte, literatura y tecnología."
  - name: "Desarrollar habilidades avanzadas en la comunicación escrita y oral en inglés británico."
  - name: "Interpretar y adaptar textos técnicos y literarios para diferentes audiencias y contextos."
  - name: "Proporcionar servicios de traducción para empresas y organizaciones en diversos sectores."
  - name: "Realizar análisis lingüísticos y culturales para mejorar la precisión de las traducciones."
  - name: "Colaborar en proyectos de traducción en equipo, utilizando herramientas y software especializados."

list_campo:
  - name: "Traductor de Inglés"
  - name: "Intérprete de Inglés"
  - name: "Revisor de Textos Bilingües"
  - name: "Editor de Contenidos Multilingües"
  - name: "Asesor Lingüístico en Empresas"
  - name: "Especialista en Traducción Técnica"

text_Beneficios: "Estudiar la especialidad en Inglés abre un amplio abanico de oportunidades profesionales en el ámbito de la traducción y la comunicación. Al inscribirte en nuestra institución, obtendrás beneficios exclusivos que te prepararán para una carrera exitosa en el campo del idioma inglés:"
list_Beneficios:
  - name: "Entendimiento del Idioma Extranjero:
Desarrolla habilidades para comunicarte de manera efectiva en inglés."
  - name: "Preparación para el Mundo Laboral:
Adquiere las competencias necesarias para destacarte en el entorno profesional global."
  - name: "Acceso Inmediato a Textos y Títulos:
Mejora tu capacidad para comprender rápidamente textos y documentación en inglés."

planteles:
   - name: Naucalpan


---

