---
layout: layout-Especialidades.njk
title: "Especialidad en Inglés | TECSUM"
description: "Amplía tus habilidades lingüísticas con nuestra Especialidad en Inglés. Prepárate para comunicarte con fluidez en el ámbito profesional y personal."

name_carrera: "Inglés"

text_PCarrera: "La especialidad en Inglés te prepara para traducir y comunicar eficazmente en el idioma inglés en diversos contextos. Aprenderás inglés británico desde el nivel A1 hasta B2, manejando textos en áreas como ciencia, arte, literatura y tecnología, y brindando servicios de traducción precisa y profesional."

banner_image: "/img/Especialidades/Ingles/Banner-Esp.webp"
banner_text: "Inglés"

img_egreso: "/img/Especialidades/Ingles/Img-Esp-Secundaria.webp"
duration: "4 semestres"
modality: "Presencial"
course_start: "Septiembre 2024"
study_plan_url: "/PDF/Ingles.pdf"

list_egreso:
  - name: "Traducir textos del inglés al español y viceversa en áreas como ciencia, arte, literatura y tecnología."
  - name: "Desarrollar habilidades avanzadas en la comunicación escrita y oral en inglés británico."
  - name: "Interpretar y adaptar textos técnicos y literarios para diferentes audiencias y contextos."
  - name: "Proporcionar servicios de traducción para empresas y organizaciones en diversos sectores."
  - name: "Realizar análisis lingüísticos y culturales para mejorar la precisión de las traducciones."
  - name: "Colaborar en proyectos de traducción en equipo, utilizando herramientas y software especializados."

list_campo:
  - name: "Traductor de Inglés"
  - name: "Intérprete de Inglés"
  - name: "Revisor de Textos Bilingües"
  - name: "Editor de Contenidos Multilingües"
  - name: "Asesor Lingüístico en Empresas"
  - name: "Especialista en Traducción Técnica"

text_Beneficios: "Estudiar la especialidad en Inglés abre un amplio abanico de oportunidades profesionales en el ámbito de la traducción y la comunicación. Al inscribirte en nuestra institución, obtendrás beneficios exclusivos que te prepararán para una carrera exitosa en el campo del idioma inglés:"

list_Beneficios:
  - name: "Desarrollo de Habilidades Lingüísticas:
Desarrolla habilidades avanzadas para comunicarte de manera efectiva en inglés en diferentes contextos."
  - name: "Preparación para el Mundo Laboral:
Adquiere competencias necesarias para destacarte en el entorno profesional global."
  - name: "Acceso a Recursos Especializados:
Accede a textos y documentación en inglés para mejorar tu comprensión y capacidad de traducción."

planteles:
   - name: Naucalpan
---
