---
layout: layout-Especialidades.njk
title: "Mantenimiento de Computadoras"
name_carrera: "Mantenimiento de Computadoras"

text_PCarrera: "La especialidad en Mantenimiento de Computadoras te proporciona las habilidades necesarias para diagnosticar, reparar y mantener equipos informáticos. Aprenderás a resolver problemas técnicos, realizar actualizaciones de hardware y software, y garantizar el funcionamiento óptimo de sistemas computacionales."

banner_image: "https://elinge.co/wp-content/uploads/2023/10/tecnicos-en-mantenimiento-de-computadores-ID-01.webp"
banner_text: "Mantenimiento de Computadoras"

img_egreso: "https://tecsum.edu.mx/Images/Banners/B_MC.webp"
duration: "4 semestres"
modality: "Presencial"
course_start: "Septiembre 2024"
study_plan_url: "/PDF/Mantenimiento_Computadoras.pdf"

list_egreso:
  - name: "Diagnosticar y reparar fallos de hardware en computadoras y periféricos."
  - name: "Instalar, configurar y actualizar sistemas operativos y software."
  - name: "Realizar mantenimiento preventivo y correctivo para asegurar el rendimiento óptimo de los equipos."
  - name: "Resolver problemas técnicos relacionados con redes y conectividad."
  - name: "Brindar soporte técnico y asesoría a usuarios sobre el uso de equipos y software."
  - name: "Gestionar inventarios de equipos y repuestos, y realizar documentación técnica."

list_campo:
  - name: "Técnico en Mantenimiento de Computadoras"
  - name: "Especialista en Soporte Técnico"
  - name: "Administrador de Sistemas"
  - name: "Consultor en Redes y Sistemas"
  - name: "Soporte Técnico en Empresas"
  - name: "Docente en Tecnología Informática"

text_Beneficios: "El programa de Mantenimiento de Computadoras te capacita en el diagnóstico y resolución de problemas técnicos en sistemas informáticos. Al estudiar con nosotros, tendrás acceso a recursos avanzados y formación especializada que te posicionarán como un experto en soporte técnico y administración de sistemas, preparándote para destacar en un campo en constante evolución."
list_Beneficios:
  - name: "Acceso a..."
  - name: "Oportunidades... "
  - name: "Acceso a..."

planteles:
  - image: "https://tecsum.edu.mx/Images/Planteles/Naucalpan/Plantel-Naucalpan.webp"
    name: Naucalpan



---

