---

layout: layout-Especialidades.njk
title: "Programación"
name_carrera: "Programación"

text_PCarrera: "Este programa se centra en la formación de profesionales en el desarrollo de software y aplicaciones. Los estudiantes aprenderán a crear programas para una amplia gama de dispositivos: computadoras personales, teléfonos móviles, laptops y tabletas, así como para plataformas web."

banner_image: "https://tecsum.edu.mx/Images/Especialidades/Programacion/Banner-Esp.webp"
banner_text: "Programación"

img_egreso: "https://tecsum.edu.mx/Images/Especialidades/Programacion/Img-Esp-Secundaria.webp"
duration: "4 semestres"
modality: "Presencial"
course_start: "Septiembre 2024"
study_plan_url: "/PDF/Programacion.pdf"

list_egreso:
  - name: "Diseñar proyectos de software utilizando metodologías de programación y herramientas informáticas para resolver necesidades específicas."
  - name: "Crear conceptos y técnicas visuales mediante metodologías de diseño para proyectos publicitarios con un enfoque crítico y creativo."
  - name: "Seleccionar y aplicar herramientas tecnológicas adecuadas para generar soluciones innovadoras y eficientes."
  - name: "Gestionar procesos administrativos y estratégicos relacionados con el desarrollo de software, tomando decisiones responsables y colaborativas."
  - name: "Desarrollar y presentar propuestas de diseño de software, evidenciando la funcionalidad y viabilidad de las decisiones tomadas."
  - name: "Adaptarse a nuevos paradigmas tecnológicos y culturales, aplicando principios éticos y de responsabilidad en el desarrollo de proyectos."

list_campo:
  - name: "Desarrollador de Software"
  - name: "Ingeniero de Sistemas"
  - name: "Analista de Programas"
  - name: "Diseñador de Interfaces"
  - name: "Consultor en Tecnología"
  - name: "Gestor de Proyectos de TI"

text_Beneficios: "El campo de la programación ofrece una amplia gama de oportunidades en el desarrollo de software y tecnología. Al estudiar en nuestra institución, disfrutarás de beneficios únicos que te prepararán para una exitosa carrera en la programación y el desarrollo de tecnología:"
list_Beneficios:
  - name: "Acceso a Laboratorio de Cómputo con Equipos de Última Generación:
Aprovecha nuestro laboratorio de cómputo con tecnología avanzada para practicar programación y desarrollar habilidades en el uso de herramientas esenciales como Word, Excel, y software especializado."
  - name: "Formación Integral en Lenguajes de Programación y Desarrollo de Software:
Recibe una educación completa en diversos lenguajes de programación y técnicas de desarrollo de software, incluyendo el uso de HTML, CSS y JavaScript para crear y gestionar páginas web."
  - name: "Preparación para el Mundo Laboral y Oportunidades de Empleo:
Desarrolla habilidades prácticas y experiencia real desde el inicio de tus estudios, facilitando tu inserción en el mercado laboral y preparándote para enfrentar desafíos en diversas áreas de la programación y el desarrollo tecnológico."

planteles:
   - name: Naucalpan


---
