/* Importación de fuentes */

/* Estilos generales */
body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #F2F2F2;
}

p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
}

.icon-egreso{
    width: 2rem;
    height: 2rem;
}

ul,ol{
    font-size: 1.4rem;
}

.text-justify{
    text-align: justify;
}

.ul-header{
    font-size: 1.2rem;

}

.footer-social p{
    font-size: 1.1rem;
}


/* skill */

.skill-container{
    background-color: #202035;
}

.skill-container h4{
    color: white;
}

.skill-img{
    width: 3rem;
    height: 3rem;
}

.border-skill{
    border: 2px solid;
    border-color: #202035;
}

/* Banner */

.banner-fluid {
    position: relative;
    width: 100%;
    height: auto;
}

.banner-image {
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.banner-text h1 {
    color: white; /* Cambia el color del texto según tu diseño */
    font-size: 7rem; /* Tamaño de fuente ajustable según necesites */
}

.banner-text h2 {
    color: white; /* Cambia el color del texto según tu diseño */
    font-size: 5rem; /* Tamaño de fuente ajustable según necesites */
}




.banner-image {
    width: 100%;
    height: 500px;
    display: block;
    object-fit: cover;
    filter: brightness(50%);
}

.banner-image-Esp {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
    filter: brightness(50%);
    object-position: center;
}

/* Carrusel */

.carousel-vh img {
    object-fit: cover;
    width: 100%; /* Ajustar el ancho al 100% de su contenedor */
    height: 100%; /* Altura automática para mantener la proporción */
}



.carousel-indicators button {
    background-color: #000;
}



/* Estilo acordion */
.accordion-button {
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
  }

  .accordion-body{
    font-size: 1.2rem;
  }


  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion-header {
    margin-bottom: 0;
  }



  .accordion-item {
    border: none;
  }

  .accordion-button .highlight {
    color: var(--bs-custom-blue);
  }




/* Estilo Responsivo Facebook */
.iframe-container {
    position: relative;
    overflow: hidden;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Proporción 4:5 para vertical */
.iframe-container.vertical {
    padding-bottom: 125%; /* 4/5 = 0.8 => 80% pero se invierte */
}

/* Proporción 16:9 para horizontal */
.iframe-container.horizontal {
    padding-bottom: 56.25%; /* 9/16 = 0.5625 => 56.25% */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 767.98px) {
    .iframe-container.vertical {
        padding-bottom: 150%; /* Ajuste para mayor altura en móviles */
    }
    .iframe-container.horizontal {
        padding-bottom: 75%; /* Ajuste para mayor altura en móviles */
    }
}



  /* Estilo Especialidades */

.perfil-de-egreso {
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.perfil-de-egreso h2 {
    color: var(--bs-custom-blue);
    font-weight: bold;
    margin-bottom: 15px;
}
.perfil-de-egreso p {
    margin-bottom: 15px;
}
.perfil-de-egreso ul {
    list-style-type: none;
    padding: 0;
}
.perfil-de-egreso ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.perfil-de-egreso ul li img {
    margin-right: 10px;
}
.perfil-de-egreso .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.content-section {
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content-section h2 {
    color: var(--bs-custom-blue);
    font-weight: bold;
    margin-bottom: 15px;
}
.content-section p, .content-section ul {
    margin-bottom: 15px;
}
.content-section ul {
    list-style: none;
    padding: 0;
}
.content-section ul li {
    margin-bottom: 10px;
}


/* Estilos para subtitulos */

.subtitle {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Estilos para títulos */
h1,
h2 {
    color: #0e6ba8;
    font-weight: bolder;
    font-size: 2rem;
}

h3{
    color: var(--bs-custom-dark-blue);
    font-weight: bolder;
    font-size: 2rem;
}

.titleFont {
    color: #0a2472;
    font-size: 4rem;
}

/* Estilos para iconos */
.icon {
    width: 96px;
    height: 96px;
}

/* Planteles imagen */

.img-plantel{
    width: 25rem;
    height: 20rem;
    object-fit: cover;
}


/* Estilos del botón de WhatsApp */
/* Contenedor del botón flotante */
.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100; /* Asegura que el botón esté encima de otros elementos */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para el botón principal */
.fab-button {
    width: 56px;
    height: 56px;
    background-color: #4CAF50; /* Color verde */
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
    cursor: pointer;
    padding: 0;
    transition: background-color 0.3s ease;
}

.fab-button:hover {
    background-color: #388E3C; /* Color de fondo al pasar el mouse */
}

/* Estilo para las imágenes en los botones */
.fab-icon {
    width: 24px; /* Ajusta el tamaño según sea necesario */
    height: 24px;
    transition: transform 0.3s ease;
}

/* Estilo y animaciones del menú */
.fab-menu {
    position: absolute;
    bottom: 70px; /* Ajusta este valor si es necesario */
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

/* Clase para mostrar el menú con animación */
.fab-menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


/* Contenedor para el botón del menú y el texto */
.fab-menu-item-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre los botones */
}

/* Estilo para el texto flotante */
.fab-menu-text {
    margin-right: 15px; /* Espacio adicional entre el texto y el botón */
    color: #f0f0f0; /* Color del texto */
    background-color: gray; /* Color de fondo para el texto */
    padding: 5px 10px; /* Espaciado interno del texto */
    border-radius: 5px; /* Esquinas redondeadas para el fondo del texto */
    font-size: 1.1rem;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

/* Estilo para los elementos del menú */
.fab-menu-item {
    width: 56px;
    height: 56px;
    background-color: #4CAF50; /* Color verde */
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0;
}

.fab-menu-item:hover {
    background-color: #388E3C; /* Color de fondo al pasar el mouse */
}

/* Mostrar el menú cuando esté activo */
.fab.show-menu .fab-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}



/* Estilos de imagen */
.img-fit-container {
    height: 400px;
}

.img-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 40%;
}

.img-form {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.img-Select {
    width: auto;  /* Cambia este valor según tus necesidades */
    height: 220px; /* Cambia este valor según tus necesidades */
    object-fit: cover; /* Recorta la imagen para llenar el contenedor */
    border-radius: 5%;
}

.img-Select-Plantel {
    width: 35rem;  /* Cambia este valor según tus necesidades */
    height: 25rem; /* Cambia este valor según tus necesidades */
    border-radius: 5%;
    object-fit: cover;
}

.img-Comunidad{
    width: 10rem;  /* Cambia este valor según tus necesidades */
    height: 10rem; /* Cambia este valor según tus necesidades */
    object-fit: cover; /* Recorta la imagen para llenar el contenedor */
    border-radius: 5%;
}


.img-Galeria{
    width: 30rem;  /* Cambia este valor según tus necesidades */
    height: 20rem; /* Cambia este valor según tus necesidades */
    object-fit: cover; /* Recorta la imagen para llenar el contenedor */
    border-radius: 5%;
}

.img-Carrera{
    width: 100%;  /* Cambia este valor según tus necesidades */
    height: 30rem; /* Cambia este valor según tus necesidades */
    object-fit: cover; /* Recorta la imagen para llenar el contenedor */
    border-radius: 3%;
}
  

.img-Select:hover{
    animation: select 0.05s ease-in-out both;
}

.img-Select-Plantel:hover{
    animation: select 0.05s ease-in-out both;
}

/* Estilos de tabla */
.table-container {

    padding: 20px;
}

.thick-hr {
    border: 3px solid #000000;
    border-radius: 10px;
}

.rounded-image {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    margin: 0 auto 20px; /* Center the image and add bottom margin */
}

/* Estilos para botones */
.btn-primary {
    display: block;
    width: 100%;
}

.btn-download {
    background-color: #0a2472;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn-download:hover {
    background-color: #a6e1fa;
    border-color: #0a2472;
    border-style: solid;
}

.btn-download i {
    margin-right: 5px;
}

/* Estilos de video y mapa */
.video-container,
.map-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container iframe,
.map-container iframe,
.video-container object,
.map-container object,
.video-container embed,
.map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* Estilos popup-image */
.image {
    overflow: hidden;
    cursor: pointer;
  }
  
  .popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .popup-image span {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    z-index: 100;
  }
  
  .popup-image img {
    max-width: 90%;
    max-height: 90%;
    border: 5px solid #fff;
    border-radius: 5px;
  }
  

@media (max-width: 768px) {
    .carousel-vh img{
        height: auto; /* En dispositivos móviles, altura automática */
    }

        .banner-text h1{
        font-size: 3rem; /* Tamaño de fuente para dispositivos con ancho máximo de 600px */
    }

    .banner-text h2 {
        font-size: 3rem; /* Tamaño de fuente ajustable según necesites */
    }

    .footer-social p{
        font-size: 1rem;
    }

    p{
        font-size: 1.1rem;
    }
    .titleFont {
        font-size: 2rem;
    }
    h2{
        font-size: 1.8rem;
    }
    h3{
        font-size: 1.6rem;
    }
    ul{
        font-size: 1.2rem;
    }
    .skill-container h4{
        font-size: 1.3rem;
    }
    .img-Galeria{
        width: 10rem;  /* Cambia este valor según tus necesidades */
        height: 10rem; /* Cambia este valor según tus necesidades */
        object-fit: cover; /* Recorta la imagen para llenar el contenedor */
        border-radius: 5%;
    }
    .img-Select {
        width: auto;  /* Cambia este valor según tus necesidades */
        height: 12rem; /* Cambia este valor según tus necesidades */
        object-fit: cover; /* Recorta la imagen para llenar el contenedor */
        border-radius: 5%;
    }

    .img-Select-Plantel {
        width: 25rem;  /* Cambia este valor según tus necesidades */
        height: 15rem; /* Cambia este valor según tus necesidades */
        border-radius: 5%;
        object-fit: cover;
    }
    .icon {
        width: 70px;
        height: 70px;
    }
    .subtitle {
        font-size: 1rem;
        font-weight: bold;
    }

    .img-fit-container {
        max-height: 200px;
        
    }

    .rounded-image {
        width: 4rem;
        height: 4rem;
    }

    .img-plantel{
        width: 20rem;
        height: 15rem;
    }

    .fab-button {
        width: 48px;
        height: 48px;
    }
    
    .fab-menu-item {
        width: 48px;
        height: 48px;
    }
    
    .fab-menu {
        bottom: 60px; /* Ajustar el espaciado en pantallas pequeñas */
    }
    

}

@media (min-width: 992px) {
    .map-container {
        padding-bottom: 0;
        height: 500px;
    }

    .map-container iframe,
    .map-container object,
    .map-container embed {
        height: 500px;
    }

}







/* Estilos de tarjetas */
.card-container {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    scrollbar-width: thin;
    scrollbar-color: #071773 #f1f1f1;
}

.card-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.card-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.card-container::-webkit-scrollbar-thumb {
    background: #071773;
    border-radius: 10px;
}

.card-container::-webkit-scrollbar-thumb:hover {
    background: #2A558C;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 15px;
}

.card {
    flex: 0 0 auto;
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    margin: 10px;
    border-radius: 8px;
}

.card .circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
}

.card .content {
    bottom: 10px;
    padding: 20px;
}

.card .content p {
    color: #666;
}



/* Otros estilos */
.whatsapp-icon {
    width: 50px;
    height: auto;
}

/* Animaciones */
.rotate-icon {
    animation: rotateIcon 0.2s ease forwards;
}

@keyframes rotateIcon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

.rotate-icon.reverse {
    animation: rotateIconReverse 0.2s ease forwards;
}

@keyframes rotateIconReverse {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes select{
    from{
        scale: 100%;
        filter: brightness(100%);
    }
    to{
        scale: 95%;
        filter: brightness(50%);
    }
}