---
layout: layout-carrera.njk
title: "Bachillerato Tecnológico en Contabilidad | TECSUM"
description: "Domina las habilidades contables y financieras con el Bachillerato Tecnológico en Contabilidad de TECSUM. Prepárate para gestionar recursos y tomar decisiones estratégicas en el mundo empresarial."
name_carrera: "Bachillerato Tecnológico con Contabilidad"
description_short: "La especialidad de Contabilidad es un programa a nivel técnico orientado a desarrollar las habilidades de los alumnos para gestionar los planes financieros y un análisis detallado de los recursos de una entidad económica."
featured_image: "https://tecsum.edu.mx/Images/Bachilleratos/Contabilidad/Img-Bach-Secundaria.webp"
duration: "3 años"
modality: "Presencial"
course_start: "Agosto 2024"
study_plan_url: "/PDF/Planes-De-Estudios/Bachilleratos/Plan-de-estudios-Bachillerato-Contabilidad.pdf"
planteles:
   - name: "Naucalpan"
   - name: "Tlalnepantla"
---

<div
  class="container">
  <!-- Perfil del Ingreso -->
  <div class="row py-3">
    <div class="col-12">
      <h2>Perfil de Ingreso</h2>
      <p>El aspirante debe tener interés y habilidades en el área de contabilidad y finanzas, tales como:</p>
      <ul>
        <li>Interés por la matemáticas y la economía</li>
        <li>Capacidad analítica y de resolución de problemas</li>
        <li>Atención al detalle y precisión</li>
        <li>Habilidad para trabajar con números y datos</li>
        <li>Capacidad para trabajar en equipo</li>
      </ul>
    </div>
  </div>
  <!-- ¿Por qué estudiar Contabilidad? -->
  <div class="row py-3">
    <div class="col-12">
      <h1>¿Por qué estudiar Contabilidad?</h1>
      <p>La especialidad de contabilidad hoy en día tiene un papel importante en el desarrollo de todas las sociedades, ya que cumple una función social de gran responsabilidad ante los usuarios de sus servicios debido a que concentra su proceso en las necesidades de información veraz y confiable que soporta el proceso de la toma de decisiones empresariales de impacto económico y financiero. <br> Esta especialidad forma a estudiantes altamente capacitados ya que le brinda las competencias y habilidades necesarias para satisfacer las necesidades de las organizaciones relacionadas con el registro cronológico de las operaciones expresados en números y valores, para preparar información fehaciente, veraz y oportuna de la situación financiera así como la operación y control de ingresos y egresos de tesorería y el cumplimiento de las obligaciones fiscales como son los impuestos y contribuciones de acuerdo a la normatividad vigente.</p>
    </div>
  </div>

   <!-- Objetivo -->
    <div class="row py-3">
      <div class="col-12">
        <h1>Objetivo</h1>
        <p> La especialidad en contabilidad tiene como objetivos primordiales:</p>
          <ul>
            <li>Formar a los alumnos con una preparación propedéutica que les permita continuar sus estudios a nivel licenciatura, así mismo la formación tecnológica que les brinde las herramientas fundamentales como son la competencia y el conocimiento para estar en posibilidades de ingresar al campo laboral, estando capacitado para gestionar los procesos contables y tributarios.</li>
            <li>Brindar al estudiante una sólida formación académica con los conocimientos, actitudes, aptitudes y habilidades para entender el entorno socio-económico que rodea a las organizaciones y solucionar los problemas de carácter financiero.</li>
            <li>Formar una actitud de servicio en el estudiante que lo lleve a producir riqueza intelectual y material para aportar al mejoramiento de la sociedad.</li>
            <li>Desarrollar una postura crítica que le permita aplicar los conocimientos adquiridos en las distintas áreas de conocimiento de la especialidad, para resolver de manera íntegra los problemas contables, financieros y fiscales que se le presente.</li>
          </ul>
        </div>
  </div>
  <!-- Perfil del Egresado -->
  <div class="row py-3">
    <div class="col-12">
      <h2>¿Cuál es mi perfil de Egreso?</h2>
      <p>El egresado al cursar el programa educativo de Contabilidad deberá manifestar y tener las siguientes
        características:</p>
      <h3>Capacidades Técnicas</h3>
      <ul>
        <li>Aplicación de principios contables y normativas: Utilizar principios contables y normativas vigentes para registrar y controlar operaciones financieras y contables de manera precisa y conforme a la ley.</li>
        <li>Elaboración de estados financieros: Capacidad para elaborar y interpretar estados financieros básicos como el balance general y el estado de resultados, aplicando la normatividad contable adecuada.</li>
        <li>Análisis e interpretación de información financiera: Habilidad para analizar la información financiera registrada y tomar decisiones informadas que beneficien tanto a la organización como a la sociedad.</li>
        <li>Manejo de herramientas tecnológicas: Utilizar software contable y otras herramientas tecnológicas para el registro, análisis y presentación de información financiera de manera eficiente y precisa.</li>
      </ul>
      <hr class="thick-hr">
    <h3>Habilidades Técnicas</h3>

<div class="row py-3">
    <!-- Columna 1: Principios Contables -->
    <div class="col-12 col-md-3">
        <!-- Título y lista de elementos -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-center skill-container py-2">
                    <div class="col-4 col-lg-3">
                        <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Icono 1" loading="lazy" class="img-fluid me-3 skill-img">
                    </div>
                    <div class="col-8 col-lg-9">
                        <h4 class="text-center mt-3">Principios Contables</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lista de elementos -->
        <div class="row mt-3">
            <div class="col-12">
                <ul>
                    <li>Registro de operaciones financieras</li>
                    <li>Elaboración de estados financieros</li>
                    <li>Análisis de información contable</li>
                    <li>Normativas y legislación fiscal</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Columna 2: Auditoría y Control -->
    <div class="col-12 col-md-3">
        <!-- Título y lista de elementos -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-center skill-container py-2">
                    <div class="col-4 col-lg-3">
                        <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Icono 2" loading="lazy" class="img-fluid me-3 skill-img">
                    </div>
                    <div class="col-8 col-lg-9">
                        <h4 class="text-center mt-3">Auditoría y Control</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lista de elementos -->
        <div class="row mt-3">
            <div class="col-12">
                <ul>
                    <li>Auditoría interna y externa</li>
                    <li>Control de procesos contables</li>
                    <li>Procedimientos de revisión fiscal</li>
                    <li>Gestión de riesgos financieros</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Columna 3: Costos y Finanzas -->
    <div class="col-12 col-md-3">
        <!-- Título y lista de elementos -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-center skill-container py-2">
                    <div class="col-4 col-lg-3">
                        <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Icono 3" loading="lazy" class="img-fluid me-3 skill-img">
                    </div>
                    <div class="col-8 col-lg-9">
                        <h4 class="text-center mt-3">Costos y Finanzas</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lista de elementos -->
        <div class="row mt-3">
            <div class="col-12">
                <ul>
                    <li>Análisis de costos y presupuestos</li>
                    <li>Elaboración de presupuestos financieros</li>
                    <li>Manejo de recursos financieros</li>
                    <li>Reportes financieros y análisis de rentabilidad</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Columna 4: Fiscal y Legal -->
    <div class="col-12 col-md-3">
        <!-- Título y lista de elementos -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-center skill-container py-2">
                    <div class="col-4 col-lg-3">
                        <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Icono 4" loading="lazy" class="img-fluid me-3 skill-img">
                    </div>
                    <div class="col-8 col-lg-9">
                        <h4 class="text-center mt-3">Fiscal y Legal</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lista de elementos -->
        <div class="row mt-3">
            <div class="col-12">
                <ul>
                    <li>Aplicación de normativas fiscales</li>
                    <li>Declaraciones fiscales y tributarias</li>
                    <li>Asesoría en cumplimiento legal</li>
                    <li>Resolución de problemas fiscales</li>
                </ul>
            </div>
        </div>
    </div>
</div>



<!-- Campo Laboral -->
<div class="row py-3">
  <div class="col-12">
    <h2>Campo Laboral</h2>
    <p>El campo laboral del egresado de Contabilidad es amplio. Podrá desempeñarse en:</p>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne">
            <span class="highlight">#1</span>&nbsp; Despachos
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
  <ul style="font-size:1.2rem;">
    <li>Área Contable: En un despacho contable, estarás involucrado en la gestión diaria de registros contables, preparación de estados financieros, análisis de cuentas y conciliaciones bancarias. Serás responsable de mantener la exactitud y la integridad de los registros financieros de los clientes.</li>
    <li>Área Financiera: En el ámbito financiero, trabajarás en la preparación de informes financieros, análisis de flujo de efectivo, elaboración de presupuestos y proyecciones financieras. Ayudarás a las empresas a tomar decisiones informadas sobre inversiones y financiamiento.</li>
    <li>Área Fiscal: Como parte del área fiscal, te encargarás de la preparación y presentación de declaraciones de impuestos para individuos y empresas. Deberás mantenerte actualizado con las leyes fiscales locales e internacionales para garantizar el cumplimiento de las obligaciones fiscales.</li>
    <li>Área de Auditoría: En la auditoría, participarás en la revisión de los procedimientos contables y financieros de las empresas para asegurar la precisión y la conformidad con las normativas. Realizarás auditorías internas y externas, identificando riesgos y recomendando mejoras.</li>
    <li>Área de Costos: En el área de costos, serás responsable de analizar y controlar los costos de producción y operativos de las empresas. Ayudarás a optimizar los recursos y mejorar la rentabilidad mediante el análisis detallado de los costos y las eficiencias operativas.</li>
    <li>Área de Consultoría: Como consultor, proporcionarás asesoramiento financiero y contable a clientes externos. Ayudarás a las empresas a desarrollar estrategias para mejorar el rendimiento financiero, reducir costos y cumplir con los objetivos empresariales a largo plazo.</li>
  </ul>
</div>

        </div>
      </div>
      <!-- Acordeón #2 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo">
            <span class="highlight">#2</span>&nbsp; Analista contable
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Como analista contable, tendrás la responsabilidad de examinar detalladamente los registros financieros de una organización para garantizar su precisión y conformidad con las normativas contables. Tu labor incluirá la preparación de informes financieros, el análisis de tendencias económicas y la formulación de recomendaciones para mejorar la eficiencia financiera y la gestión de recursos.</div>
        </div>
      </div>
      <!-- Acordeón #3 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree">
            <span class="highlight">#3</span>&nbsp; Auxiliar contable
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Como auxiliar contable, estarás involucrado en actividades administrativas y contables fundamentales, como el registro preciso de transacciones financieras, la conciliación de cuentas y la preparación de documentación para auditorías. Trabajarás estrechamente con contadores y analistas para mantener la integridad de los registros financieros de la organización.</div>
        </div>
      </div>
      <!-- Acordeón #4 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour"
            aria-expanded="false"
            aria-controls="flush-collapseFour">
            <span class="highlight">#4</span>&nbsp; Asesorías contables y fiscales.
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">En el campo de asesorías contables y fiscales, tendrás la oportunidad de proporcionar consultoría especializada a empresas y particulares. Te enfocarás en optimizar la carga tributaria, asegurar el cumplimiento normativo y ofrecer estrategias financieras que maximicen el rendimiento económico de tus clientes.</div>
        </div>
      </div>
      <!-- Acordeón #5 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive"
            aria-expanded="false"
            aria-controls="flush-collapseFive">
            <span class="highlight">#5</span>&nbsp; Educación y Capacitación
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Como educador y capacitador en contabilidad, tendrás la tarea de impartir conocimientos avanzados sobre principios contables, normativas financieras y prácticas de gestión fiscal. Tu objetivo será desarrollar las habilidades del personal y estudiantes, preparándolos para enfrentar desafíos financieros y contables en diversas organizaciones educativas o programas de formación.</div>
        </div>
      </div>
      <!-- Acordeón #6 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSix"
            aria-expanded="false"
            aria-controls="flush-collapseSix">
            <span class="highlight">#6</span>&nbsp; Empresas Privadas
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">En el ámbito empresarial privado, tu labor como profesional de la contabilidad implicará la gestión financiera interna, la preparación de informes financieros precisos y la garantía de cumplimiento con las normativas contables. Colaborarás estrechamente con equipos administrativos para optimizar la eficiencia financiera y apoyar la toma de decisiones estratégicas basadas en datos financieros sólidos.</div>
        </div>
      </div>
      <!-- Acordeón #7 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSeven"
            aria-expanded="false"
            aria-controls="flush-collapseSeven">
            <span class="highlight">#7</span>&nbsp; Sector Público
          </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"> En el sector público, tu rol como contador implicará administrar la contabilidad gubernamental, realizar auditorías internas y asegurar el cumplimiento de normativas financieras específicas. Contribuirás al manejo responsable de los recursos públicos y al cumplimiento transparente de las obligaciones fiscales del gobierno.</div>
        </div>
      </div>
      <!-- Acordeón #8 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseEight"
            aria-expanded="false"
            aria-controls="flush-collapseEight">
            <span class="highlight">#8</span>&nbsp; Contador Autónomo
          </button>
        </h2>
        <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Como contador autónomo, te destacarás por ofrecer servicios contables personalizados a diversas organizaciones y personas. Actuarás como consultor externo, preparador de impuestos o auditor independiente, adaptando tu expertise a las necesidades únicas de cada cliente y proporcionando soluciones financieras efectivas.</div>
        </div>
      </div>
      
      
      </div>
    </div>
  </div>
</div>
<!-- Metodología de Enseñanza -->
<div class="row py-3">
  <div class="col-12">
    <h2>Metodología de Enseñanza</h2>
     <ul>
      <li>Clases teóricas</li>
      <li>Actividades de destreza intelectual.</li>
      <li>Actividades y técnicas creativas.</li>
      <li>Prácticas con operaciones económicas de una organización.</li>
      <li>Análisis e interpretación de la Información Financiera derivado de las prácticas</li>
      <li>Resolución de los casos prácticos.</li>
      <li>Asesorías y supervisión.</li>
      <li>Trabajo Individual de las prácticas asignadas por el docente.</li>
      <li>Lectura e Interpretación de las normas y leyes vigentes.</li>
      <li>Aplicación de las normas y leyes vigentes en los casos Prácticos.</li>
    </ul>
  </div>
</div>

 {# <!-- Galería de Fotos -->
    <h1 class="titleFont text-center py-3">Galeria de Arte</h1>
    <div class="row py-3 text-center">
      <div class="col-6 col-md-4 mb-3">
        <img src="https://cdn.discordapp.com/attachments/1271347003233800325/1271359397674745946/DSC03350.JPG?ex=66b70d35&is=66b5bbb5&hm=fb169bcab59850a1158537d7d134c4b9b54441cfff577f40735827f6a72aad6d&" class="img-fluid rounded image" loading="lazy" alt="Foto del Hospital 1"></div>
        <div class="col-6 col-md-4 mb-3">
          <img src="https://cdn.discordapp.com/attachments/1271347003233800325/1271359398286987345/DSC03352.JPG?ex=66b70d35&is=66b5bbb5&hm=880a633513b377c4b7d6d897dd6bc2f7341b96ae20302075ea35b73e67e38fda&" class="img-fluid rounded image" loading="lazy" alt="Foto del Hospital 2"></div>
          <div class="col-6 col-md-4 mb-3">
            <img src="https://cdn.discordapp.com/attachments/1271347003233800325/1271359398903808072/DSC03348.JPG?ex=66b70d35&is=66b5bbb5&hm=8eca6414ab18602dee89a1d5c0ac38f017a28f2debb7df1f698d7d6e9a7156bf&" class="img-fluid rounded image" loading="lazy" alt="Foto del Hospital 3"></div>
            <div class="col-6 col-md-4 mb-3">
              <img src="https://cdn.discordapp.com/attachments/1271347003233800325/1271359399423770624/DSC03349.JPG?ex=66b70d35&is=66b5bbb5&hm=e34011739daca7d9f79eb944b446ce029950299e0a139cf2096a80a6e5bb338c&" class="img-fluid rounded image" loading="lazy" alt="Foto del Hospital 4"></div>
              <div class="col-6 col-md-4 mb-3">
                <img src="https://cdn.discordapp.com/attachments/1271347003233800325/1271361810846584904/DSC03420.JPG?ex=66b70f74&is=66b5bdf4&hm=71613c5ebc1a59c5e36a485264c4da3b1353723ee49238bcf5e7c455c4289208&" class="img-fluid rounded image" loading="lazy" alt="Foto del Hospital 5"></div>
                <div class="col-6 col-md-4 mb-3">
                  <img src="https://cdn.discordapp.com/attachments/1271347003233800325/1271362041914986547/DSC03411.JPG?ex=66b70fab&is=66b5be2b&hm=963143691cd47c331657b47899a7ecd2bc1a6bf45b51cd8f47e790fe72b95f55&" class="img-fluid rounded image" loading="lazy" alt="Foto del Hospital 6"></div>
                </div>
                {% include "popup-image.njk" %} #}

