---
layout: layout-carrera.njk
title: "Bachillerato con Enfermería General"
name_carrera: "Bachillerato Tecnológico con Enfermería General"
description_short: "Programa diseñado para formar profesionales competentes en el cuidado integral de la salud, capacitados para enfrentar los desafíos del ámbito clínico con conocimientos teóricos y prácticos avanzados."
featured_image: "/img/enfermeria.webp"
duration: "3 años"
modality: "Presencial"
course_start: "Agosto 2024"
study_plan_url: "/PDF/CV_ELLIOT_REYES.pdf"
planteles:
  - image: "/img/Plantel-1.webp"
    name: "Naucalpan"
  - image: "/img/Plantel-2.webp"
    name: "Tlalnepantla"
---

<div class="container">
  <!-- Perfil del Egresado -->
  <div class="row py-3 text-justify">
    <div class="col-12">
      <h4>Contamos con la opinión técnica académica favorable del CEIFCHRIS (Comité interinstitucional para la formación de recursos humanos e investigación en salud del Estado de México)</h4>
      <br>
        <h2>Perfil de Ingreso</h2>
        <p>El aspirante debe tener vocación de servicio, como es:</p>
        <ul>
          <li>Responsabilidad</li>
          <li>Iniciativa</li>
          <li>Disciplina</li>
          <li>Actitud positiva para resolver situaciones relacionadas con la salud del ser humano</li>
        </ul>
      </div>
    </div>
    <div class="row py-3 text-justify">
      <div class="col-12">
        <h1>¿Por qué estudiar Enfermería General?</h1>
        <p>El programa de Enfermería General está diseñado para formar profesionales en el cuidado integral de la salud. A lo largo de los tres años de duración, los estudiantes adquirirán conocimientos y habilidades necesarias para brindar atención de calidad en diversos contextos clínicos. <br> El plan de estudios incluye materias teóricas y prácticas, con un enfoque en la prevención, promoción y recuperación de la salud. <br> Los alumnos tendrán la oportunidad de realizar prácticas clínicas en hospitales y centros de salud, donde aplicarán lo aprendido en situaciones reales.</p>
      </div>
    </div>
    <!-- Perfil del Egresado -->
    <div class="row py-3 text-justify">
      <div class="col-12">
        <h2>¿Cuál es mi perfil de Egreso?</h2>
        <p>Al término el egresado:</p>
        <ul>
          <li>Aplicará medidas preventivas, técnicas básicas de atención y cuidado al individuo, la familia y la comunidad, en el primero y segundo nivel de atención.</li>
          <li>Aplicará cuidados de baja y mediana complejidad para la recuperación de la salud o limitar el daño en el adulto, con bases éticas y legales.</li>
          <li>Realizará procedimientos médico quirúrgicos de calidad para el cuidado del adulto, con base en el proceso enfermero y administrativo.</li>
          <li>Aplicará el proceso de atención de enfermería en el cuidado de la mujer en edad reproductiva y del niño.</li>
          <li>Aplicará el proceso enfermero en el cuidado del adulto mayor y en los programas de salud a la comunidad.</li>
        </ul>
        <p>Esto le permitirá que se inserte con éxito al campo laboral.</p>
      </div>
    </div>
    <!-- Campo Laboral -->
    <div class="row py-3 text-justify">
      <div class="col-12">
        <h2>Campo Laboral</h2>
        <p>El campo laboral del egresado de Enfermería General es amplio y diverso. Podrá desempeñarse en:</p>
        <ul>
          <li>Hospitales públicos y privados</li>
          <li>Clínicas</li>
          <li>Centros de salud comunitarios</li>
          <li>Unidades de atención primaria</li>
          <li>Áreas de salud ocupacional</li>
          <li>Geriatría</li>
          <li>Pediatría</li>
          <li>Salud mental</li>
          <li>Programas de salud pública</li>
          <li>Docencia e investigación en enfermería</li>
        </ul>
      </div>
    </div>
    <!-- Metodología de Enseñanza -->
    <div class="row py-3 text-justify">
      <div class="col-12">
        <h2>Nuestra Metodología de Enseñanza</h2>
        <p>La metodología de enseñanza del programa de Enfermería General combina clases teóricas, prácticas clínicas y laboratorios de simulación. Se utilizan métodos interactivos y participativos, como estudios de caso, simulaciones y aprendizaje basado en problemas. Las prácticas clínicas se realizan en hospitales y centros de salud afiliados, donde los estudiantes aplican sus conocimientos bajo la supervisión de profesionales experimentados.</p>
      </div>
    </div>
        <div class="row py-3 text-justify">
      <div class="col-12">
        <h2>Nuestros Beneficios</h2>
          <ul>
            <li>Para ingresar no haces Examen de Admisión</li>
            <li>Laboratorio de prácticas a tu alcance.</li>
            <li>Prácticas en hospitales públicos y privados cada semestre</li>
            <li>Servicio social en hospitales de salubridad, IMSS, ISSSTE, ISSEMYM</li>
            <li>Visitas a museos, zonas arqueológicas, parques, eventos cívicos y culturales, etc.</li>
          </ul>
      </div>
    </div>
    <!-- Galería de Fotos -->
    <h1 class="titleFont text-center">Hospital de Practicas</h1>
    <div class="row py-3 text-justify">
      <div class="col-12">
        <h2>Áreas</h2>
        <ul>
          <li>Quirófano</li>
          <li>Sala de Expulsión</li>
          <li>Área de pediatría</li>
          <li>Hospitalización</li>
          <li>Laboratorio multi-funcional</li>
        </ul>
      </div>
      <div class="col-12">
        <h2>Galería de Fotos</h2>
      </div>
    </div>
    <div class="row py-3 text-center">
      <div class="col-6 col-md-4 mb-3">
        <img src="/img/Test2-img.png" class="img-fluid rounded image" alt="Foto del Hospital 1"></div>
        <div class="col-6 col-md-4 mb-3">
          <img src="/img/Test2-img.png" class="img-fluid rounded image" alt="Foto del Hospital 2"></div>
          <div class="col-6 col-md-4 mb-3">
            <img src="/img/Test2-img.png" class="img-fluid rounded image" alt="Foto del Hospital 3"></div>
            <div class="col-6 col-md-4 mb-3">
              <img src="/img/Test2-img.png" class="img-fluid rounded image" alt="Foto del Hospital 4"></div>
              <div class="col-6 col-md-4 mb-3">
                <img src="/img/Test2-img.png" class="img-fluid rounded image" alt="Foto del Hospital 5"></div>
                <div class="col-6 col-md-4 mb-3">
                  <img src="/img/Test2-img.png" class="img-fluid rounded image" alt="Foto del Hospital 6"></div>
                </div>
                {% include "popup-image.njk" %}