---
layout: layout-carrera.njk
title: "Bachillerato Tecnológico con Enfermería General | TECSUM"
description: " Forma parte del sector salud con el Bachillerato Tecnológico en Enfermería de TECSUM. Adquiere conocimientos teóricos y prácticos para brindar atención de calidad en hospitales y clínicas."
name_carrera: "Bachillerato Tecnológico con Enfermería General"
description_short: "El objetivo del Grado en Enfermería es formar a enfermeros/ras con preparación científica y humana que capacite para valorar, identificar, actuar y evaluar las necesidades de salud y de cuidados de las personas sanas o enfermas, de sus familias y la comunidad"
featured_image: "https://tecsum.edu.mx/Images/Bachilleratos/Enfermeria-General/Img-Bach-Secundaria.webp"
duration: "3 años"
modality: "Presencial"
course_start: "Agosto 2024"
study_plan_url: "/PDF/Planes-De-Estudios/Bachilleratos/Plan-de-estudios-Bachillerato-Enfermeria-General.pdf"
planteles:
   - name: "Naucalpan"
   - name: "Tlalnepantla"
---

<div
  class="container">
  <!-- Perfil del Ingreso -->
  <div class="row py-3">
    <div class="col-12">
      <h2>Perfil de Ingreso</h2>
      <p>El aspirante a ingresar al programa educativo de Enfermería General debe tener interés y habilidades en el área de la salud, tales como:</p>
      <ul>
        <li>Habilidad para la comunicación efectiva</li>
        <li>Dominio de Razonamiento Matemático</li>
        <li>Vocación y compromiso con el cuidado de la salud</li>
        <li>Conocimiento Básico en Biología:</li>
        <li>Atención al detalle y precisión</li>
        <li>Capacidad de trabajo bajo presión</li>
      </ul>
    </div>
  </div>
  <!-- ¿Por qué estudiar Enfermería General? -->
  <div class="row py-3">
    <div class="col-12">
      <h1>¿Por qué estudiar Enfermería General?</h1>
      <p>La carrera de Enfermería General comparte la responsabilidad social de coadyuvar en la formación de profesionales capacitados para desarrollar programas prioritarios del Sector Salud. Conceptualizando a la enfermería como la ciencia del cuidado de la salud del ser humano, el papel fundamental de la enfermera o enfermero es precisamente el cuidado tanto del individuo como de la comunidad, priorizando el aspecto preventivo. <br> </p>
    </div>
  </div>
  <!-- Perfil del Egresado -->
  <div class="row py-3">
    <div class="col-12">
      <h2>¿Cuál es mi perfil de Egreso?</h2>
      <p>El egresado al cursar el programa educativo en Enfermería General deberá manifestar y tener las siguientes
        características:</p>
      <h3>Capacidades Técnicas</h3>
      <ul>
        <li>Una formación integral, que propicie el desarrollo de las habilidades lógicas necesarias para tener 
        acceso a conocimientos más complejos.</li>
        <li> El desarrollo de la capacidad de asimilación de los conocimientos básicos de las ciencias, las 
        humanidades y las tecnologías para su aplicación.</li>
        <li> Desarrollar métodos, a efecto de que los aplique en la interpretación de la cultura de su tiempo y como 
        base para continuar su formación en la Educación Superior.</li>
      </ul>
      <hr class="thick-hr">
    <h3>Habilidades Técnicas</h3>

     <div class="row py-3">
    <!-- Columna 1 -->
    <div class="col-12 col-md-3">
        <!-- Primera fila: Imagen y Título -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-center skill-container py-2">
                    <div class="col-4 col-lg-3">
                        <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Imagen 1" loading="lazy" class="img-fluid me-3 skill-img">
                    </div>
                    <div class="col-8 col-lg-9">
                        <h4 class="text-center mt-3">Atención Integral en Salud</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Segunda fila: Lista de elementos -->
        <div class="row mt-3">
            <div class="col-12">
                <ul>
                    <li>Prevención: Promoción de la salud y protección específica.</li>
                    <li>Curación: Diagnóstico precoz y tratamiento oportuno.</li>
                    <li>Rehabilitación: Limitación del daño y rehabilitación del individuo.</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Columna 2 -->
    <div class="col-12 col-md-3">
        <!-- Primera fila: Imagen y Título -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-center skill-container py-2">
                    <div class="col-4 col-lg-3">
                        <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Imagen 2" loading="lazy" class="img-fluid me-3 skill-img">
                    </div>
                    <div class="col-8 col-lg-9">
                        <h4 class="text-center mt-3">Instituciones de <br>Salud</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Segunda fila: Lista de elementos -->
        <div class="row mt-3">
            <div class="col-12">
                <ul>
                    <li>Desempeño en instituciones de salud de los tres niveles de atención.</li>
                    <li>Aplicación de conocimientos teóricos y prácticos en diferentes entornos de salud.</li>
                    <li>Aplicación de conocimientos teóricos y prácticos en diferentes entornos de salud.</li>
                    <!-- Agrega más elementos según sea necesario -->
                </ul>
            </div>
        </div>
    </div>

    <!-- Columna 3 -->
    <div class="col-12 col-md-3">
        <!-- Primera fila: Imagen y Título -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-center skill-container py-2">
                    <div class="col-4 col-lg-3">
                        <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Imagen 3" loading="lazy" class="img-fluid me-3 skill-img">
                    </div>
                    <div class="col-8 col-lg-9">
                        <h4 class="text-center mt-3">Funciones Diversificadas</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Segunda fila: Lista de elementos -->
        <div class="row mt-3">
            <div class="col-12">
                <ul>
                    <li>Realización de funciones técnicas, administrativas, educativas y de investigación.</li>
                    <li>Participación activa en equipos multidisciplinarios de salud.</li>
                    <!-- Agrega más elementos según sea necesario -->
                </ul>
            </div>
        </div>
    </div>

    <!-- Columna 4 -->
    <div class="col-12 col-md-3">
        <!-- Primera fila: Imagen y Título -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-center skill-container py-2">
                    <div class="col-4 col-lg-3">
                        <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Imagen 4" loading="lazy" class="img-fluid me-3 skill-img">
                    </div>
                    <div class="col-8 col-lg-9">
                        <h4 class="text-center mt-3">Formación <br> Integral</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Segunda fila: Lista de elementos -->
        <div class="row mt-3">
            <div class="col-12">
                <ul>
                    <li>Desarrollo de habilidades lógicas para acceder a conocimientos más complejos.</li>
                    <li>Asimilación de conocimientos básicos de las ciencias, humanidades y tecnologías.</li>
                    <li>Aplicación de métodos para interpretar la cultura contemporánea y continuar la formación en Educación Superior.</li>
                    <!-- Agrega más elementos según sea necesario -->
                </ul>
            </div>
        </div>
    </div>



</div>


<!-- Campo Laboral -->
<div class="row py-3">
  <div class="col-12">
    <h2>Campo Laboral</h2>
    <p>El campo laboral del egresado en Enfermería General es amplio y diverso. Podrá desempeñarse en:</p>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne">
            <span class="highlight">#1</span>&nbsp; Centros de Salud
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Proporcionan atención médica preventiva y curativa en un entorno ambulatorio. Los enfermeros en estos centros realizan evaluaciones iniciales, administran tratamientos, y colaboran con médicos para la gestión de enfermedades y la promoción de la salud.</div>
        </div>
      </div>
      <!-- Acordeón #2 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo">
            <span class="highlight">#2</span>&nbsp; Hospitales Gobierno
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Brindan atención integral a pacientes en condiciones críticas y no críticas. Los enfermeros en hospitales trabajan en áreas como urgencias, unidades de cuidados intensivos, y áreas quirúrgicas, realizando procedimientos médicos, monitoreando pacientes y colaborando en la toma de decisiones clínicas.</div>
        </div>
      </div>
      <!-- Acordeón #3 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree">
            <span class="highlight">#3</span>&nbsp; Casas de Reposo 
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Ofrecen cuidado a personas mayores que requieren asistencia continua. Los enfermeros en estas instituciones se encargan de la administración de medicamentos, el monitoreo de condiciones crónicas, y el apoyo en actividades diarias, garantizando el bienestar y la calidad de vida de los residentes.</div>
        </div>
      </div>
      <!-- Acordeón #4 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour"
            aria-expanded="false"
            aria-controls="flush-collapseFour">
            <span class="highlight">#4</span>&nbsp; Enfermeros Industriales
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Trabajan en el entorno laboral, brindando atención a empleados que sufren accidentes o enfermedades relacionadas con el trabajo. Los enfermeros industriales realizan evaluaciones de salud, previenen riesgos laborales, y colaboran en programas de bienestar y seguridad ocupacional.</div>
        </div>
      </div>
      <!-- Acordeón #5 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive"
            aria-expanded="false"
            aria-controls="flush-collapseFive">
            <span class="highlight">#5</span>&nbsp; Guarderías y Jardines
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Proporcionan atención médica básica y de emergencia a niños pequeños en entornos educativos. Los enfermeros en estas instituciones realizan revisiones de salud, gestionan enfermedades comunes, y colaboran con el personal educativo para asegurar el bienestar general de los niños.</div>
        </div>
      </div>
      <!-- Acordeón #6 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSix"
            aria-expanded="false"
            aria-controls="flush-collapseSix">
            <span class="highlight">#6</span>&nbsp; Docencia
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Imparten conocimientos y formación en el área de la enfermería a futuros profesionales. Los enfermeros docentes desarrollan currículos, enseñan materias relacionadas con la salud y la enfermería, y supervisan prácticas clínicas para asegurar la preparación adecuada de los estudiantes.</div>
        </div>
      </div>
      <!-- Acordeón #7 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSeven"
            aria-expanded="false"
            aria-controls="flush-collapseSeven">
            <span class="highlight">#7</span>&nbsp; Agencias de Enfermería
          </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Ofrecen servicios de atención médica en el hogar para pacientes que necesitan cuidados especiales. Los enfermeros en agencias de enfermería brindan cuidados personalizados, administran medicamentos, y realizan evaluaciones de salud, adaptando los servicios a las necesidades específicas de cada paciente.</div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>
      <!-- Metodología de Enseñanza -->
      <div class="row py-3">
        <div class="col-12">
          <h2>Metodología de Enseñanza</h2>
          <ul>
            <li>Clases teóricas</li>
            <li>Prácticas en el Área de Simulación Clínica de la escuela</li>
            <li>Practicas de Campo en Centros de Salud, Clínicas de Consulta Externa, Hospitales de Gobierno y Privados</li>
            <li>Cursos de Capacitación del Área</li>
          </ul>
        </div>
      </div>

    
    <!-- Galería de Fotos -->
    <h1 class="titleFont text-center">Hospital de Practicas</h1>
    <div class="row py-3 text-justify">
      <div class="col-12">
        <h2>Áreas</h2>
        <ul>
          <li>Quirófano</li>
          <li>Sala de Expulsión</li>
          <li>Área de pediatría</li>
          <li>Hospitalización</li>
          <li>Laboratorio multi-funcional</li>
        </ul>
      </div>
      <div class="col-12">
        <h2>Galería de Fotos</h2>
      </div>
    </div>
    <div class="row py-3 text-center">
      <div class="col-6 col-md-4 mb-3">
        <img src="https://tecsum.edu.mx/Images/Bachilleratos/Enfermeria-General/instalaciones-enfermeria-1.webp" class="img-fluid rounded image img-Galeria" loading="lazy" alt="Foto del Hospital 1"></div>
        <div class="col-6 col-md-4 mb-3">
          <img src="https://tecsum.edu.mx/Images/Bachilleratos/Enfermeria-General/instalaciones-enfermeria-2.webp" class="img-fluid rounded image img-Galeria" loading="lazy" alt="Foto del Hospital 2"></div>
          <div class="col-6 col-md-4 mb-3">
            <img src="https://tecsum.edu.mx/Images/Bachilleratos/Enfermeria-General/instalaciones-enfermeria-3.webp" class="img-fluid rounded image img-Galeria" loading="lazy" alt="Foto del Hospital 3"></div>
            <div class="col-6 col-md-4 mb-3">
              <img src="https://tecsum.edu.mx/Images/Bachilleratos/Enfermeria-General/instalaciones-enfermeria-4.webp" class="img-fluid rounded image img-Galeria" loading="lazy" alt="Foto del Hospital 4"></div>
              <div class="col-6 col-md-4 mb-3">
                <img src="https://tecsum.edu.mx/Images/Bachilleratos/Enfermeria-General/instalaciones-enfermeria-5.webp" class="img-fluid rounded image img-Galeria" loading="lazy" alt="Foto del Hospital 5"></div>
                <div class="col-6 col-md-4 mb-3">
                  <img src="https://tecsum.edu.mx/Images/Bachilleratos/Enfermeria-General/instalaciones-enfermeria-6.webp" class="img-fluid rounded image img-Galeria" loading="lazy" alt="Foto del Hospital 6"></div>
                </div>
                {% include "popup-image.njk" %}