---
layout: layout-carrera.njk
title: "Bachillerato con Programación"
name_carrera: "Bachillerato Tecnológico con Programación"
description_short: "Este programa se centra en la formación de profesionales en el desarrollo de software y aplicaciones. Los estudiantes aprenderán a crear programas para una amplia gama de dispositivos: computadoras personales, teléfonos móviles, laptops y tabletas, así como para plataformas web."
featured_image: "https://tecsum.edu.mx/Images/Bachilleratos/Programacion/Img-Bach-Secundaria.webp"
duration: "3 años"
modality: "Presencial"
course_start: "Agosto 2024"
study_plan_url: "/PDF/Planes-De-Estudios/Bachilleratos/Plan-de-estudios-Bachillerato-Programador.pdf"
planteles:
   - name: "Naucalpan"
   - name: "Tlalnepantla"


---

<div
  class="container">
  <!-- Perfil del Ingreso -->
  <div class="row py-3">
    <div class="col-12">
      <h2>Perfil de Ingreso</h2>
      <p>El aspirante al bachillerato técnico en programación debe poseer interés y habilidades en el área tecnológica, tales como:</p>
      <ul>
        <li>Interés por la informática y la tecnología.</li>
        <li>Capacidad para resolver problemas de manera analítica.</li>
        <li>Destreza en el uso de dispositivos y sistemas informáticos.</li>
        <li>Aptitud para aprender y adaptarse rápidamente a nuevos conocimientos tecnológicos.</li>
        <li>Capacidad para trabajar en equipo</li>
      </ul>
    </div>
  </div>
  <!-- ¿Por qué estudiar Programación? -->
  <div class="row py-3">
    <div class="col-12">
      <h1>¿Por qué estudiar Programación?</h1>
      <p>La especialidad de programación es el resultado de los avances tecnológicos en varias áreas esenciales para las ciencias como la electrónica y la informática, las cuales utilizan la programación para desarrollar dispositivos inteligentes, así como programas y aplicaciones que ofrecen la posibilidad de realizar múltiples tareas o procesos por medio de los sistemas informáticos. Logrando que muchas áreas de las diferentes ciencias del quehacer humano puedan avanzar tecnológicamente desarrollando nuevos y más avanzados conocimientos. <br>
      La especialidad de la programación permite desarrollar las instrucciones de procesos y tareas que los equipos informáticos realizarán, la diversidad de los programas que pueden crearse en esta especialidad son variados, permitiendo la multifuncionalidad de los dispositivos informáticos y de los dispositivos de telefonía móvil.
      </p>
    </div>
  </div>

   <!-- Objetivo -->
    <div class="row py-3">
      <div class="col-12">
        <h1>Objetivo</h1>
        <p> La especialidad en programación tiene como objetivos primordiales:</p>
          <ul>
            <li>Capacitar a los estudiantes para convertirse en programadores competentes, capaces de desarrollar innovaciones tecnológicas en software para dispositivos informáticos, móviles y web.</li>
            <li>Fomentar la creatividad, destreza técnica y metodología de análisis entre los estudiantes, preparándolos para resolver problemas complejos a través del desarrollo de programas.</li>
            <li>Preparar técnicos especializados en el desarrollo de aplicaciones web, asegurando que adquieran habilidades en el diseño, desarrollo y mantenimiento de sitios web dinámicos y funcionales.</li>
            <li>Proporcionar al mercado laboral profesionales capaces de implementar soluciones tecnológicas eficientes y seguras, tanto en el ámbito de aplicaciones para computadoras de escritorio como en sistemas automatizados.</li>
            <li>Promover una cultura de aprendizaje continuo y adaptabilidad tecnológica, equipando a los estudiantes con las herramientas necesarias para enfrentar los desafíos cambiantes del sector de la programación.</li>
          </ul>
        </div>
  </div>
  <!-- Perfil del Egresado -->
  <div class="row py-3">
    <div class="col-12">
      <h2>¿Cuál es mi perfil de Egreso?</h2>
      <p>El candidato a cursar el programa educativo de Programación deberá manifestar y tener las siguientes características:</p>
      <h3>Capacidades Técnicas</h3>
      <ul>
        <li>Comprensión de bases de datos y estructuras de datos: Capacidad para interactuar con bases de datos y optimizar algoritmos mediante estructuras de datos adecuadas.</li>
        <li>Conocimientos básicos de frontend y backend: Familiaridad con HTML, CSS, JavaScript para frontend y tecnologías de servidor y bases de datos para backend.</li>
        <li>Resolución de problemas y lógica: Habilidad para abordar desafíos complejos aplicando lógica y creatividad en el desarrollo de software.</li>
        <li>Colaboración en proyectos de desarrollo: Experiencia en trabajar en proyectos de programación, aprendiendo y colaborando con equipos multidisciplinarios.</li>
        <li>Aprendizaje continuo: Actitud de aprendizaje constante para mejorar habilidades técnicas y adaptarse a nuevas tecnologías y metodologías.</li>
        <li>Escritura y depuración de código: Habilidad para escribir código claro y depurarlo eficientemente, interactuando con software especializado y colaborando con desarrolladores experimentados.</li>
      </ul>
      <hr class="thick-hr">
    <h3>Habilidades Técnicas</h3>

<div class="row py-3">
    <!-- Columna 1-->
    <div class="col-12 col-md-3">
        <!-- Título y lista de elementos -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-center skill-container py-2">
                    <div class="col-4 col-lg-3">
                        <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Icono 1" class="img-fluid me-3 skill-img">
                    </div>
                    <div class="col-8 col-lg-9">
                        <h4 class="text-center mt-3">Desarrollo de Software</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lista de elementos -->
        <div class="row mt-3">
            <div class="col-12">
                <ul>
                    <li>Escritura de código efectivo</li>
                    <li>Manejo de distintos lenguajes</li>
                    <li>C++</li>
                    <li>C#</li>
                    <li>Python</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Columna 2 -->
    <div class="col-12 col-md-3">
        <!-- Título y lista de elementos -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-center skill-container py-2">
                    <div class="col-4 col-lg-3">
                        <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Icono 2" class="img-fluid me-3 skill-img">
                    </div>
                    <div class="col-8 col-lg-9">
                        <h4 class="text-center mt-3">Bases de Datos</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lista de elementos -->
        <div class="row mt-3">
            <div class="col-12">
                <ul>
                    <li>Uso avanzado de bases de datos</li>
                    <li>Estructura de Datos</li>
                    <li>Optimización de algoritmos</li>
                    <li>Manipulación eficiente de datos</li>
                    <li>Gestión de riesgos financieros</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Columna 3 -->
    <div class="col-12 col-md-3">
        <!-- Título y lista de elementos -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-center skill-container py-2">
                    <div class="col-4 col-lg-3">
                        <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Icono 3" class="img-fluid me-3 skill-img">
                    </div>
                    <div class="col-8 col-lg-9">
                        <h4 class="text-center mt-3">Frontend y Backend</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lista de elementos -->
        <div class="row mt-3">
            <div class="col-12">
                <ul>
                    <li>Tecnologías de servidor</li>
                    <li>Integración con bases de datos</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Columna 4:-->
    <div class="col-12 col-md-3">
        <!-- Título y lista de elementos -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-center skill-container py-2">
                    <div class="col-4 col-lg-3">
                        <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Icono 4" class="img-fluid me-3 skill-img">
                    </div>
                    <div class="col-8 col-lg-9">
                        <h4 class="text-center mt-3">Soluciones Lógicas</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lista de elementos -->
        <div class="row mt-3">
            <div class="col-12">
                <ul>
                    <li>Solución de desafíos con lógica y creatividad</li>
                    <li>Habilidades de comunicación efectiva</li>
                    <li>Trabajo colaborativo en equipo</li>
                </ul>
            </div>
        </div>
    </div>
</div>



<!-- Campo Laboral -->
<div class="row py-3">
  <div class="col-12">
    <h2>Campo Laboral</h2>
    <p>El campo laboral para un técnico en programación es amplio y variado. Algunas de las áreas donde pueden trabajar incluyen:</p>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne">
            <span class="highlight">#1</span>&nbsp; Programador Junior Developer
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Un programador junior desarrolla habilidades básicas en la escritura de código y el desarrollo de software. Trabaja bajo supervisión en proyectos de programación, aprendiendo y aplicando conceptos fundamentales. Puede estar involucrado en tareas como la codificación, la depuración de errores y el soporte técnico.
          </div>

        </div>
      </div>
      <!-- Acordeón #2 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo">
            <span class="highlight">#2</span>&nbsp; Desarrollo Web
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">El desarrollo web implica la creación y mantenimiento de sitios web. Esto incluye la construcción de interfaces de usuario interactivas utilizando tecnologías como HTML, CSS y JavaScript para el frontend, así como la integración con tecnologías de servidor y bases de datos para el backend. Los desarrolladores web pueden trabajar en agencias digitales, empresas de tecnología o como freelancers.</div>
        </div>
      </div>
      <!-- Acordeón #3 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree">
            <span class="highlight">#3</span>&nbsp; Desarrollo de Software
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Los desarrolladores de software se centran en crear aplicaciones y sistemas de software más complejos. Este rol implica el diseño, la codificación, la depuración y la implementación de software utilizando varios lenguajes de programación y tecnologías. Pueden especializarse en áreas como aplicaciones de escritorio, sistemas empresariales o software específico para industrias.</div>
        </div>
      </div>
      <!-- Acordeón #4 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour"
            aria-expanded="false"
            aria-controls="flush-collapseFour">
            <span class="highlight">#4</span>&nbsp; Desarrollo de Aplicaciones
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Los desarrolladores de aplicaciones móviles se especializan en crear aplicaciones para dispositivos móviles como teléfonos inteligentes y tabletas. Utilizan plataformas y lenguajes específicos como iOS (Swift) o Android (Java/Kotlin) para desarrollar aplicaciones que ofrecen funcionalidades únicas y optimizadas para dispositivos móviles.</div>
        </div>
      </div>
      <!-- Acordeón #5 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive"
            aria-expanded="false"
            aria-controls="flush-collapseFive">
            <span class="highlight">#5</span>&nbsp; Freelance
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">El trabajo freelance implica trabajar de forma independiente, generalmente a través de proyectos contratados de corto o largo plazo. Los freelancers en programación pueden trabajar en cualquier área mencionada anteriormente, ofreciendo sus servicios de desarrollo de software, desarrollo web, aplicaciones móviles u otros proyectos técnicos a clientes o empresas.</div>
        </div>
      </div>
      <!-- Acordeón #6 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSix"
            aria-expanded="false"
            aria-controls="flush-collapseSix">
            <span class="highlight">#6</span>&nbsp; Docencia en Programación
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Los profesionales que se dedican a la docencia en programación enseñan y capacitan a otros en el campo de la programación y la informática. Pueden trabajar en instituciones educativas, universidades, academias de formación técnica o como educadores independientes. Su rol incluye la planificación de cursos, la preparación de materiales educativos, la enseñanza de conceptos técnicos y la evaluación del progreso de los estudiantes.</div>
        </div>
      </div>
<!-- Acordeón #5 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSeven"
            aria-expanded="false"
            aria-controls="flush-collapseSeven">
            <span class="highlight">#7</span>&nbsp; Desarrollo de Bases de Datos
          </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Un desarrollador de bases de datos se especializa en diseñar, implementar y gestionar bases de datos. Su trabajo incluye la creación de estructuras de datos eficientes, la optimización del rendimiento de las consultas y la implementación de medidas de seguridad para proteger los datos. También se encargan de la migración de datos y la integración de bases de datos con otras aplicaciones y sistemas. Trabajan con sistemas de gestión de bases de datos como MySQL, PostgreSQL, Oracle y SQL Server.</div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- Metodología de Enseñanza -->
<div class="row py-3">
  <div class="col-12">
    <h2>Metodología de Enseñanza</h2>
     <ul>
      <li>Clases teóricas</li>
      <li>Prácticas de laboratorio</li>
      <li>Tutorías o apoyo técnico</li>
      <li>Resolución de ejercicios</li>
      <li>Aprendizaje por repetición</li>
      <li>Trabajo individual o en grupo en el que el docente establece el tema y los estudiantes le presentan el resultado después de haberlo realizado por su cuenta.</li>
    </ul>
  </div>
</div>

  
 <!-- Galería de Fotos -->
    <h1 class="titleFont text-center py-3">Laboratorio de Computo</h1>
    <div class="row py-3 text-center">
      <div class="col-6 col-md-4 mb-3">
        <img src="https://tecsum.edu.mx/Images/Bachilleratos/Programacion/instalaciones-programacion-1.webp" class="img-fluid rounded image img-Galeria" alt="Foto del Laboratorio 1"></div>
        <div class="col-6 col-md-4 mb-3">
          <img src="https://tecsum.edu.mx/Images/Bachilleratos/Programacion/instalaciones-programacion-2.webp" class="img-fluid rounded image img-Galeria" alt="Foto del Laboratorio 2"></div>
          <div class="col-6 col-md-4 mb-3">
            <img src="https://tecsum.edu.mx/Images/Bachilleratos/Programacion/instalaciones-programacion-3.webp" class="img-fluid rounded image img-Galeria" alt="Foto del Laboratorio 3"></div>
            <div class="col-6 col-md-4 mb-3">
              <img src="https://tecsum.edu.mx/Images/Bachilleratos/Programacion/instalaciones-programacion-4.webp" class="img-fluid rounded image img-Galeria" alt="Foto del Laboratorio 4"></div>
              <div class="col-6 col-md-4 mb-3">
                <img src="https://tecsum.edu.mx/Images/Bachilleratos/Programacion/instalaciones-programacion-5.webp" class="img-fluid rounded image img-Galeria" alt="Foto del Laboratorio 5"></div>
                <div class="col-6 col-md-4 mb-3">
                  <img src="https://tecsum.edu.mx/Images/Bachilleratos/Programacion/instalaciones-programacion-6.webp" class="img-fluid rounded image img-Galeria" alt="Foto del Laboratorio 6"></div>
                </div>
                {% include "popup-image.njk" %}