---
layout: layout-planteles.njk
title: "Galeria Plantel Naucalpan"
description: "En este apartado encontraras fotografias y videos acerca de la instalaciones del plantel Naucalpan"
name_plantel: "Naucalpan (CECOVAM)"
URL_Video: https://www.youtube.com/embed/I8SD5qqEJ0I?si=2wDoG8OVxS82YI2q
URL_Image_1: "/img/Test2-img.png"
URL_Image_2: "/img/Test2-img.png"
URL_Image_3: "/img/Test2-img.png"
URL_Image_4: "/img/Test2-img.png"
URL_Image_5: "/img/Test2-img.png"
URL_Image_6: "/img/Test2-img.png"
URL_Image_7: "/img/Test2-img.png"
URL_Image_8: "/img/Test2-img.png"
URL_Maps: https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.5928700788104!2d-99.23691832405729!3d19.473112539384392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d203aad2c20309%3A0xe1a4be1d66c870a!2sCECOVAM!5e0!3m2!1ses!2smx!4v1718204818489!5m2!1ses!2smx
---