---
layout: layout-planteles.njk
title: "Galeria Plantel Naucalpan"
description: "En este apartado encontraras fotografias y videos acerca de la instalaciones del plantel Naucalpan"
name_plantel: "Naucalpan (CECOVAM)"
URL_Video: https://www.youtube.com/embed/I8SD5qqEJ0I?si=2wDoG8OVxS82YI2q
URL_Image_1: "/img/Test2-img.png"
URL_Image_2: "/img/Test2-img.png"
URL_Image_3: "/img/Test2-img.png"
URL_Image_4: "/img/Test2-img.png"
URL_Image_5: "/img/Test2-img.png"
URL_Image_6: "/img/Test2-img.png"
URL_Image_7: "/img/Test2-img.png"
URL_Image_8: "/img/Test2-img.png"
URL_Maps: https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3760.986748110625!2d-99.23945102418656!3d19.49920593854924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d2032033292c61%3A0x3d3f8cdb64587c6c!2sTorres%20de%20Sat%C3%A9lite!5e0!3m2!1ses!2smx!4v1716908481862!5m2!1ses!2smx
---