---
layout: layout-planteles.njk
title: "Plantel Nicolás Romero | TECSUM"
description: "En este apartado encontraras fotografias y videos acerca de la instalaciones del plantel Nicolas Romero"
name_plantel: "Nicolás Romero"
URL_Video: https://www.youtube.com/embed/ree0pXq0HIg?si=99ob75uSIH-WznNP
URL_Image_1: "/img/Test2-img.png"
URL_Image_2: "/img/Test2-img.png"
URL_Image_3: "/img/Test2-img.png"
URL_Image_4: "/img/Test2-img.png"
URL_Image_5: "/img/Test2-img.png"
URL_Image_6: "/img/Test2-img.png"
URL_Image_7: "/img/Test2-img.png"
URL_Image_8: "/img/Test2-img.png"
URL_Maps: https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3758.1668165591536!2d-99.31466922405487!3d19.620164734662765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d2197b4a5ba50d%3A0x8423fde484ce64c7!2sTECSUM%20PLANTEL%20NICOLAS%20ROMERO!5e0!3m2!1ses!2smx!4v1718205020274!5m2!1ses!2smx
---