---
layout: layout-post-img.njk
URL_Img: /img/Expos/Naucalpan/2025/Banner_Expo.webp
title: "Expo Tecsum 2025 Naucalpan"
description: "Los proyectos de..."
date: "2025-06-27"
featured_image: "/img/Expos/Naucalpan/2025/Img-Preview.webp"
tags: ["noticias", "eventos"]
author: "Tecsum Naucalpan"
---
<h1 class="py-3">{{ title }}</h1>
<p>
    <small class="text-muted">{{ date }} - {{ author }}</small>
</p>
<p>La 'Expo Tecsum 2025 Naucalpan' reunió a estudiantes de distintas áreas del conocimiento para exhibir proyectos creativos e innovadores que reflejan su formación práctica, la aplicación de sus habilidades técnicas y el compromiso con su desarrollo académico. Durante el evento, los participantes compartieron sus ideas, prototipos y soluciones originales, demostrando el talento, la dedicación y la pasión que caracterizan a la comunidad Tecsum. Además de impulsar el aprendizaje colaborativo, esta exposición permitió a los asistentes explorar diversas áreas profesionales y reafirmar la importancia de la educación técnica como herramienta para transformar su entorno y construir su futuro.</p>

<!-- Galería de Proyectos -->
<div class="row py-3">
    <div class="col-md-6">
        <h2>Programación</h2>
        <div class="row py-3">
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/P_1.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Programación 1">
            </div>
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/P_2.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Programación 2">
            </div>
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/P_3.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Programación 3">
            </div>
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/P_4.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Programación 4">
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h2>Cultora de Belleza</h2>
        <div class="row py-3">
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/B_1.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Belleza 1">
            </div>
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/B_2.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Belleza 2">
            </div>
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/B_3.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Belleza 3">
            </div>
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/B_4.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Belleza 4">
            </div>
        </div>
    </div>
</div>

<div class="row py-3">
    <div class="col-md-6">
        <h2>Diseño Publicitario</h2>
        <div class="row py-3">
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/D_1.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Diseño 1">
            </div>
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/D_2.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Diseño 2">
            </div>
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/D_3.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Diseño 3">
            </div>
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/D_4.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Diseño 4">
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h2>Enfermería General</h2>
        <div class="row py-3">
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/E_1.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Enfermería 1">
            </div>
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/E_2.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Enfermería 2">
            </div>
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/E_3.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Enfermería 3">
            </div>
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/E_4.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Enfermería 4">
            </div>
        </div>
    </div>
</div>

<div class="row py-3">
    <div class="col-md-6">
        <h2>Asistente Educativo</h2>
        <div class="row py-3">
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/AE_1.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Asistente Educativo 1">
            </div>
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/AE_2.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Asistente Educativo 2">
            </div>
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/AE_3.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Asistente Educativo 3">
            </div>
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/AE_4.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Asistente Educativo 4">
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h2>Contabilidad</h2>
        <div class="row py-3">
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/C_1.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Contabilidad 1">
            </div>
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/C_2.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Contabilidad 2">
            </div>
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/C_3.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Contabilidad 3">
            </div>
            <div class="col-6 col-md-3">
                <img src="/img/Expos/Naucalpan/2025/C_4.webp" class="img-fluid rounded image img-Comunidad my-2" alt="Proyecto de Contabilidad 4">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center">Redes Sociales</h2>
    <div class="row py-3">
        <div class="col-12 col-md-6 mb-3 mb-md-0">
            <div class="iframe-container vertical">
                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid037ojSGPQ79yeuf9P7jc1w7CYBkg5SJq8bv5nSmcRu7YivXqDdpjdC43Km8Woqbg2Ul%26id%3D100064128123845&show_text=true&width=500" width="500" height="792" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>
    </div>
</div>
