/* Importación de fuentes */

/* Estilos generales */
body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #F2F2F2;
}

p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    /* text-align: justify; */
}

ul {
    font-size: 1.4rem;
}

.ul-header {
    font-size: 1.2rem;

}

.footer-social p {
    font-size: 1.1rem;
}



/* skill */

/* Banner */

/* Carrusel */



/* Estilo acordion */


/*Seccion de carreras*/





/* Estilos mejorados para iconos */





@media(max-width: 768px) {

    .d-flex {
        flex-direction: column;
    }
}

/* Ajuste para que el gap funcione bien en móviles */

/* Ajusta icono y texto en tarjetas para móviles */

/*Programacion*/



/* Estilo Responsivo Facebook */

/* Proporción 4:5 para vertical */

/* Proporción 16:9 para horizontal */

/* Ajustes para pantallas pequeñas */



/* Estilo Especialidades */


/* Estilos para subtitulos */

.subtitle {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Estilos para títulos */
h1,
h2 {
    color: #0e6ba8;
    font-weight: bolder;
    font-size: 2rem;
}

.titleFont {
    color: #0a2472;
    font-size: 4rem;
}

/* Estilos para iconos */
.icon {
    width: 96px;
    height: 96px;
}

/* Planteles imagen */


/* Estilos del botón de WhatsApp */
/* Contenedor del botón flotante */
.flab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    /* Asegura que el botón esté encima de otros elementos */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para el botón principal */
.flab-button {
    width: 56px;
    height: 56px;
    background-color: #4CAF50;
    /* Color verde */
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    /* Sombra */
    cursor: pointer;
    padding: 0;
    transition: background-color 0.3s ease;
}

.flab-button:hover {
    background-color: #388E3C;
    /* Color de fondo al pasar el mouse */
}

/* Estilo para las imágenes en los botones */
.flab-icon {
    width: 24px;
    /* Ajusta el tamaño según sea necesario */
    height: 24px;
    transition: transform 0.3s ease;
}

/* Estilo y animaciones del menú */
.flab-menu {
    position: absolute;
    bottom: 70px;
    /* Ajusta este valor si es necesario */
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

/* Clase para mostrar el menú con animación */


/* Contenedor para el botón del menú y el texto */
.flab-menu-item-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* Espacio entre los botones */
}

/* Estilo para el texto flotante */
.flab-menu-text {
    margin-right: 15px;
    /* Espacio adicional entre el texto y el botón */
    color: #f0f0f0;
    /* Color del texto */
    background-color: gray;
    /* Color de fondo para el texto */
    padding: 5px 10px;
    /* Espaciado interno del texto */
    border-radius: 5px;
    /* Esquinas redondeadas para el fondo del texto */
    font-size: 1.1rem;
    white-space: nowrap;
    /* Evita que el texto se divida en varias líneas */
}

/* Estilo para los elementos del menú */
.flab-menu-item {
    width: 56px;
    height: 56px;
    background-color: #4CAF50;
    /* Color verde */
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0;
}

.flab-menu-item:hover {
    background-color: #388E3C;
    /* Color de fondo al pasar el mouse */
}

/* Mostrar el menú cuando esté activo */



/* Estilos de imagen */

.img-form {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.img-Select {
    width: auto;
    /* Cambia este valor según tus necesidades */
    height: 220px;
    /* Cambia este valor según tus necesidades */
    object-fit: cover;
    /* Recorta la imagen para llenar el contenedor */
    border-radius: 5%;
}

.img-Select-Plantel {
    width: 35rem;
    /* Cambia este valor según tus necesidades */
    height: 25rem;
    /* Cambia este valor según tus necesidades */
    border-radius: 5%;
    object-fit: cover;
}
/* Para dispositivos menores a 768px */


.img-Select:hover {
    animation: select 0.05s ease-in-out both;
}

.img-Select-Plantel:hover {
    animation: select 0.05s ease-in-out both;
}

/* Estilos de tabla */

/* Estilos para botones */
.btn-primary {
    display: block;
    width: 100%;
}


/* Estilos de video y mapa */


/* Estilos popup-image */
.image {
    overflow: hidden;
    cursor: pointer;
}

/* Añade clase para mostrar el popup */

/* Estilos para las flechas de navegación */

/* Opcional: Centrar verticalmente las flechas */


@media (max-width: 768px) {

    .footer-social p {
        font-size: 1rem;
    }

    p {
        font-size: 1.1rem;
    }

    .titleFont {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    ul {
        font-size: 1.2rem;
    }

    .img-Select {
        width: auto;
        /* Cambia este valor según tus necesidades */
        height: 12rem;
        /* Cambia este valor según tus necesidades */
        object-fit: cover;
        /* Recorta la imagen para llenar el contenedor */
        border-radius: 5%;
    }

    .img-Select-Plantel {
        width: 25rem;
        /* Cambia este valor según tus necesidades */
        height: 15rem;
        /* Cambia este valor según tus necesidades */
        border-radius: 5%;
        object-fit: cover;
    }

    .icon {
        width: 70px;
        height: 70px;
    }

    .subtitle {
        font-size: 1rem;
        font-weight: bold;
    }

    .flab-button {
        width: 48px;
        height: 48px;
    }

    .flab-menu-item {
        width: 48px;
        height: 48px;
    }

    .flab-menu {
        bottom: 60px;
        /* Ajustar el espaciado en pantallas pequeñas */
    }


}






/* Estilos de tarjetas */
.card-container {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    scrollbar-width: thin;
    scrollbar-color: #071773 #f1f1f1;
}

.card-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.card-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.card-container::-webkit-scrollbar-thumb {
    background: #071773;
    border-radius: 10px;
}

.card-container::-webkit-scrollbar-thumb:hover {
    background: #2A558C;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 15px;
}

.card {
    flex: 0 0 auto;
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    margin: 10px;
    border-radius: 8px;
}

.card .circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
}

.card .content {
    bottom: 10px;
    padding: 20px;
}

.card .content p {
    color: #666;
}




/* Otros estilos */

/* Animaciones */

@keyframes rotateIcon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

@keyframes rotateIconReverse {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes select {
    from {
        scale: 100%;
        filter: brightness(100%);
    }

    to {
        scale: 95%;
        filter: brightness(50%);
    }
}