---
layout: layout-carrera.njk
title: "Bachillerato con Diplomado en Asistente Educativo"
name_carrera: "Bachillerato con Diplomado en Asistente Educativo"
description_short: "Programa diseñado para formar profesionales en el apoyo y asistencia en el ámbito educativo, capacitados para trabajar con niños y jóvenes en diversos contextos educativos."
featured_image: "/img/asistente.webp"
duration: "3 años"
modality: "Presencial"
course_start: "Agosto 2024"
study_plan_url: "/PDF/CV_ELLIOT_REYES.pdf"
planteles:
  - image: "/img/Test2-img.png"
    name: Naucalpan"



---

<div class="container">
  <!-- Perfil del Ingreso -->
  <div class="row py-3 text-justify">
    <div class="col-12">
      <h2>Perfil de Ingreso</h2>
      <p>El aspirante debe tener interés y habilidades en el área de la educación y el apoyo escolar, tales como:</p>
      <ul>
        <li>Vocación por la enseñanza y el cuidado infantil</li>
        <li>Habilidad para trabajar con niños y jóvenes</li>
        <li>Capacidad para planificar y organizar actividades educativas</li>
        <li>Creatividad y empatía</li>
        <li>Responsabilidad y disciplina</li>
      </ul>
    </div>
  </div>

  <!-- ¿Por qué estudiar Asistente Educativo? -->
  <div class="row py-3 text-justify">
    <div class="col-12">
      <h1>¿Por qué estudiar Asistente Educativo?</h1>
      <p>El programa de Asistente Educativo está diseñado para formar profesionales que brinden apoyo en el ámbito educativo. A lo largo de los tres años de duración, los estudiantes adquirirán conocimientos y habilidades necesarias para asistir a docentes en la planificación y ejecución de actividades educativas, así como en el cuidado y desarrollo integral de los niños y jóvenes.</p>
    </div>
  </div>

  <!-- Perfil del Egresado -->
  <div class="row py-3 text-justify">
    <div class="col-12">
      <h2>¿Cuál es mi perfil de Egreso?</h2>
      <p>Al término, el egresado:</p>
      <ul>
        <li>Planificará y ejecutará actividades educativas y recreativas.</li>
        <li>Apoyará a los docentes en la preparación de materiales didácticos.</li>
        <li>Asistirá en el cuidado y desarrollo integral de los niños y jóvenes.</li>
        <li>Aplicará técnicas de estimulación temprana y desarrollo psicomotor.</li>
        <li>Implementará estrategias para fomentar el aprendizaje y la convivencia positiva.</li>
      </ul>
      <p>Esto le permitirá que se inserte con éxito al campo laboral.</p>
    </div>
  </div>

  <!-- Campo Laboral -->
  <div class="row py-3 text-justify">
    <div class="col-12">
      <h2>Campo Laboral</h2>
      <p>El campo laboral del egresado de Asistente Educativo es amplio y diverso. Podrá desempeñarse en:</p>
      <ul>
        <li>Escuelas públicas y privadas</li>
        <li>Centros de desarrollo infantil</li>
        <li>Guarderías y jardines de niños</li>
        <li>Programas de apoyo escolar y actividades extraescolares</li>
        <li>Instituciones de atención a la infancia</li>
        <li>Docencia e investigación en educación</li>
      </ul>
    </div>
  </div>

  <!-- Metodología de Enseñanza -->
  <div class="row py-3 text-justify">
    <div class="col-12">
      <h2>Nuestra Metodología de Enseñanza</h2>
      <p>La metodología de enseñanza del programa de Asistente Educativo combina clases teóricas, prácticas en centros educativos y proyectos de intervención educativa. Se utilizan métodos interactivos y participativos, como estudios de caso, simulaciones y aprendizaje basado en proyectos. Además, se fomenta el uso de tecnologías de la información y la comunicación (TIC) para el aprendizaje autónomo y colaborativo.</p>
    </div>
  </div>

  <!-- Beneficios de estudiar en TECSUM -->
  <div class="row py-3 text-justify">
    <div class="col-12">
      <h2>Beneficios de estudiar en TECSUM</h2>
      <ul>
        <li>Para ingresar no haces Examen de Admisión</li>
        <li>Talleres equipados con materiales didácticos y recursos educativos</li>
        <li>Visitas a eventos educativos, ferias del libro, exposiciones pedagógicas, etc.</li>
      </ul>
    </div>
  </div>
</div>