---
layout: layout-carrera.njk
title: "Bachillerato con Diplomado en Asistente Educativo | TECSUM"
description: "Conviértete en un profesional en Asistencia Educativa mientras obtienes tu bachillerato. Nuestro programa integral en TECSUM te prepara para el futuro con habilidades prácticas y conocimientos esenciales."
name_carrera: "Bachillerato con Diplomado en Asistente Educativo"
description_short: "Programa que te permitirá trabajar con niños y otorgarles atención integral desde la lactancia hasta los 6 años de edad. Además te permitirá adquirir el dominio de competencias para participar en la elaboración de planes de asistencia a lactantes, maternales y preescolar. "
featured_image: "https://tecsum.edu.mx/Images/Bachilleratos/Asistente-Educativo/Img-Bach-Secundaria.webp"
duration: "3 años"
modality: "Presencial"
course_start: "Agosto 2024"
study_plan_url: "/PDF/Planes-De-Estudios/Bachilleratos/Plan-de-estudios-Bachillerato-Asistente-Educativo.pdf"
planteles:
   - name: "Naucalpan"
---

<div
  class="container">
  <!-- Perfil del Ingreso -->
  <div class="row py-3">
    <div class="col-12">
      <h2>Perfil de Ingreso</h2>
      <p>El aspirante debe tener interés y habilidades en el área educativa, tales como:</p>
      <ul>
        <li>Vocación y compromiso con el cuidado y desarrollo infantil</li>
        <li>Paciencia y empatía</li>
        <li>Habilidades de comunicación</li>
        <li>Creatividad para desarrollar actividades didácticas y recreativas</li>
        <li>Capacidad para trabajar en equipo</li>
        <li>Organización y planificación</li>
      </ul>
    </div>
  </div>
  <!-- ¿Por qué estudiar Asistente Educativo? -->
  <div class="row py-3">
    <div class="col-12">
      <h1>¿Por qué estudiar Asistente Educativo?</h1>
      <p>Las asistentes educativas son responsables de apoyar el proceso de aprendizaje y desarrollo de los niños en
        Instituciones Educativas como guarderías, preescolares y escuelas primarias. Su trabajo màs allá de simplemente cuidar a
        los niños. Implica funciones que contribuyen al crecimiento integral de los pequeños a su cargo.</p>
    </div>
  </div>
  <!-- Perfil del Egresado -->
  <div class="row py-3">
    <div class="col-12">
      <h2>¿Cuál es mi perfil de Egreso?</h2>
      <p>El egresado al cursar el programa educativo de Asistente Educativo deberá manifestar y tener las siguientes
        características:</p>
      <h3>Capacidades Técnicas</h3>
      <ul>
        <li>Planificación y Organización de Actividades Educativas: Diseñar y ejecutar actividades educativas y recreativas,
          mediante la aplicación de metodologías pedagógicas, para fomentar el desarrollo integral de los niños, con una postura
          analítica y crítica.</li>
        <li>Atención y Cuidado Infantil: Aplicar técnicas de cuidado y atención a niños, asegurando su bienestar físico y
          emocional, con responsabilidad y empatía.</li>
        <li>Comunicación Efectiva: Establecer una comunicación clara y efectiva con niños, padres y colegas, utilizando
          estrategias adecuadas para cada situación, con habilidades interpersonales y asertividad.</li>
        <li>Desarrollo de Material Didáctico: Crear y utilizar material didáctico adecuado, a partir del conocimiento de las
          necesidades educativas de los niños, para apoyar su aprendizaje de manera creativa y responsable.</li>
      </ul>
      <hr class="thick-hr">
      <h3>Habilidades Técnicas</h3>
      <div
        class="row py-3">
        <!-- Columna 1 -->
        <div
          class="col-12 col-md-3">
          <!-- Primera fila: Imagen y Título -->
          <div class="row">
            <div class="col-12">
              <div class="row align-items-center skill-container py-2">
                <div class="col-4 col-lg-3">
                  <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Imagen 1" loading="lazy" class="img-fluid me-3 skill-img">
                </div>
                <div class="col-8 col-lg-9">
                  <h4 class="text-center mt-3">Apoyo Pedagógico</h4>
                </div>
              </div>
            </div>
          </div>
          <!-- Segunda fila: Lista de elementos -->
          <div class="row mt-3">
            <div class="col-12">
              <ul>
                <li>Colaboración con docentes</li>
                <li>Implementación de actividades educativas</li>
              </ul>
              <h4>Fomento del desarrollo</h4>
              <ul>
                <li>Cognitivo</li>
                <li>Emocional</li>
                <li>Social </li>
                <li>Físico de los niños</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Columna 2 -->
        <div
          class="col-12 col-md-3">
          <!-- Primera fila: Imagen y Título -->
          <div class="row">
            <div class="col-12">
              <div class="row align-items-center skill-container py-2">
                <div class="col-4 col-lg-3">
                  <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Imagen 2" loading="lazy" class="img-fluid me-3 skill-img">
                </div>
                <div class="col-8 col-lg-9">
                  <h4 class="text-center mt-3">Atención Individual</h4>
                </div>
              </div>
            </div>
          </div>
          <!-- Segunda fila: Lista de elementos -->
          <div class="row mt-3">
            <div class="col-12">
              <ul>
                <li>Reconocimiento de las necesidades específicas de cada niño</li>
                <li>Brindar apoyo individualizado para asegurar el máximo potencial de cada niño</li>
                <!-- Agrega más elementos según sea necesario -->
              </ul>
            </div>
          </div>
        </div>
        <!-- Columna 3 -->
        <div
          class="col-12 col-md-3">
          <!-- Primera fila: Imagen y Título -->
          <div class="row">
            <div class="col-12">
              <div class="row align-items-center skill-container py-2">
                <div class="col-4 col-lg-3">
                  <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Imagen 3" loading="lazy" class="img-fluid me-3 skill-img">
                </div>
                <div class="col-8 col-lg-9">
                  <h4 class="text-center mt-3">Promoción del Juego</h4>
                </div>
              </div>
            </div>
          </div>
          <!-- Segunda fila: Lista de elementos -->
          <div class="row mt-3">
            <div class="col-12">
              <ul>
                <li>Fomento del juego como herramienta esencial para el aprendizaje</li>
                <li>Creación de entornos seguros y estimulantes para la exploración y creatividad</li>
                <!-- Agrega más elementos según sea necesario -->
              </ul>
            </div>
          </div>
        </div>
        <!-- Columna 4 -->
        <div
          class="col-12 col-md-3">
          <!-- Primera fila: Imagen y Título -->
          <div class="row">
            <div class="col-12">
              <div class="row align-items-center skill-container py-2">
                <div class="col-4 col-lg-3">
                  <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Imagen 4" loading="lazy" class="img-fluid me-3 skill-img">
                </div>
                <div class="col-8 col-lg-9">
                  <h4 class="text-center mt-3">Cuidado y Seguridad</h4>
                </div>
              </div>
            </div>
          </div>
          <!-- Segunda fila: Lista de elementos -->
          <div class="row mt-3">
            <div class="col-12">
              <ul>
                <li>Supervisión constante del bienestar físico y emocional de los niños</li>
                <li>Provisión de cuidados básicos y un entorno afectuoso y acogedor</li>
                <!-- Agrega más elementos según sea necesario -->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Campo Laboral -->
      <div class="row py-3">
        <div class="col-12">
          <h2>Campo Laboral</h2>
          <p>El campo laboral del egresado de Asistente Educativo es amplio y diverso. Podrá desempeñarse en:</p>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne">
                  <span class="highlight">#1</span>&nbsp; Guarderías Públicas
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Colaborar en la educación y cuidado de niños en guarderías gestionadas por el gobierno, asegurando un desarrollo integral y un entorno seguro para los pequeños.</div>
              </div>
            </div>
            <!-- Acordeón #2 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo"
                  aria-expanded="false"
                  aria-controls="flush-collapseTwo">
                  <span class="highlight">#2</span>&nbsp; Guarderías Privadas
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Trabajar en instituciones privadas de cuidado infantil, brindando atención personalizada y apoyo educativo a los niños en su primera etapa de desarrollo.</div>
              </div>
            </div>
            <!-- Acordeón #3 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree"
                  aria-expanded="false"
                  aria-controls="flush-collapseThree">
                  <span class="highlight">#3</span>&nbsp; Inicial y Preescolar
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Participar en la enseñanza y cuidado de niños en sus primeros años de educación formal, tanto en instituciones públicas como privadas, facilitando el aprendizaje temprano y el desarrollo social.</div>
              </div>
            </div>
            <!-- Acordeón #4 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour"
                  aria-expanded="false"
                  aria-controls="flush-collapseFour">
                  <span class="highlight">#4</span>&nbsp; Centros de Educación Infantil
                </button>
              </h2>
              <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Desempeñarse en centros especializados en la educación infantil, promoviendo actividades educativas y recreativas que fomenten el desarrollo cognitivo, emocional y físico de los niños.</div>
              </div>
            </div>
            <!-- Acordeón #5 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive"
                  aria-expanded="false"
                  aria-controls="flush-collapseFive">
                  <span class="highlight">#5</span>&nbsp; Estancias Infantiles
                </button>
              </h2>
              <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Trabajar en estancias infantiles, proporcionando un entorno seguro y estimulante donde los niños puedan aprender y jugar mientras sus padres trabajan.</div>
              </div>
            </div>
            <!-- Acordeón #6 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseSix"
                  aria-expanded="false"
                  aria-controls="flush-collapseSix">
                  <span class="highlight">#6</span>&nbsp; Albergues y  Asistencia Social
                </button>
              </h2>
              <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Colaborar en albergues y establecimientos de asistencia social, brindando apoyo educativo y emocional a niños en situaciones vulnerables, asegurando su bienestar y desarrollo integral.</div>
              </div>
            </div>
            
           
          </div>
        </div>
      </div>
<!-- Metodología de Enseñanza -->
<div class="row py-3">
  <div class="col-12">
    <h2>Metodología de Enseñanza</h2>
     <ul>
      <li>Clases teóricas</li>
      <li>Rol docente y alumno</li>
      <li>El docente expone sus conocimientos</li>
      <li>Practicas y Aprendizaje con repetición</li>
      <li>Resolución de ejercicios</li>
      <li>Tutorías y apoyo técnico</li>
    </ul>
  </div>
</div>
