---
layout: layout-carrera.njk
title: "Bachillerato con Diplomado en Belleza"
name_carrera: "Bachillerato con Diplomado en Belleza"
description_short: "Programa diseñado para formar profesionales en el cuidado personal y la estética, capacitados para ofrecer servicios de alta calidad en el sector de la belleza."
featured_image: "/img/belleza.webp"
duration: "3 años"
modality: "Presencial"
course_start: "Agosto 2024"
study_plan_url: "/PDF/CV_ELLIOT_REYES.pdf"
planteles:
  - image: "/img/Test2-img.png"
    name: Naucalpan"


---

<div class="container">
  <!-- Perfil del Ingreso -->
  <div class="row py-3 text-justify">
    <div class="col-12">
      <h2>Perfil de Ingreso</h2>
      <p>El aspirante debe tener interés y habilidades en el área de la belleza y el cuidado personal, tales como:</p>
      <ul>
        <li>Pasión por el cuidado personal y la estética</li>
        <li>Habilidad para trabajar con las manos y atención al detalle</li>
        <li>Creatividad e innovación en técnicas de belleza</li>
        <li>Capacidad para trabajar en equipo</li>
        <li>Responsabilidad y disciplina</li>
      </ul>
    </div>
  </div>

  <!-- ¿Por qué estudiar Belleza? -->
  <div class="row py-3 text-justify">
    <div class="col-12">
      <h1>¿Por qué estudiar Belleza?</h1>
      <p>El programa de Belleza está diseñado para formar profesionales en el cuidado personal y la estética. A lo largo de los tres años de duración, los estudiantes adquirirán conocimientos y habilidades necesarias para ofrecer una amplia gama de servicios de belleza, incluyendo corte y color de cabello, maquillaje, manicure y pedicure, y tratamientos faciales y corporales.</p>
    </div>
  </div>

  <!-- Perfil del Egresado -->
  <div class="row py-3 text-justify">
    <div class="col-12">
      <h2>¿Cuál es mi perfil de Egreso?</h2>
      <p>Al término, el egresado:</p>
      <ul>
        <li>Realizará cortes, peinados y tratamientos capilares utilizando técnicas avanzadas.</li>
        <li>Aplicará técnicas de maquillaje profesional para diversos eventos y ocasiones.</li>
        <li>Brindará servicios de manicure y pedicure, incluyendo la aplicación de uñas acrílicas y gel.</li>
        <li>Ofrecerá tratamientos faciales y corporales para el cuidado de la piel.</li>
        <li>Asesorará a clientes en el cuidado personal y la selección de productos de belleza.</li>
      </ul>
      <p>Esto le permitirá que se inserte con éxito al campo laboral.</p>
    </div>
  </div>

  <!-- Campo Laboral -->
  <div class="row py-3 text-justify">
    <div class="col-12">
      <h2>Campo Laboral</h2>
      <p>El campo laboral del egresado de Belleza es amplio y diverso. Podrá desempeñarse en:</p>
      <ul>
        <li>Salones de belleza y spas</li>
        <li>Centros de estética y bienestar</li>
        <li>Empresas de productos cosméticos</li>
        <li>Emprendimientos propios en el sector de la belleza</li>
        <li>Docencia e investigación en técnicas de belleza</li>
      </ul>
    </div>
  </div>

  <!-- Metodología de Enseñanza -->
  <div class="row py-3 text-justify">
    <div class="col-12">
      <h2>Nuestra Metodología de Enseñanza</h2>
      <p>La metodología de enseñanza del programa de Belleza combina clases teóricas, prácticas en talleres equipados y proyectos de cuidado personal. Se utilizan métodos interactivos y participativos, como estudios de caso, simulaciones y aprendizaje basado en proyectos. Además, se fomenta el uso de tecnologías de la información y la comunicación (TIC) para el aprendizaje autónomo y colaborativo.</p>
    </div>
  </div>

  <!-- Beneficios de estudiar en TECSUM -->
  <div class="row py-3 text-justify">
    <div class="col-12">
      <h2>Beneficios de estudiar en TECSUM</h2>
      <ul>
        <li>Para ingresar no haces Examen de Admisión</li>
        <li>Talleres de belleza equipados con tecnología avanzada</li>
      </ul>
    </div>
  </div>
</div>