---
layout: layout-carrera.njk
title: "Bachillerato con Diplomado en Belleza"
name_carrera: "Bachillerato con Diplomado en Belleza"
description_short: "El programa educativo en belleza forma profesionales calificados en el cuidado personal y la estética, los estudiantes aprenderán a mejorar la apariencia de sus clientes mediante técnicas que consideran la personalidad y fisionomía individual. Esta diseñado para satisfacer las demandas de la estética moderna, capacitando a los graduados para ofrecer servicios de alta calidad en el sector de la belleza."
featured_image: "https://tecsum.edu.mx/Images/Bachilleratos/Belleza/Img-Bach-Secundaria.webp"
duration: "3 años"
modality: "Presencial"
course_start: "Agosto 2024"
study_plan_url: "/PDF/Planes-De-Estudios/Bachilleratos/Plan-de-estudios-Bachillerato-Belleza.pdf"
planteles:
   - name: "Naucalpan"
---

<div
  class="container">
  <!-- Perfil del Ingreso -->
  <div class="row py-3">
    <div class="col-12">
      <h2>Perfil de Ingreso</h2>
      <p>Los aspirantes al bachillerato con diplomado en belleza deben mostrar interés y habilidades fundamentales en el área
        de cuidado personal y estética, tales como:</p>
      <ul>
        <li>Pasión por la belleza y el cuidado personal.</li>
        <li>Creatividad e innovación en técnicas estéticas.</li>
        <li>Buena comunicación y capacidad para entender las necesidades de los clientes.</li>
        <li>Capacidad para trabajar en equipo y colaborar con otros profesionales.</li>
      </ul>
    </div>
  </div>
  <!-- ¿Por qué estudiar? -->
  <div class="row py-3">
    <div class="col-12">
      <h1>¿Por qué estudiar Belleza?</h1>
      <p>La especialidad técnica en belleza está a la vanguardia de las nuevas tendencias del cuidado estético y físico de
        todas las personas, ofrece las competencias profesionales que permiten a la estudiante realizar técnicas clásicas,
        modernas e innovadoras, para los cuidados, la prevención y el bienestar de las personas.
        <br> Posibilitando grandes oportunidades y fuentes de empleo de manera autónoma, con una actitud proactiva de
        responsabilidad, ética y éxito en su ambiente de trabajo, una convivencia basada en valores, un desarrollo personal y
        social armónico, y una actualización conforme a necesidades específicas de su formación profesional.
      </p>
    </div>
  </div>
  <!-- Objetivo -->
  <div class="row py-3">
    <div class="col-12">
      <h1>Objetivo</h1>
      <p>La especialidad en belleza tiene como objetivos primordiales:</p>
      <ul>
        <li>Formar profesionales en el área de cuidado personal y estética, capacitados para desempeñarse en la industria de la
          belleza.</li>
        <li>Capacitar a los estudiantes en técnicas avanzadas de estética, permitiéndoles mejorar la apariencia personal y
          realizar cambios en el aspecto físico de los clientes.</li>
        <li>Fomentar la creatividad e innovación en el uso de productos y técnicas estéticas, motivando a los estudiantes a
          satisfacer las necesidades de los clientes y las demandas de la estética moderna.</li>
        <li>Equipar a los estudiantes con habilidades de comunicación y empatía, necesarias para comprender y atender las
          expectativas de los clientes de manera efectiva.</li>
        <li>Desarrollar en los estudiantes una sólida ética profesional y un enfoque orientado al cliente, asegurando un
          servicio de alta calidad en todas sus prácticas y futuras actividades profesionales.</li>
      </ul>
    </div>
  </div>
  <!-- Perfil del Egresado -->
  <div class="row py-3">
    <div class="col-12">
      <h2>¿Cuál es mi perfil de Egreso?</h2>
      <p>El diplomado en belleza ofrece a la profesional una red amplia y estructurada de servicios de formación para el
        trabajo en el campo del “Estilismo y Diseño de Imagen”, para atender profesionalmente los intereses de las personas.
        Asimismo, la profesional podrá estructurar rutas personales de formación o elegir uno o más trayectos formativos, con la
        finalidad de responder a las demandas del contexto económico, productivo, social y cultural, optimizando con ello las
        posibilidades diferenciales de inserción</p>
      <h3>Capacidades Técnicas</h3>
      <ul>
        <li>Contribuirán a la salud y el bienestar de los demás.
        </li>
        <li>Potenciarán sus habilidades y competencias de emprendimiento.
        </li>
        <li>Desarrollarán un perfil creativo, innovador y en constante actualización.
        </li>
      </ul>
      <hr class="thick-hr">
      <h3>Habilidades Técnicas</h3>
      <div
        class="row py-3">
        <!-- Columna 1-->
        <div
          class="col-12 col-md-3">
          <!-- Título y lista de elementos -->
          <div class="row">
            <div class="col-12">
              <div class="row align-items-center skill-container py-2">
                <div class="col-4 col-lg-3">
                  <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Icono 1" class="img-fluid me-3 skill-img">
                </div>
                <div class="col-8 col-lg-9">
                  <h4 class="text-center mt-3">
                    Estética y Cuidado</h4>
                </div>
              </div>
            </div>
          </div>
          <!-- Lista de elementos -->
          <div class="row mt-3">
            <div class="col-12">
              <ul>
                <li>Cabello</li>
                <li>Cara</li>
                <li>Ojos</li>
                <li>Boca</li>
                <li>Cejas</li>
                <li>Pestañas</li>
                <li>Manos y Pies</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Columna 2 -->
        <div
          class="col-12 col-md-3">
          <!-- Título y lista de elementos -->
          <div class="row">
            <div class="col-12">
              <div class="row align-items-center skill-container py-2">
                <div class="col-4 col-lg-3">
                  <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Icono 2" class="img-fluid me-3 skill-img">
                </div>
                <div class="col-8 col-lg-9">
                  <h4 class="text-center mt-3">Servicios Estéticos</h4>
                </div>
              </div>
            </div>
          </div>
          <!-- Lista de elementos -->
          <div class="row mt-3">
            <div class="col-12">
              <ul>
                <li>Depilaciones</li>
                <li>Manicuras</li>
                <li>Tratamientos faciales</li>
                <li>Masajes</li>
                <li>Bronceados</li>
                <li>Capacidad para crear presupuestos detallados y personalizados, centrados en las necesidades del cliente.</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Columna 3 -->
        <div
          class="col-12 col-md-3">
          <!-- Título y lista de elementos -->
          <div class="row">
            <div class="col-12">
              <div class="row align-items-center skill-container py-2">
                <div class="col-4 col-lg-3">
                  <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Icono 3" class="img-fluid me-3 skill-img">
                </div>
                <div class="col-8 col-lg-9">
                  <h4 class="text-center mt-3">Higiene y Seguridad</h4>
                </div>
              </div>
            </div>
          </div>
          <!-- Lista de elementos -->
          <div class="row mt-3">
            <div class="col-12">
              <ul>
                <li>Desinfección de las instalaciones y equipos</li>
                <li>Aplicación de medidas de seguridad necesarias para proteger a los clientes</li>
                <li>Seguimiento de las últimas tendencias y técnicas en estética para ofrecer servicios innovadores</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Columna 4:-->
        <div
          class="col-12 col-md-3">
          <!-- Título y lista de elementos -->
          <div class="row">
            <div class="col-12">
              <div class="row align-items-center skill-container py-2">
                <div class="col-4 col-lg-3">
                  <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Icono 4" class="img-fluid me-3 skill-img">
                </div>
                <div class="col-8 col-lg-9">
                  <h4 class="text-center mt-3">Emprendimiento</h4>
                </div>
              </div>
            </div>
          </div>
          <!-- Lista de elementos -->
          <div class="row mt-3">
            <div class="col-12">
              <ul>
                <li>Agendas de trabajo</li>
                <li>Control de inventarios</li>
                <li>Desarrollo de habilidades y competencias para crear y gestionar su propio negocio
                </li>
                <li>Asesoramiento sobre productos cosméticos para el cuidado continuo post-tratamiento</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Campo Laboral -->
      <div class="row py-3">
        <div class="col-12">
          <h2>Campo Laboral</h2>
          <p>Las y los egresados tendrán un abanico de posibilidades laborales, en sectores o áreas muy variadas, las cuales les
            ayudarán a desarrollarse profesionalmente y potenciar sus conocimientos, habilidades y competencias acorde a las
            demandas de la actualidad. Entre las principales fuentes de empleo son:</p>
          <div
            class="accordion accordion-flush" id="accordionFlushExample">
            <!-- Acordeón #1  -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne">
                  <span class="highlight">#1</span>&nbsp; Salones y/o estéticas de belleza
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  En los salones de belleza y estéticas, los profesionales ofrecen una variedad de servicios estéticos como cortes de
                  cabello, tintes, manicuras, pedicuras, depilaciones, tratamientos faciales y corporales. Se enfocan en mejorar la
                  apariencia personal de los clientes, utilizando técnicas y productos específicos para cada necesidad estética.
                </div>
              </div>
            </div>
            <!-- Acordeón #2 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo"
                  aria-expanded="false"
                  aria-controls="flush-collapseTwo">
                  <span class="highlight">#2</span>&nbsp; Barberías
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  En las barberías, los profesionales se especializan en servicios de corte y cuidado de cabello masculino, así como en el
                  arreglo de barba y bigote. Proporcionan un ambiente de atención personalizada, combinando habilidades técnicas con un
                  enfoque estético para satisfacer las preferencias y necesidades de los clientes.
                </div>
              </div>
            </div>
            <!-- Acordeón #3  -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree"
                  aria-expanded="false"
                  aria-controls="flush-collapseThree">
                  <span class="highlight">#3</span>&nbsp; SPA
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  En los SPA ubicados en gimnasios y clubes deportivos, los profesionales ofrecen tratamientos de relajación y
                  rejuvenecimiento. Esto incluye masajes terapéuticos, faciales y corporales, así como técnicas de aromaterapia y cuidado
                  de la piel, contribuyendo al bienestar físico y emocional de los usuarios.
                </div>
              </div>
            </div>
            <!-- Acordeón #4  -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour"
                  aria-expanded="false"
                  aria-controls="flush-collapseFour">
                  <span class="highlight">#4</span>&nbsp; Clínicas de belleza
                </button>
              </h2>
              <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  En las clínicas de belleza, los profesionales se dedican a tratamientos más especializados y médico-estéticos. Realizan
                  procedimientos como peelings, microdermoabrasión, mesoterapia facial, y otros tratamientos avanzados para mejorar la
                  apariencia de la piel y abordar problemas dermatológicos específicos.
                </div>
              </div>
            </div>
            <!-- Acordeón #5 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive"
                  aria-expanded="false"
                  aria-controls="flush-collapseFive">
                  <span class="highlight">#5</span>&nbsp; Institutos de belleza
                </button>
              </h2>
              <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  En los institutos de belleza, los profesionales no solo ofrecen servicios estéticos, sino que también pueden
                  desempeñarse como instructores o educadores en programas de formación en belleza y estética. Además, pueden estar
                  involucrados en la gestión y administración de estos centros.
                </div>
              </div>
            </div>
            <!-- Acordeón #6  -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseSix"
                  aria-expanded="false"
                  aria-controls="flush-collapseSix">
                  <span class="highlight">#6</span>&nbsp; Maquillista
                </button>
              </h2>
              <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Como maquillistas, los profesionales se especializan en la creación de looks para eventos especiales, sesiones
                  fotográficas, desfiles de moda y producción audiovisual. Utilizan técnicas de maquillaje artístico y profesional para
                  realzar la belleza natural y cumplir con los requisitos estilísticos del cliente o del proyecto.
                </div>
              </div>
            </div>
            <!-- Acordeón #7  -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseSeven"
                  aria-expanded="false"
                  aria-controls="flush-collapseSeven">
                  <span class="highlight">#7</span>&nbsp; Negocio Autónomo
                </button>
              </h2>
              <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Como emprendedores, los profesionales pueden establecer su propio negocio independiente. Esto puede incluir la apertura
                  de un salón de belleza, una barbería, un SPA móvil, una consultoría de imagen o la venta de productos cosméticos. Tienen
                  la libertad de desarrollar su marca personal y adaptar sus servicios a las demandas del mercado local.
                </div>
              </div>
            </div>
            <!-- Acordeón #8  -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseEight"
                  aria-expanded="false"
                  aria-controls="flush-collapseEight">
                  <span class="highlight">#8</span>&nbsp; Técnico Capilar
                </button>
              </h2>
              <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Los técnicos capilares son expertos en corte, peinado y tinte, pero también en recogidos, injertos, extensiones,
                  colocación de pelucas, nociones de dermatología, cosmética para peluquería, análisis capilar, alisados o rizados
                  permanentes, nuevas técnicas de coloración mediante mechas o colores con nuevas formulaciones, asesoramiento de imagen.
                </div>
              </div>
            </div>
            <!-- Acordeón #9 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseNine"
                  aria-expanded="false"
                  aria-controls="flush-collapseNine">
                  <span class="highlight">#9</span>&nbsp; Manicurista de uñas
                </button>
              </h2>
              <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Los manicuristas de uñas son expertos, en definitiva, en manicuras y pedicuras clásicas, en permanentes y
                  semipermanentes, en esmaltados diversos con técnicas vanguardistas, uñas postizas como el gel o la porcelana, así como
                  una amplia gama de tratamientos del cuidado de manos y pies: piedras calientes, manicura spa, masajes exfoliantes...
                </div>
              </div>
            </div>
            <!-- Acordeón #10 - Esteticista -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTen"
                  aria-expanded="false"
                  aria-controls="flush-collapseTen">
                  <span class="highlight">#10</span>&nbsp; Esteticista
                </button>
              </h2>
              <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Los Esteticista son expertos de la piel, tienen que conocer y analizar la de cada persona que acuda en su ayuda para
                  poder asignarle el tratamiento adecuado. Estos pueden ser tratamientos faciales o corporales, así como, depilaciones en
                  diferentes partes del cuerpo, lifting de pestañas y tratamientos de cejas, y toda una variedad de masajes corporales.
                </div>
              </div>
            </div>
            <!-- Acordeón #11 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseEleven"
                  aria-expanded="false"
                  aria-controls="flush-collapseEleven">
                  <span class="highlight">#11</span>&nbsp; Maquilladora profesional
                </button>
              </h2>
              <div id="flush-collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Profesional especializado en la preparación y cuidado de la piel, maquillaje profesional y caracterización para Cine y
                  Televisión, maquillaje social o de eventos, creativo y de fantasía, el maquillaje de pasarela, entre otros.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Metodología de Enseñanza -->
      <div class="row py-3">
        <div class="col-12">
          <h2>Metodología de Enseñanza</h2>
          <ul>
            <li>Clases teóricas</li>
            <li>Contenidos y prácticas situadas</li>
            <li>Gradualidad de los conocimientos.</li>
            <li>Modularidad de los aprendizajes.</li>
            <li>Centralidad del estudiante</li>
            <li>Tutorías y apoyo técnico</li>
          </ul>
        </div>
      </div>

       <!-- Galería de Fotos -->
    <h1 class="titleFont text-center py-3">Galeria de Belleza</h1>
    <div class="row py-3 text-center">
      <div class="col-6 col-md-4 mb-3">
        <img src="https://tecsum.edu.mx/Images/Bachilleratos/Belleza/galeria-belleza-1.webp" class="img-fluid rounded image img-Galeria" alt="Foto Belleza 1"></div>
        <div class="col-6 col-md-4 mb-3">
          <img src="https://tecsum.edu.mx/Images/Bachilleratos/Belleza/galeria-belleza-2.webp" class="img-fluid rounded image img-Galeria" alt="Foto Belleza 2"></div>
          <div class="col-6 col-md-4 mb-3">
            <img src="https://tecsum.edu.mx/Images/Bachilleratos/Belleza/galeria-belleza-3.webp" class="img-fluid rounded image img-Galeria" alt="Foto Belleza 3"></div>
            <div class="col-6 col-md-4 mb-3">
              <img src="https://tecsum.edu.mx/Images/Bachilleratos/Belleza/galeria-belleza-4.webp" class="img-fluid rounded image img-Galeria" alt="Foto Belleza 4"></div>
              <div class="col-6 col-md-4 mb-3">
                <img src="https://tecsum.edu.mx/Images/Bachilleratos/Belleza/galeria-belleza-5.webp" class="img-fluid rounded image img-Galeria" alt="Foto Belleza 5"></div>
                <div class="col-6 col-md-4 mb-3">
                  <img src="https://tecsum.edu.mx/Images/Bachilleratos/Belleza/galeria-belleza-6.webp" class="img-fluid rounded image img-Galeria" alt="Foto Belleza 6"></div>
                </div>
                {% include "popup-image.njk" %}
