---
layout: layout-carrera.njk
title: "Bachillerato con Diplomado en Gastronomía"
name_carrera: "Bachillerato con Diplomado en Gastronomía"
description_short: "Programa diseñado para formar profesionales en el arte culinario, los estudiantes aprenderán a realizar diversas recetas y aplicarán diferentes técnicas culinarias, preparándose para desempeñarse como chefs competentes y creativos en la industria gastronómica."
featured_image: "https://tecsum.edu.mx/Images/Bachilleratos/Gastronomia/Img-Bach-Secundaria.webp"
duration: "3 años"
modality: "Presencial"
course_start: "Agosto 2024"
study_plan_url: "/PDF/Planes-De-Estudios/Bachilleratos/Plan-de-estudios-Bachillerato-Gastronomia.pdf"
planteles:
   - name: "Naucalpan"
---

<div
  class="container">
  <!-- Perfil del Ingreso -->
  <div class="row py-3">
    <div class="col-12">
      <h2>Perfil de Ingreso</h2>
      <p>Los aspirantes al bachillerato con diplomado en gastronomía deben mostrar interés y habilidades fundamentales en el área culinaria, tales como:</p>
      <ul>
        <li>Pasión por la cocina y las artes culinarias.</li>
        <li>Creatividad e innovación en la preparación de alimentos.</li>
        <li>Habilidad para seguir instrucciones y recetas con precisión.</li>
        <li>Capacidad para trabajar en equipo</li>
      </ul>
    </div>
  </div>
  <!-- ¿Por qué estudiar? -->
  <div class="row py-3">
    <div class="col-12">
      <h1>¿Por qué estudiar Gastronomía?</h1>
      {# <p>El aspirante aprenderá y aplicará las técnicas culinarias que se utilizan dentro de una cocina profesional. La especialidad en alimentos y bebidas se integra con muchas otras áreas, permitiendo al alumno elegir y desarrollarse en la que más le apasione y en la que tenga mayores habilidades. <br> Entre estas áreas se incluyen cocina saludable, panadería, repostería, pescados y mariscos, y carnes. Además, el estudiante tendrá la oportunidad de ampliar su cultura gastronómica, ya que día a día se innovan nuevas técnicas y se incorporan nuevos ingredientes en la gastronomía global.
      </p> #}
    </div>

    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/d0vKmhfhOpk?si=cUzO_Qp9kNlsjVIr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

  </div>

   <!-- Objetivo -->
    <div class="row py-3">
      <div class="col-12">
        <h1>Objetivo</h1>
        <p>La especialidad en gastronomía tiene como objetivos primordiales:</p>
          <ul>
            <li>Formar profesionales en el área de alimentos y bebidas, capacitados para desempeñarse en la industria restaurantera, hotelera y en toda la industria gastronómica.</li>
            <li>Capacitar a los estudiantes en técnicas culinarias avanzadas, permitiéndoles preparar, presentar y gestionar una amplia variedad de platos y menús.</li>
            <li>Fomentar la creatividad y la innovación culinaria, motivando a los estudiantes a experimentar con nuevos ingredientes y técnicas para crear platos únicos y modernos.</li>
            <li>Equipar a los estudiantes con habilidades de gestión y administración, necesarias para operar y dirigir establecimientos de alimentos y bebidas de manera eficiente.</li>
            <li>Promover una cultura de aprendizaje continuo y adaptabilidad en el sector gastronómico, asegurando que los estudiantes estén preparados para enfrentar los constantes cambios e innovaciones en el mundo de la cocina.</li>
          </ul>
        </div>
  </div>
  <!-- Perfil del Egresado -->
  <div class="row py-3">
    <div class="col-12">
      <h2>¿Cuál es mi perfil de Egreso?</h2>
      <p>El candidato a cursar el programa educativo de Gastronomía deberá manifestar y tener las siguientes características:</p>
      <h3>Capacidades Técnicas</h3>
      <ul>
        <li>Dominio de técnicas culinarias: Experto en técnicas de cocina tanto nacionales como internacionales.</li>
        <li>Ética, responsabilidad y espíritu emprendedor: Compromiso con los valores éticos, la responsabilidad profesional y el emprendimiento en el ámbito gastronómico.</li>
        <li>Facilidad para el manejo de herramientas en una cocina: Destrezas manuales y técnicas para utilizar adecuadamente los equipos y utensilios de cocina.</li>
        <li>Creatividad culinaria: Capacidad para innovar y crear nuevos platos, ofreciendo excelentes servicios gastronómicos.</li>
      </ul>
      <hr class="thick-hr">
    <h3>Habilidades Técnicas</h3>

<div class="row py-3">
    <!-- Columna 1-->
    <div class="col-12 col-md-3">
        <!-- Título y lista de elementos -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-center skill-container py-2">
                    <div class="col-4 col-lg-3">
                        <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Icono 1" class="img-fluid me-3 skill-img">
                    </div>
                    <div class="col-8 col-lg-9">
                        <h4 class="text-center mt-3">Técnicas Culinarias</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lista de elementos -->
        <div class="row mt-3">
            <div class="col-12">
                <ul>
                    <li>Dominio de técnicas de cocina nacionales e internacionales</li>
                    <li>Creatividad en la preparación y presentación de platos</li>
                    <li>Innovación culinaria y experimentación con nuevos ingredientes</li>
                    <li>Habilidad para trabajar bajo presión en ambientes de cocina profesional</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Columna 2 -->
    <div class="col-12 col-md-3">
        <!-- Título y lista de elementos -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-center skill-container py-2">
                    <div class="col-4 col-lg-3">
                        <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Icono 2" class="img-fluid me-3 skill-img">
                    </div>
                    <div class="col-8 col-lg-9">
                        <h4 class="text-center mt-3">Panadería y Repostería</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lista de elementos -->
        <div class="row mt-3">
            <div class="col-12">
                <ul>
                    <li>Elaboración de una variedad de panes artesanales y especialidades de repostería</li>
                    <li>Decoración creativa y artística de pasteles y postres</li>
                    <li>Control experto de tiempos y temperaturas de horneado</li>
                    <li>Innovación en la creación de nuevos productos y adaptación de recetas tradicionales</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Columna 3 -->
    <div class="col-12 col-md-3">
        <!-- Título y lista de elementos -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-center skill-container py-2">
                    <div class="col-4 col-lg-3">
                        <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Icono 3" class="img-fluid me-3 skill-img">
                    </div>
                    <div class="col-8 col-lg-9">
                        <h4 class="text-center mt-3">Cultura Gastronómica</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lista de elementos -->
        <div class="row mt-3">
            <div class="col-12">
                <ul>
                    <li>Investigación y estudio de las raíces históricas y culturales de los platos</li>
                    <li>Adaptación a las tendencias gastronómicas internacionales</li>
                    <li>Participación en eventos y exposiciones gastronómicas</li>
                    <li>Conocimiento de etiqueta y protocolo gastronómico</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Columna 4:-->
    <div class="col-12 col-md-3">
        <!-- Título y lista de elementos -->
        <div class="row">
            <div class="col-12">
                <div class="row align-items-center skill-container py-2">
                    <div class="col-4 col-lg-3">
                        <img src="https://tecsum.edu.mx/Images/Iconos/Ventajas/Trofeo.webp" alt="Icono 4" class="img-fluid me-3 skill-img">
                    </div>
                    <div class="col-8 col-lg-9">
                        <h4 class="text-center mt-3">Gestión Culinaria</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lista de elementos -->
        <div class="row mt-3">
            <div class="col-12">
                <ul>
                    <li>Control efectivo de costos y gestión de presupuestos</li>
                    <li>Planificación estratégica y diseño de menús innovadores</li>
                    <li>Liderazgo y motivación de equipos de cocina</li>
                    <li>Cumplimiento de estándares de seguridad alimentaria y normativas sanitarias</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Campo Laboral -->
<div class="row py-3">
  <div class="col-12">
    <h2>Campo Laboral</h2>
    <p>El campo laboral para un graduado en gastronomía es diverso y ofrece oportunidades en diversas áreas profesionales:</p>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <!-- Acordeón #1 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne">
            <span class="highlight">#1</span>&nbsp; Restaurantes
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Como chef de cocina en restaurantes, serás responsable de la planificación y ejecución de menús gourmet. Supervisarás y liderarás equipos de cocina, garantizando la calidad culinaria y la experiencia gastronómica en establecimientos de prestigio.
          </div>
        </div>
      </div>
      <!-- Acordeón #2 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo">
            <span class="highlight">#2</span>&nbsp; Panaderías y Pastelerías
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Como pastelero en panaderías y pastelerías, te especializarás en la elaboración de productos de panadería y repostería artesanales. Serás creativo en la creación de postres y pasteles únicos, contribuyendo a ofrecer experiencias dulces y memorables a los clientes.
          </div>
        </div>
      </div>
      <!-- Acordeón #3 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree">
            <span class="highlight">#3</span>&nbsp; Bartender
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Como bartender, crearás y prepararás cócteles y bebidas innovadoras, proporcionando experiencias gastronómicas únicas a los clientes. Tu creatividad y habilidades en mixología serán clave para satisfacer los gustos y preferencias de los comensales en bares y establecimientos de entretenimiento.
          </div>
        </div>
      </div>
      <!-- Acordeón #4 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour"
            aria-expanded="false"
            aria-controls="flush-collapseFour">
            <span class="highlight">#4</span>&nbsp; Cruceros y Hoteles
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Como chef de cocina en cruceros y hoteles, serás responsable de la preparación y presentación de alimentos gourmet para pasajeros y huéspedes. Garantizarás estándares de calidad y satisfacción, adaptándote a las preferencias culinarias internacionales y asegurando una experiencia gastronómica excepcional.
          </div>
        </div>
      </div>
      <!-- Acordeón #5 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive"
            aria-expanded="false"
            aria-controls="flush-collapseFive">
            <span class="highlight">#5</span>&nbsp; Banquetes y Eventos Especiales
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            En el sector de banquetes y eventos especiales, diseñarás y ejecutarás menús personalizados para eventos corporativos, sociales y ceremonias especiales. Tu habilidad para crear experiencias culinarias memorables será fundamental para satisfacer las expectativas de los clientes en momentos importantes y únicos.
          </div>
        </div>
      </div>
      <!-- Acordeón #6 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSix"
            aria-expanded="false"
            aria-controls="flush-collapseSix">
            <span class="highlight">#6</span>&nbsp; Docencia en el sector educativo
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Como docente en el sector educativo, impartirás conocimientos teóricos y prácticos en técnicas culinarias y gestión de alimentos. Formarás y orientarás a futuros profesionales de la gastronomía, preparándolos para enfrentar los desafíos del mercado laboral con competencias sólidas y actualizadas.
          </div>
        </div>
      </div>
      <!-- Acordeón #7 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSeven"
            aria-expanded="false"
            aria-controls="flush-collapseSeven">
            <span class="highlight">#7</span>&nbsp; Consultoría y Asesoría
          </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Como consultor y asesor gastronómico, proporcionarás asesoramiento especializado en la apertura y gestión de negocios gastronómicos. Ofrecerás soluciones estratégicas para optimizar operaciones y aumentar la rentabilidad, ayudando a emprendedores y empresas a alcanzar el éxito en el competitivo sector gastronómico.
          </div>
        </div>
      </div>
      <!-- Acordeón #8 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseEight"
            aria-expanded="false"
            aria-controls="flush-collapseEight">
            <span class="highlight">#8</span>&nbsp; Emprendimiento Propio
          </button>
        </h2>
        <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Con un emprendimiento propio en gastronomía, crearás y gestionarás tu propio negocio culinario. Desde la planificación inicial hasta la operación diaria, desarrollarás propuestas culinarias únicas y adaptadas al mercado local, ofreciendo experiencias gastronómicas auténticas y diferenciadas.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Metodología de Enseñanza -->
<div class="row py-3">
  <div class="col-12">
    <h2>Metodología de Enseñanza</h2>
     <ul>
      <li>Clases teóricas</li>
      <li>Prácticas culinarias</li>
      <li>Tutorías y apoyo técnico</li>
      <li>Trabajo individual o en grupo</li>
    </ul>
  </div>
</div>





 <!-- Galería de Fotos -->
    <h1 class="titleFont text-center py-3">Cocina Gastronómica</h1>
    <div class="row py-3 text-center">
      <div class="col-6 col-md-4 mb-3">
        <img src="https://tecsum.edu.mx/Images/Bachilleratos/Gastronomia/instalaciones-gastronomia-1.webp" class="img-fluid rounded image img-Galeria" alt="Foto Cocina Gastronomica 1"></div>
        <div class="col-6 col-md-4 mb-3">
          <img src="https://tecsum.edu.mx/Images/Bachilleratos/Gastronomia/instalaciones-gastronomia-2.webp" class="img-fluid rounded image img-Galeria" alt="Foto Cocina Gastronomica 2"></div>
          <div class="col-6 col-md-4 mb-3">
            <img src="https://tecsum.edu.mx/Images/Bachilleratos/Gastronomia/instalaciones-gastronomia-3.webp" class="img-fluid rounded image img-Galeria" alt="Foto Cocina Gastronomica 3"></div>
            <div class="col-6 col-md-4 mb-3">
              <img src="https://tecsum.edu.mx/Images/Bachilleratos/Gastronomia/instalaciones-gastronomia-4.webp" class="img-fluid rounded image img-Galeria" alt="Foto Cocina Gastronomica 4"></div>
              <div class="col-6 col-md-4 mb-3">
                <img src="https://tecsum.edu.mx/Images/Bachilleratos/Gastronomia/instalaciones-gastronomia-5.webp" class="img-fluid rounded image img-Galeria" alt="Foto Cocina Gastronomica 5"></div>
                <div class="col-6 col-md-4 mb-3">
                  <img src="https://tecsum.edu.mx/Images/Bachilleratos/Gastronomia/instalaciones-gastronomia-6.webp" class="img-fluid rounded image img-Galeria" alt="Foto Cocina Gastronomica 6"></div>
                </div>
                {% include "popup-image.njk" %}