---
layout: layout-cursos.njk
title: "Curso de Caracterización Básica"
banner_text: "Caracterización Básica"
banner_image: "https://cursodeinstalador.com/wp-content/uploads/2022/03/curso-de-maquillaje-social.jpg.webp"
name_carrera: "Detalles"
description_short: "Aprende las técnicas fundamentales de caracterización y maquillaje de efectos especiales con nuestro curso de Caracterización Básica."
carousel_images:
  - url: "https://i.pinimg.com/originals/1d/9e/85/1d9e8581f0924d0b2f955080a886615c.jpg"
    alt: "Imagen 1"
  - url: "https://i.pinimg.com/originals/1d/9e/85/1d9e8581f0924d0b2f955080a886615c.jpg"
    alt: "Imagen 2"
  - url: "https://i.pinimg.com/originals/1d/9e/85/1d9e8581f0924d0b2f955080a886615c.jpg"
    alt: "Imagen 3"
start_dates:
  - "Martes 30 de julio"
schedules: 
  - "3 PM a 6 PM"
durations: 
  - "4 días (Martes y Miércoles)"
includes:
  - "Material incluido"
  - "Constancia por parte del Plantel"
note_intro: "Para brindarte una mayor información, comunícate vía WhatsApp"
inscription_text: "Inscripción $300\nCosto del curso: $2000"

modality: "Presencial"
course_start: "30 de julio 2024"
planteles:
  - image: "/img/Planteles/Naucalpan/Plantel-Naucalpan.webp"
    name: "Naucalpan"
---

<h3>Temario</h3>
<ul style="list-style: none; padding-left:0px">
  <li>⛑ Heridas</li>
  <li>🤕 Hematomas</li>
  <li>🔥 Quemaduras</li>
  <li>🫲🏻 Laceraciones</li>
  <li>🔫 Impactos</li>
</ul>

