---
layout: layout-cursos.njk
title: "Curso de Masaje Pindas & Auriculoterapia"
banner_text: "Masaje Pindas & Auriculoterapia"
banner_image: "https://iecsa.cr/wp-content/uploads/2023/03/Taller-de-Masaje-con-Pindas.jpeg"
name_carrera: "Detalles"
description_short: "Descubre los beneficios del masaje con pindas y la auriculoterapia en este curso completo, dirigido a público en general, estudiantes y profesionales de la salud."
carousel_images:
  - url: "https://mesana.mx/wp-content/uploads/2024/04/auriculoterapia-puebla.jpg"
    alt: "Imagen 1"
  - url: "https://mesana.mx/wp-content/uploads/2024/04/auriculoterapia-puebla.jpg"
    alt: "Imagen 2"
  - url: "https://mesana.mx/wp-content/uploads/2024/04/auriculoterapia-puebla.jpg"
    alt: "Imagen 3"
start_dates:
  - "Viernes 19 de julio"
schedules: 
  - "9 AM a 2 PM (con 1/2 hora de descanso)"
durations:
  - "1 día"
includes:
  - "Constancia de participación"
note_intro: "Para brindarte una mayor información, comunícate vía WhatsApp"
inscription_text: "Inscripción $300\nCosto del curso: $2500\nDescuento por promoción: $1500 para las primeras 10 personas que se inscriban."

modality: "Presencial"
course_start: "19 de julio 2024"
planteles:
  - image: "/img/Planteles/Naucalpan/Plantel-Naucalpan.webp"
    name: "Naucalpan"
---

<h3>Temario</h3>
<ul style="list-style: none; padding-left:0px">
  <li>🧴 Introducción y Bienvenida al Taller</li>
  <li>💆‍♂️ Beneficios del Masaje con Pindas</li>
  <li>🚫 Indicaciones y contraindicaciones del Masaje con Pindas</li>
  <li>🗺️ Mapeo Auricular para el Tratamiento de la Ansiedad y Depresión</li>
  <li>👂 Beneficios de la Auriculoterapia</li>
  <li>👩‍🏫 Maniobras o pasos a seguir para el operante (masajista) durante el Masaje con Pindas</li>
  <li>☕ Coffee Break</li>
  <li>🧑‍🎓 Práctica con modelo: Sesión de aproximadamente 45 minutos con 15 minutos de descanso, Aplicación de Auriculoterapia</li>
  <li>💡 Recomendaciones y lluvia de ideas</li>
  <li>👋 Despedida del Taller</li>
</ul>
