---
layout: layout-cursos.njk
title: "Curso de Pasta Hojaldre"
banner_text: "Pasta Hojaldre"
banner_image: "https://media.scoolinary.app/blog/images/2023/07/290_PuffPastry_banner.jpg"
name_carrera: "Detalles"
description_short: "Aprende a preparar la mejor pasta hojaldre en este curso intensivo."
carousel_images:
  - url: "https://sacher.com.mx/media/magefan_blog/IMG_02162.jpeg"
    alt: "Imagen 1"
  - url: "https://sacher.com.mx/media/magefan_blog/IMG_02162.jpeg"
    alt: "Imagen 2222"
  - url: "https://sacher.com.mx/media/magefan_blog/IMG_02162.jpeg"
    alt: "Imagen 3"
start_dates:
  - "Martes 9 de julio"
  - "Jueves 11 de Julio"
  - "Viernes 12 de julio"
schedules: 
  - "3 a 6 PM"
includes:
  - "Material"
  - "Constancia de Participación"
note_intro: " Para brindarte una mayor información, comunícate vía WhatsApp | Para tomar el curso deberás traer:"
note_items:
  - "Mandil"
  - "Cofia o red para cabello"
  - "Zapatos cómodos"
inscription_text: "Inscripción $300\nCosto: $900"
durations: 
  - "1 clase"
modality: "Presencial"
course_start: "Agosto 2024"
planteles:
  - image: "https://tecsum.edu.mx/Images/Planteles/Naucalpan/Plantel-Naucalpan.webp"
    name: "Naucalpan"
---

<h3>Temario</h3>
<ul style="list-style: none; padding-left:0px">
  <li>♨ Elaboración de la masa.</li>
  <li>♨ TIPS.</li>
  <li>PRODUCTOS A ELABORAR:</li>
  <ul style="list-style: none; padding-left:0px">
    <li>👨🏼‍🍳 Volovan</li>
    <li>👩🏻‍🍳 Empanadas</li>
    <li>🧑🏼‍🍳 Peinetas</li>
    <li>🧑🏼‍🍳 Conos</li>
    <li>🧑🏼‍🍳 Pay</li>
    <li>👩🏻‍🍳 Tartas</li>
  </ul>
  <li>RELLENOS:</li>
  <ul>
    <li>🌀 Dulces 🍭🍬 & 🌀 Salados 🫙</li>
  </ul>
</ul>
