---
layout: layout-cursos.njk
title: "Curso de Pestañas 2do Nivel"
banner_text: "Pestañas 2do Nivel"
banner_image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS8pS_Na9n5-EIk1KdnxfTZfsnl7ysUGgHFw&s"
name_carrera: "Detalles"
description_short: "Perfecciona tus técnicas con nuestro curso intensivo de Pestañas 2do Nivel, donde aprenderás técnicas avanzadas para lograr resultados espectaculares."
carousel_images:
  - url: "https://static1.mujerhoy.com/www/multimedia/201910/25/media/cortadas/pestanas-mas-tupidas-largas-lifting-k1fB-U90500641480Sc-624x936@MujerHoy.jpg"
    alt: "Imagen 1"
  - url: "https://static1.mujerhoy.com/www/multimedia/201910/25/media/cortadas/pestanas-mas-tupidas-largas-lifting-k1fB-U90500641480Sc-624x936@MujerHoy.jpg"
    alt: "Imagen 2"
  - url: "https://static1.mujerhoy.com/www/multimedia/201910/25/media/cortadas/pestanas-mas-tupidas-largas-lifting-k1fB-U90500641480Sc-624x936@MujerHoy.jpg"
    alt: "Imagen 3"
start_dates:
  - "Lunes 24 de junio"
  - "Viernes 28 de junio"
  - "Lunes 1 de julio"
  - "Viernes 5 de julio"
  - "Lunes 8 de julio (Cierre)"
schedules: 
  - "8 AM a 12 PM"
includes:
  - "Material"
  - "Constancia de Participación"
note_intro: "El curso durara los 5 Dias | Para brindarte una mayor información, comunícate vía WhatsApp"
inscription_text: "Inscripción $300\nCosto: $900"
durations: 
  - "5 días (20 horas en total)"
modality: "Presencial"
course_start: "24 de junio 2024"
planteles:
  - image: "https://tecsum.edu.mx/Images/Planteles/Naucalpan/Plantel-Naucalpan.webp"
    name: "Naucalpan"

---

<h3>Temario</h3>
<ul style="list-style: none; padding-left:0px">
  <li>♨ Técnicas en tendencia.</li>
  <li>PRODUCTOS Y TÉCNICAS A APRENDER:</li>
  <ul style="list-style: none; padding-left:0px">
    <li>✨ Efecto Rímel o Efecto Mojado</li>
    <li>✨ Efecto Kim o Wispy</li>
    <li>✨ Volumen Ruso</li>
    <li>✨ Megan Volumen con Efecto de Color</li>
    <li>✨ Efecto Anime</li>
  </ul>
</ul>
