---
layout: layout-cursos.njk
title: "Curso de Uñas 1er Nivel"
banner_text: "Uñas 1er Nivel"
banner_image: "https://okdiario.com/img/2024/01/29/unas-coquette-que-son-y-como-hacer-en-casa-la-manicura-mas-de-moda-en-2024.jpg"
name_carrera: "Detalles"
description_short: "Inicia tu formación en el mundo de la manicura con nuestro curso de Uñas 1er Nivel, donde aprenderás las técnicas fundamentales para el cuidado y embellecimiento de uñas."
carousel_images:
  - url: "https://images.pexels.com/photos/3997391/pexels-photo-3997391.jpeg?auto=compress&cs=tinysrgb&w=600"
    alt: "Imagen 1"
  - url: "https://images.pexels.com/photos/3997391/pexels-photo-3997391.jpeg?auto=compress&cs=tinysrgb&w=600"
    alt: "Imagen 2"
  - url: "https://images.pexels.com/photos/3997391/pexels-photo-3997391.jpeg?auto=compress&cs=tinysrgb&w=600"
    alt: "Imagen 3"
start_dates:
  - "Miércoles 7 de agosto"
  - "Viernes 9 de agosto"
schedules: 
  - "3 PM a 6 PM (Miércoles y Viernes)"
  - "11 AM a 2 PM (Sábados)"
durations: 
  - "5 Semanas (Entre Semana)"
  - "10 semanas (Sábados)"
includes:
  - "Equipo profesional de acrílico"
note_intro: "Para brindarte una mayor información, comunícate vía WhatsApp"
inscription_text: "Inscripción $300\nCosto: $900"

modality: "Presencial"
course_start: "7 de agosto 2024"
planteles:
  - image: "/img/Planteles/Naucalpan/Plantel-Naucalpan.webp"
    name: "Naucalpan"

---

<h3>Temario</h3>
<ul style="list-style: none; padding-left:0px">
  <li>🛠 Clase teórica: anatomía de las manos, morfología de las uñas, enfermedades y padecimientos de las uñas, bioseguridad, manejo de perlas de acrílico, conocimiento del producto, cuidados del pincel.</li>
  <li>📚 Práctica en tip natural, blanco y transparente, encapsulado y mano alzada.</li>
  <li>💅 Punta cuadrada escultural con marcación de curvatura C y punta cuadrada con tip.</li>
  <li>🌟 Punta coffin full cover y decoración y/o glitter encapsulado.</li>
  <li>🎨 3D básico: flor de cinco y tres pétalos, guirnalda sobre acetato.</li>
  <li>💠 Punta almond con decoración de 3D en cinco uñas.</li>
  <li>🔺 Punta stiletto escultural esmaltado a un tono.</li>
  <li>🔶 Punta almond escultural en baby boomer.</li>
  <li>🔷 Francés escultural en técnica de reversa punta cuadrada.</li>
  <li>📋 Evaluación.</li>
</ul>
